@inherits BlazorBusyComponentBaseModel

<MudDialog>
    <DialogContent>
        @if (IsBusyProgress)
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-3" />
        }
        <div class="mb-3">
            <label for="inputName" class="form-label">Name</label>
            <input type="text" id="inputName" class="form-control" aria-describedby="nameHelpBlock" @bind-value="Name" @bind-value:event="oninput">
        </div>
        <div class="mb-3">
            <label for="inputlocalDir" class="form-label">Local</label>
            <input type="text" id="inputlocalDir" class="form-control" aria-describedby="localDirHelpBlock" @bind-value="LocalDirectory" @bind-value:event="oninput">
            <div id="localDirHelpBlock" class="form-text">
                Локальная папка текущего устройства
            </div>
        </div>
        <div class="mb-3">
            <label for="inputRemoteDir" class="form-label">Remote</label>
            <input type="text" id="inputRemoteDir" class="form-control" aria-describedby="RemoteDirHelpBlock" @bind-value="RemoteDirectory" @bind-value:event="oninput">
            <div id="RemoteDirHelpBlock" class="form-text">
                Директория удалённого сервера
            </div>
        </div>
    </DialogContent>
    <DialogActions>
        @if (!initDelete)
        {
            <MudButton Disabled="@(!ValidateForm || IsEquals)" Color="Color.Primary" OnClick="SaveSyncDirectoryRule">Ok</MudButton>
            <MudButton Disabled="@(!ValidateForm)" OnClick="() => Test(true)">Проверить</MudButton>
        }
            <MudButton OnClick="Cancel">Закрыть</MudButton>

        @if (!IsEquals)
        {
            <MudButton Disabled="@IsEquals" OnClick="ResetValues">Сброс</MudButton>
        }
        @if (SyncRuleId > 0)
        {
            <MudButton Color="Color.Error" Variant="@(initDelete? Variant.Filled: Variant.Outlined)" OnClick="DeleteSyncRule">@(initDelete ? "Подтвердить удаление!" : "Удаление")</MudButton>
            @if (initDelete)
            {
                <MudButton OnClick="() => initDelete = false">Отменить удаление</MudButton>
            }
        }
    </DialogActions>
</MudDialog>