@page "/telegram-bot/chat-page/{ChatId:int}"
@attribute [Authorize(Roles = $"{GlobalStaticConstantsRoles.Roles.Admin},{GlobalStaticConstantsRoles.Roles.HelpDeskTelegramBotManager},{GlobalStaticConstantsRoles.Roles.HelpDeskTelegramBotUnit}")]

@rendermode @(new InteractiveServerRenderMode(prerender: false))
@using BlazorLib.Components.Telegram
@using MudBlazor

@inherits BlazorBusyComponentBaseModel

@if (IsBusyProgress)
{
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else if (Chat is null)
{
    <div class="alert alert-primary" role="alert">
        Chat not specified!
    </div>
}
else
{
    @if (Chat.UsersJoins!.Count > 1)
    {
        <h5 class="card-title">
            Members:
            @foreach (JoinUserChatModelDB uj in Chat.UsersJoins)
            {
                <span class="badge rounded-pill text-bg-primary mx-1">@uj.User!.FirstName @uj.User.LastName@(string.IsNullOrWhiteSpace(uj.User.Username) ? "" : $" @{uj.User.Username}")</span>
            }
        </h5>
        <hr />
    }

    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-2">
        <MudTabPanel Text="Чат">
            <TelegramChatWrapComponent Chat="Chat" />
        </MudTabPanel>
        <MudTabPanel Disabled="@(CurrentUser is null)" Text="Issues">
            <CascadingValue Value="SetTab">
                <TabSetComponent IsSilent="true" AsPills="true">
                    <TabComponent SystemName="@(nameof(HelpDeskJournalModesEnum.ActualOnly))" Title="Opened">
                        <HelpDeskJournalComponent UserIdentityId="@CurrentUser!.UserIdentityId" UserArea="UsersAreasHelpDeskEnum.Author" JournalMode="HelpDeskJournalModesEnum.ActualOnly" />
                    </TabComponent>
                    <TabComponent SystemName="@(nameof(HelpDeskJournalModesEnum.ArchiveOnly))" Title="Closed">
                        <HelpDeskJournalComponent UserIdentityId="@CurrentUser!.UserIdentityId" UserArea="UsersAreasHelpDeskEnum.Author" JournalMode="HelpDeskJournalModesEnum.ArchiveOnly" />
                    </TabComponent>
                    <TabComponent SystemName="@(nameof(HelpDeskJournalModesEnum.All))" Title="All">
                        <HelpDeskJournalComponent UserIdentityId="@CurrentUser!.UserIdentityId" UserArea="UsersAreasHelpDeskEnum.Author" JournalMode="HelpDeskJournalModesEnum.All" />
                    </TabComponent>
                </TabSetComponent>
            </CascadingValue>
            <CreateIssueComponent Update="Update" UserIdentityId="@CurrentUser!.UserIdentityId" />
        </MudTabPanel>
        <MudTabPanel Disabled="@(CurrentUser is null)" Text="Settings">
            <ChatSettingsHelpDeskComponent Chat="Chat" />
        </MudTabPanel>
    </MudTabs>
}