@inherits BlazorBusyComponentBaseModel

<MudTable ServerData="ServerReload" Dense Hover @ref="tableRef">
    <ToolBarContent>
        <MudText Class="me-2" Typo="Typo.h6">Adapters</MudText>
        <NavLink class="link-info" href="adapter/0/edit" title="add new adapter">
            <sup>+</sup>
        </NavLink>
        <MudSpacer />
        <MudCheckBox @bind-Value="OfflineFilter" Color="@Color.Secondary" TriState>Offline filter</MudCheckBox>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Type</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>Address</MudTh>
        <MudTh>Login</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Type"><a href="/adapter/@context.Id/edit">@context.AdapterTypeName.DescriptionInfo()</a></MudTd>
        <MudTd DataLabel="Name">
            <a href="/adapter/@context.Id/edit">@context.Name</a>
            <sup class="text-@(context.IsOnline ? "success" : "secondary")">
                @(context.IsOnline ? "ON" : "offline")
            </sup>
        </MudTd>
        <MudTd DataLabel="Address">@context.Address</MudTd>
        <MudTd DataLabel="Login">
            @if (context.IsDemo)
            {
                <MudChip T="string" Color="Color.Primary">DEMO MODE</MudChip>
            }
            <span>@context.Login</span>
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>Nothing found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Downloading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>