@inherits StockSharpBaseComponent

@if (IsBusyProgress)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-3" />
}

<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
    <MudTabPanel Text="Connection">
        <MudText>
            @if (AboutConnection is null)
            {
                <div class="alert alert-secondary" role="alert">
                    Диагностика подключения...
                </div>
            }
            else
            {
                <div class="d-grid gap-2">
                    @{
                        bool allowed = IsBusyProgress || AboutConnection.ConnectionState != ConnectionStatesEnum.Disconnected;
                    }
                    <button disabled="@allowed" @onclick="Connect" class="btn btn-@(allowed ? "outline-" : "")primary" type="button">
                        @(AboutConnection.ConnectionState == ConnectionStatesEnum.Disconnected ? "Connect" : $"Current status: {AboutConnection.ConnectionState}...")
                    </button>
                    @{
                        bool allowed2 = IsBusyProgress || AboutConnection.ConnectionState != ConnectionStatesEnum.Connected;
                    }
                    <button disabled="@allowed2" @onclick="Disconnect" class="btn btn-@(allowed2 ? "outline-" : "")primary" type="button">
                        @(AboutConnection.ConnectionState == ConnectionStatesEnum.Connected ? "Disconnect" : $"Current status: {AboutConnection.ConnectionState}...")
                    </button>
                    <button disabled="@(IsBusyProgress)" @onclick="GetStatusConnection" class="btn btn-outline-info" type="button">Reload status connection</button>
                </div>
            }

            @if (AboutConnection is not null)
            {
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <p>Connection Status: @AboutConnection.ConnectionState?.DescriptionInfo()</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Can connect probe: <cite title="Checking connectivity">@AboutConnection.CanConnect</cite>
                    </figcaption>
                </figure>
            }
        </MudText>
    </MudTabPanel>
    <MudTabPanel Text="Trading">
        <TradingAreaComponent />
    </MudTabPanel>
</MudTabs>