@inherits StockSharpAboutComponent

<MudTable ServerData="ServerReload"
          Dense="true"
          Hover="true"
          Loading="IsBusyProgress"
          Striped
          @ref="_tableRef">
    <ToolBarContent>
        <MudText Typo="Typo.h6">
            <span title="Click for reload instruments" style="cursor:pointer;" @onclick="_tableRef!.ReloadServerData">Instruments</span>
            <sup style="cursor:pointer" @onclick="StateFilterToggle">
                <span class="link-@(_stateFilter ? "secondary" : "primary")">all</span> | <span class="link-@(_stateFilter ? "primary" : "secondary")">actual</span>
            </sup>
        </MudText>
        <MudSpacer />
        <MudTextField T="string"
                      Label="Find"
                      Immediate
                      ValueChanged="@(s => OnSearch(s))"
                      Placeholder="Search"
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      IconSize="Size.Medium"
                      Class="mt-0 me-1" />
        <MudSelect T="BoardStockSharpViewModel"
                   Label="Boards"
                   MultiSelection="true"
                   @bind-SelectedValues="SelectedBoards"
                   Adornment="Adornment.Start"
                   AdornmentIcon="@Icons.Custom.Uncategorized.ChessKnight"
                   IconSize="Size.Small"
                   Clearable
                   Dense
                   Class="mt-0 me-1">
            @foreach (BoardStockSharpViewModel state in Boards)
            {
                <MudSelectItem T="BoardStockSharpViewModel" Value="@state">@state</MudSelectItem>
            }
        </MudSelect>
        <MudSelect T="CurrenciesTypesEnum"
                   Label="Currency"
                   MultiSelection="true"
                   @bind-SelectedValues="CurrenciesSelected"
                   Adornment="Adornment.Start"
                   AdornmentIcon="@Icons.Material.Filled.AttachMoney"
                   IconSize="Size.Small"
                   Clearable
                   Dense
                   Class="mt-0">
            @foreach (CurrenciesTypesEnum state in Enum.GetValues<CurrenciesTypesEnum>().OrderBy(x => x.DescriptionInfo()))
            {
                <MudSelectItem T="CurrenciesTypesEnum" Value="@state">@state.DescriptionInfo()</MudSelectItem>
            }
        </MudSelect>
        <MudSelect T="InstrumentsStockSharpTypesEnum"
                   Label="Type"
                   MultiSelection="true"
                   @bind-SelectedValues="TypesSelected"
                   Adornment="Adornment.Start"
                   AdornmentIcon="@Icons.Material.Filled.Abc"
                   IconSize="Size.Small"
                   Clearable
                   Dense
                   Class="mt-0 me-1">
            @foreach (InstrumentsStockSharpTypesEnum state in Enum.GetValues<InstrumentsStockSharpTypesEnum>().OrderBy(x => x.DescriptionInfo()))
            {
                <MudSelectItem T="InstrumentsStockSharpTypesEnum" Value="@state">@state.DescriptionInfo()</MudSelectItem>
            }
        </MudSelect>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="Name" T="InstrumentTradeStockSharpViewModel">Name</MudTableSortLabel></MudTh>
        <MudTh>Code</MudTh>
        <MudTh>Rubrics</MudTh>
        <MudTh>Markers</MudTh>
        <MudTh>Favorite</MudTh>
        <MudTh>Currency</MudTh>
        <MudTh>Type</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name" title="@($"last updated: {(DateTime.UtcNow - context.LastUpdatedAtUTC).Duration().ToReadableString()}")">
            <div class="hstack">
                <MudHighlighter Text="@context.Name" HighlightedText="@searchString" />
                <sup @onclick="() => { if (!EachDisable) { ManualOrder(context); } }" style="@StyleSup(context)" class="@ClassSup(context)"></sup>
            </div>
        </MudTd>
        <MudTd DataLabel="Code">
            <strong class="me-2">
                <MudHighlighter Text="@context.IdRemote" HighlightedText="@searchString" />
            </strong>
        </MudTd>
        <MudTd DataLabel="Rubrics">
            <RubricsOfInstrumentComponent Instrument="context" />
        </MudTd>
        <MudTd DataLabel="Markers">
            <MarkersOfInstrumentComponent Instrument="context" />
        </MudTd>
        <MudTd DataLabel="Favorite">
            <MudSwitch ValueChanged="async () => await FavoriteToggle(context)"
                       Value="context.IsFavorite"
                       ReadOnly="IsBusyProgress"
                       Color="@(context.IsFavorite ? Color.Success : Color.Secondary)"
                       T="bool" />
        </MudTd>
        <MudTd DataLabel="Currency">@((CurrenciesTypesEnum)context.Currency)</MudTd>
        <MudTd DataLabel="Type">@((InstrumentsStockSharpTypesEnum)context.TypeInstrument)</MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>Nothing found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Downloading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

<MudDialog @bind-Visible="ManualOrderCreating" Options="_dialogOptions">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> New order
        </MudText>
    </TitleContent>
    <DialogContent>
        <TestComponent SetInstrument="manualOrderContext" />
    </DialogContent>
</MudDialog>