@inherits BlazorBusyComponentBaseModel

<MudTable ServerData="ServerReload" Dense="true" Hover="true" Loading="IsBusyProgress" @ref="_tableRef">
    <ToolBarContent>
        <MudText Typo="Typo.h6">
            Инструменты
            @* <sup>
                <span>все</span> | <span>активные</span>
            </sup> *@
        </MudText>
        <MudSpacer />
        <MudTextField T="string"
                      Label="Find"
                      Immediate
                      ValueChanged="@(s => OnSearch(s))"
                      Placeholder="Search"
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      IconSize="Size.Medium"
                      Class="mt-0" />
        <MudSelect T="InstrumentsStockSharpTypesEnum"
                   Label="Type"
                   MultiSelection="true"
                   @bind-SelectedValues="TypesSelected"
                   Adornment="Adornment.Start"
                   AdornmentIcon="@Icons.Material.Filled.Search"
                   IconSize="Size.Small"
                   Clearable
                   FitContent
                   Class="mt-0 me-1">
            @foreach (InstrumentsStockSharpTypesEnum state in Enum.GetValues<InstrumentsStockSharpTypesEnum>().OrderBy(x => x.DescriptionInfo()))
            {
                <MudSelectItem T="InstrumentsStockSharpTypesEnum" Value="@state">@state.DescriptionInfo()</MudSelectItem>
            }
        </MudSelect>
        <MudSelect T="CurrenciesTypesEnum"
                   Label="Currency"
                   MultiSelection="true"
                   @bind-SelectedValues="CurrenciesSelected"
                   Adornment="Adornment.Start"
                   AdornmentIcon="@Icons.Material.Filled.Search"
                   IconSize="Size.Small"
                   Clearable
                   FitContent
                   Class="mt-0 me-1">
            @foreach (CurrenciesTypesEnum state in Enum.GetValues<CurrenciesTypesEnum>().OrderBy(x => x.DescriptionInfo()))
            {
                <MudSelectItem T="CurrenciesTypesEnum" Value="@state">@state.DescriptionInfo()</MudSelectItem>
            }
        </MudSelect>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="Name" T="InstrumentTradeStockSharpViewModel">Name</MudTableSortLabel></MudTh>
        <MudTh>Code</MudTh>
        <MudTh>Currency</MudTh>
        <MudTh>Type</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Id">
            <MudStack Row="true">
                <strong>@context.IdRemote</strong>
                <div>
                    <MudSwitch ValueChanged="async () => await FavoriteToggle(context)"
                               Value="context.IsFavorite"
                               ReadOnly="IsBusyProgress"
                               Color="Color.Primary"
                               Class="mr-n2 mb-6"
                               T="bool" />
                </div>
            </MudStack>
        </MudTd>
        <MudTd DataLabel="Currency">@context.Currency</MudTd>
        <MudTd DataLabel="TypeInstrument">@context.TypeInstrument</MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>Ни чего не найдено</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Загрузка...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>