@using MudBlazor

@attribute [Authorize]
@inherits IssueWrapBaseModel

<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            @if (IsEditMode)
            {
                <MudTextField Immediate @bind-Value="NameIssueEdit" Label="Subject issue" Variant="Variant.Text"></MudTextField>
            }
            else
            {
                <MudText Typo="Typo.h6">Issue: @Issue.Name</MudText>
            }
        </CardHeaderContent>
        <CardHeaderActions>
            @if (IsEditMode)
            {
                <MudIconButton title="Save" Disabled="@(!IsEdited || !CanSave)" OnClick="SaveIssue" Size="Size.Small" Icon="@Icons.Material.Filled.Save" Color="@(IsEdited? Color.Primary: Color.Default)" />
                <MudIconButton title="Cancel" OnClick="CancelEdit" Size="Size.Small" Icon="@Icons.Material.Filled.Cancel" />
            }
            else
            {
                <MudIconButton Disabled="@(!CanEdit)" title="Edit" OnClick="EditToggle" Size="Size.Small" Icon="@Icons.Material.Filled.Edit" />
            }
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent>
        @if (IsEditMode)
        {
            <RubricInputComponent RubricInitial="(IssueSource?.RubricIssueId ?? 0)"
                                  ModeSelectingRubrics=ModeSelectingRubrics
                                  ShowDisabledRubrics="ShowDisabledRubrics"
                                  SelectRubricsHandle="RubricSelectAction" />
            <hr />
            <InputRichTextComponent @bind-Value="DescriptionIssueEdit" ReadOnly="IsBusyProgress" />
        }
        else
        {
            <span><b>Rubric:</b> "@(Issue.RubricIssue?.Name ?? "- not set -")"</span>
            <hr />
            @DescriptionHtml
        }
    </MudCardContent>
</MudCard>