@using MudBlazor

<MudExpansionPanels>
    <MudExpansionPanel ExpandedChanged="OnExpandedChanged" Disabled="@(MetaData?.SignOfRelevance != SignOfRelevanciesEnum.Actual)">
        <TitleContent>
            @if (MetaData is null)
            {
                <figure>
                    <blockquote class="blockquote">
                        <p>Метаданные не загружены.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Код объекта <cite>не инициализирован</cite>
                    </figcaption>
                </figure>
            }
            else
            {
                <div class="hstack gap-3">
                    @switch (MetaData.Level)
                    {
                        case KladrTypesObjectsEnum.RootRegion:
                            <MudIcon Icon="@Icons.Material.Filled.CenterFocusStrong" Size="Size.Small" Color="@(Expanded ? Color.Primary : Color.Default)" />
                            break;
                        case KladrTypesObjectsEnum.Area:
                            <MudIcon Icon="@Icons.Material.Filled.Assistant" Size="Size.Small" />
                            break;
                        case KladrTypesObjectsEnum.City:
                            <MudIcon Icon="@Icons.Material.Filled.Business" Size="Size.Small" />
                            break;
                        case KladrTypesObjectsEnum.PopPoint:
                            <MudIcon Icon="@Icons.Material.Filled.Bungalow" Size="Size.Small" />
                            break;
                        default:
                            <MudIcon Icon="@Icons.Material.Filled.Error" Color="Color.Error" />
                            break;
                    }

                    @if (ObjectKLADR.SOCR[..1].ToUpper().Equals(ObjectKLADR.SOCR[..1]))
                    {
                        <span class="font-monospace">@ObjectKLADR.SOCR</span>
                        <strong>@ObjectKLADR.NAME</strong>
                    }
                    else
                    {
                        <strong>@ObjectKLADR.NAME</strong>
                        <sub class="font-monospace">@ObjectKLADR.SOCR</sub>
                    }
                    <SupCodeKladrComponent MetaData="MetaData" />
                    <MudSpacer />
                    <LinksKladrComponent PostIndex="@ObjectKLADR.INDEX" Owner="Parent" />
                </div>
            }
        </TitleContent>
        <ChildContent>
            @if (Expanded && MetaData?.SignOfRelevance == SignOfRelevanciesEnum.Actual)
            {
                <QueryNavKladrComponent CodeLikeFilter="@ObjectKLADR.CODE" Parent="Parent" />
            }
        </ChildContent>
    </MudExpansionPanel>
</MudExpansionPanels>