@inherits BlazorBusyComponentBaseAuthModel

@if (clients is not null && clients.Count != 0)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col" @onclick="Reload" style="cursor:pointer;">
                    @if (IsBusyProgress)
                    {
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    }
                    else
                    {
                        <text>#</text>
                    }
                </th>
                <th scope="col">Sent</th>
                <th scope="col">Received</th>
                <th scope="col">Last Packet Sent</th>
                <th scope="col">Remote End Point</th>
                <th scope="col">Connected</th>
                <th scope="col">Sent Application Messages Count</th>
                <th scope="col">Last NonKeep Alive Packet Received</th>
                <th scope="col">Last Packet Received</th>
                <th scope="col">Received Application Messages Count</th>
                <th scope="col">Protocol Version</th>
            </tr>
        </thead>
        <tbody>
            @foreach (MqttClientModel _cli in clients)
            {
                <tr>
                    <th scope="row">@_cli.Id</th>
                    <td>
                        <span style="display: block;">
                            @_cli.BytesSent&nbsp;(@GlobalToolsStandard.SizeDataAsString(_cli.SentPacketsCount).Replace(" ", "_"))
                        </span>
                    </td>
                    <td>
                        <span style="display: block;">
                            @_cli.ReceivedPacketsCount&nbsp;(@GlobalToolsStandard.SizeDataAsString(_cli.BytesReceived).Replace(" ", "_"))
                        </span>
                    </td>
                    <td>@_cli.LastPacketSentTimestamp</td>
                    <td>@_cli.RemoteEndPoint</td>
                    <td>@_cli.ConnectedTimestamp</td>
                    <td>@_cli.SentApplicationMessagesCount</td>
                    <td>@_cli.LastNonKeepAlivePacketReceivedTimestamp</td>
                    <td>@_cli.LastPacketReceivedTimestamp</td>
                    <td>@_cli.ReceivedApplicationMessagesCount</td>
                    <td>@_cli.ProtocolVersion</td>
                </tr>
            }
        </tbody>
    </table>
}