@using SharedLib
@using System.Data
@using ToolsMauiLib

<div class="ms-2 me-auto">
    <div class="fw-bold">@FileViewElement.Name</div>
    @GlobalTools.SizeDataAsString(FileViewElement.Size)
</div>
<span title="последнее изменение" class="badge text-bg-primary rounded-pill">@FileViewElement.LastModified</span>

@if (DemoTable.Columns is not null)
{
    <table class="table">
        <thead>
            <tr>
                @foreach (FieldDescriptor col in DemoTable.Columns)
                {
                    <th scope="col">@col.fieldName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in DemoTable.TableData.Rows)
            {
                <tr>
                    @foreach (FieldDescriptor col in DemoTable.Columns)
                    {
                        <td>@row[col.fieldName].ToString()</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}