@using System.Text
@using BlazorLib
@using SharedLib

@inherits BlazorBusyComponentBaseModel

@if (IsBusyProgress)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-3" />
}
<label for="exampleFormControlInputFile" class="form-label">Добавьте файлы классификатора (*.dbf):</label>
<div class="input-group mb-3">
    <InputFile @key=@(_inputFileId) class="form-control" OnChange="SelectFilesChange" id="exampleFormControlInputFile" multiple />
    <button @onclick="SendFile" disabled="@(IsBusyProgress || loadedFiles.Count == 0 || !CanSend)" class="btn btn-outline-secondary" type="button">@(loadedFiles.Count == 0 ? "Выберете файл для отправки..." : "Отправить")</button>
    @if (loadedFiles.Count != 0)
    {
        <button @onclick="() => { loadedFiles.Clear(); _inputFileId = Guid.NewGuid().ToString(); }" disabled="@IsBusyProgress" class="btn btn-light" type="button">Сброс</button>
    }
</div>

@if (loadedFiles.Count != 0)
{
    <MudSelect T="string" Label="Кодировка" @bind-Value="SelectedEncoding">
        @foreach (EncodingInfo enc in Encoding.GetEncodings())
        {
            <MudSelectItem T="string" Value="@enc.Name">@enc.Name</MudSelectItem>
        }
    </MudSelect>
    <br />
    <code>Выбранные файлы (@(GlobalTools.SizeDataAsString(loadedFiles.Sum(x => x.Size)))):</code>
    <ol class="list-group list-group-numbered mb-2">
        @foreach (IBrowserFile FileViewElement in loadedFiles)
        {
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <KladrFileViewComponent FileViewElement="FileViewElement" InitHandle="InitHandleAction" />
            </li>
        }
    </ol>
}