@using BlazorLib
@using SharedLib
@using System.Data
@using System.Text
@using ToolsMauiLib

@inherits BlazorBusyComponentBaseModel

<div class="ms-2 me-auto">
    <div class="fw-bold">
        @FileViewElement.Name
        @if (IsBusyProgress)
        {
            <MudProgressCircular Class="ms-2" Color="Color.Primary" Size="Size.Small" Indeterminate="true" />
        }
    </div>
    @GlobalTools.SizeDataAsString(FileViewElement.Size)
    @{
        int percentageVal = NumRecordsTotal / 100 * numRecordProgress;
    }
    @if (numRecordProgress != 0)
    {
        <span class="ps-2">Загрузка (@percentageVal%): @numRecordProgress из @NumRecordsTotal</span>
        <MudProgressLinear Color="Color.Primary" Indeterminate="@((percentageVal) < 2)" Value="@numRecordProgress" Class="my-7" Max="NumRecordsTotal" />
    }
    @if (DemoTable?.Columns is not null)
    {
        <table class="table">
            <thead>
                <tr>
                    @foreach (FieldDescriptorBase col in DemoTable.Value.Columns)
                    {
                        <th scope="col">
                            @col.FieldName
                            <sup title="Тип данных (и длина)" class="ms-1">@col.FieldType (@col.FieldLen)</sup>
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (object[] row in DemoTable.Value.TableData)
                {
                    int i = 0;
                    <tr>
                        @foreach (FieldDescriptorBase col in DemoTable.Value.Columns)
                        {
                            <td>@row[i++].ToString()</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    else if (!IsBusyProgress)
    {
        <figure class="text-center">
            <blockquote class="blockquote">
                <p>Данные не загружены.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Отсутствует <cite title="Source Title">demo seed</cite>
            </figcaption>
        </figure>
    }
</div>
<span title="последнее изменение" class="badge text-bg-primary rounded-pill">
    @FileViewElement.LastModified
</span>