@using BlazorLib
@using SharedLib
@using System.Data
@using System.Text
@using ToolsMauiLib

@inherits BlazorBusyComponentBaseModel

<div class="ms-2 me-auto">
    <div class="fw-bold">
        @FileViewElement.Name
        @if (IsBusyProgress)
        {
            <MudProgressCircular Color="Color.Primary" Size="Size.Small" Indeterminate="true" />
        }
    </div>
    @GlobalTools.SizeDataAsString(FileViewElement.Size)
    @if (DemoTable.Columns is not null)
    {
        <table class="table">
            <thead>
                <tr>
                    @foreach (FieldDescriptorBase col in DemoTable.Columns)
                    {
                        <th scope="col">
                            @col.FieldName
                            <sup title="Тип данных (и длина)" class="ms-1">@col.FieldType (@col.FieldLen)</sup>
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (object[] row in DemoTable.TableData)
                {
                    int i = 0;
                    <tr>
                        @foreach (FieldDescriptorBase col in DemoTable.Columns)
                        {
                            <td>@row[i++].ToString()</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<span title="последнее изменение" class="badge text-bg-primary rounded-pill">
    @FileViewElement.LastModified
</span>