@using MudBlazor

@inherits BlazorBusyComponentBaseAuthModel

<div data-type-descr="@CodeKladrModel.Build(Item.Value!.CODE)"
     data-code="@Item.Value?.CODE" @key="DomID"
     style="display: grid; grid-template-columns: 1fr auto; align-items: center; width: 100%">
    <MudStack Row="true">
        <div class="row">
            <div class="col-auto">
                <span>@Item.Value!.NAME</span>
                <sub class="text-@GetGetCss() me-2">@Item.Value!.SOCR</sub>
                @if (KladrMainTreeView.SelectedFieldsView?.Contains(nameof(Item.Value.CODE)) == true)
                {
                    <sup>
                        @Item.Value.CODE
                        @if (StatusElement != "0" && !string.IsNullOrWhiteSpace(StatusElement))
                        {
                            <abbr class="ms-2">@StatusElement</abbr>
                        }
                    </sup>
                }
                else if (StatusElement != "0" && !string.IsNullOrWhiteSpace(StatusElement))
                {
                    <sup>
                        [STATUS: <abbr class="ms-2">@StatusElement</abbr>]
                    </sup>
                }
            </div>

            <div class="col-auto">
                @if (KladrMainTreeView.SelectedFieldsView?.Contains(nameof(Item.Value.UNO)) == true)
                {
                    <span class="badge text-bg-info me-1">@($"{nameof(Item.Value.UNO)}: {Item.Value.UNO}")</span>
                }
                @if (KladrMainTreeView.SelectedFieldsView?.Contains(nameof(Item.Value.CODE)) == true)
                {
                    <span class="badge text-bg-warning me-1">@($"{nameof(Item.Value.CODE)}: {Item.Value.CODE}")</span>
                }
                @if (KladrMainTreeView.SelectedFieldsView?.Contains(nameof(Item.Value.OCATD)) == true)
                {
                    <span class="badge text-bg-primary me-1">@($"{nameof(Item.Value.OCATD)}: {Item.Value.OCATD}")</span>
                }
                @if (KladrMainTreeView.SelectedFieldsView?.Contains(nameof(Item.Value.GNINMB)) == true)
                {
                    <span class="badge text-bg-success me-1">@($"{nameof(Item.Value.GNINMB)}: {Item.Value.GNINMB}")</span>
                }
            </div>
        </div>
    </MudStack>
    <div style="justify-self: end;">
        <div class="row">
            <div class="col-auto">
                <div class="hstack">
                    <a href="https://www.pochta.ru/offices/@Item.Value?.INDEX" title="Почтовый индекс" target="_blank">@Item.Value?.INDEX</a>
                    <MudIconButton Class="ms-2" Icon="@Icons.Material.Filled.Map" OnClick="GoToMap"></MudIconButton>
                    @* <MudIconButton Icon="@Icons.Material.Filled.ArrowDropDown"></MudIconButton>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button title="Переименовать элемент" type="button" class="btn btn-outline-info btn-sm bi bi bi-pencil"></button>                        
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</div>