@using BlazorWebLib.Components.Helpdesk
@using MudBlazor

@inherits BlazorBusyComponentBaseModel

@if (IsBusyProgress)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-3" />
}
<div class="card">
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-body-secondary">Отображение</h6>
        <MudChipSet @bind-SelectedValues="SelectedFieldsView" SelectionMode="SelectionMode.MultiSelection" CheckMark Variant="Variant.Text" Color="Color.Info">
            <MudChip Value="@(nameof(RootKLADRModelDB.UNO))" />
            <MudChip Value="@(nameof(RootKLADRModelDB.CODE))" />
            <MudChip Value="@(nameof(RootKLADRModelDB.OCATD))" />
            <MudChip Value="@(nameof(RootKLADRModelDB.GNINMB))" />
        </MudChipSet>
    </div>
</div>
<MudTreeView T="RootKLADRModelDB" @ref="treeRef"
             Hover Dense Style="width: 100%"
             ServerData="@LoadServerData"
             Items="@InitialTreeItems"
             SelectedValuesChanged="SelectedValuesChangeHandler"
             SelectionMode="@(SelectedValuesChanged is null ? SelectionMode.ToggleSelection: SelectionMode.MultiSelection)">
    <ItemTemplate Context="item">
        <MudTreeViewItem @key="@($"node-kladr-{item.Value?.Id}")" Text="@item.Text" Icon="@item.Icon" IconExpanded="@Icons.Custom.Uncategorized.FolderOpen" Value="item.Value" Items="item.Children?.ToList()" CanExpand="item.Expandable" Selected="item.Selected">
            <BodyContent>
                <CascadingValue Value="ReloadNodeAction">
                    <CascadingValue Value="ItemUpdAction">
                        <CascadingValue Value="(TreeItemDataKladrModel)item">
                            <CascadingValue Value="KladrMainTreeViewSet">
                                <KladrTreeNodeComponent ContextName="@ContextName" />
                            </CascadingValue>
                        </CascadingValue>
                    </CascadingValue>
                </CascadingValue>
            </BodyContent>
        </MudTreeViewItem>
    </ItemTemplate>
</MudTreeView>