@using MudBlazor

<MudExpansionPanels>
    <MudExpansionPanel ExpandedChanged="OnExpandedChanged" Disabled="@(MetaData?.SignOfRelevance != SignOfRelevanciesEnum.Actual)">
        <TitleContent>
            <div class="hstack gap-3">
                @switch (MetaData?.Level)
                {
                    case KladrTypesObjectsEnum.RootRegion:
                        <MudIcon Icon="@Icons.Material.Filled.CenterFocusStrong" Size="Size.Small" />
                        break;
                    case KladrTypesObjectsEnum.Area:
                        <MudIcon Icon="@Icons.Material.Filled.Assistant" Size="Size.Small" />
                        break;
                    case KladrTypesObjectsEnum.City:
                        <MudIcon Icon="@Icons.Material.Filled.Business" Size="Size.Small" />
                        break;
                    case KladrTypesObjectsEnum.PopPoint:
                        <MudIcon Icon="@Icons.Material.Filled.Bungalow" Size="Size.Small" />
                        break;
                    default:
                        <MudIcon Icon="@Icons.Material.Filled.Error" Color="Color.Error" />
                        break;
                }

                @if (ObjectKLADR.SOCR[..1].ToUpper().Equals(ObjectKLADR.SOCR[..1]))
                {
                    <span class="font-monospace">@ObjectKLADR.SOCR</span>
                    <strong>@ObjectKLADR.NAME</strong>
                }
                else
                {
                    <strong>@ObjectKLADR.NAME</strong>
                    <sub class="font-monospace">@ObjectKLADR.SOCR</sub>
                }
                <sup>
                    <u title="Код региона: два разряда">@ObjectKLADR.CODE.Substring(0, 2)</u>
                    <u title="Код района: три разряда">@ObjectKLADR.CODE.Substring(2, 3)</u>
                    <u title="Код города: три разряда">@ObjectKLADR.CODE.Substring(5, 3)</u>
                    <u title="Код населённого пункта: три разряда">@ObjectKLADR.CODE.Substring(8, 3)</u>
                    @ObjectKLADR.CODE.Substring(11)
                </sup>
                @if (MetaData?.SignOfRelevance is not null && MetaData.SignOfRelevance != SignOfRelevanciesEnum.Actual)
                {
                    <mark>@MetaData.SignOfRelevance.Value.DescriptionInfo()</mark>
                }
            </div>
        </TitleContent>
        <ChildContent>
            @if (Expanded && MetaData?.SignOfRelevance == SignOfRelevanciesEnum.Actual)
            {
                <KladrQueryNavComponent CodeLikeFilter="@ObjectKLADR.CODE" />
            }
        </ChildContent>
    </MudExpansionPanel>
</MudExpansionPanels>