@using MudBlazor

<div style="justify-self: end;">
    <MudIconButton Class="ms-2" Icon="@Icons.Material.Filled.Map" OnClick="GoToMap"></MudIconButton>
    @if (!string.IsNullOrWhiteSpace(PostIndex))
    {
        <a href="https://www.pochta.ru/offices/@PostIndex" title="Почтовый индекс" target="_blank">@PostIndex</a>
    }

    @if (SelectedFieldsView?.Contains(nameof(RootKLADRModelDB.UNO)) == true && !string.IsNullOrEmpty(Payload.UNO))
    {
        <span title="Код территориального участка ИФНС" class="badge text-bg-info me-1">@($"{nameof(RootKLADRModelDB.UNO)}: {Payload.UNO}")</span>
    }
    @if (SelectedFieldsView?.Contains(nameof(RootKLADRModelDB.OCATD)) == true && !string.IsNullOrWhiteSpace(Payload.OCATD))
    {
        <span title="Код ОКАТО" class="badge text-bg-primary me-1">@($"{nameof(RootKLADRModelDB.OCATD)}: {Payload.OCATD}")</span>
    }
    @if (SelectedFieldsView?.Contains(nameof(RootKLADRModelDB.GNINMB)) == true)
    {
        <span title="Код ИФНС" class="badge text-bg-success me-1">@($"{nameof(RootKLADRModelDB.GNINMB)}: {Payload.GNINMB}")</span>
    }
</div>