@using MudBlazor

<MudExpansionPanels>
    <MudExpansionPanel ExpandedChanged="OnExpandedChanged" Disabled="@(MetaData?.SignOfRelevance != SignOfRelevanciesEnum.Actual)">
        <TitleContent>
            @if (MetaData is null)
            {
                <figure>
                    <blockquote class="blockquote">
                        <p>Метаданные не загружены.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Код объекта <cite>не инициализирован</cite>
                    </figcaption>
                </figure>
            }
            else
            {
                <div class="hstack gap-3">
                    <MudIcon Icon="@Icons.Material.Filled.AccountTree" Size="Size.Small" Style="@($"color:{Colors.Teal.Darken2};")" Title="Улица" />
                    <strong>@ObjectKLADR.NAME</strong>
                    <sub class="font-monospace">@ObjectKLADR.SOCR</sub>
                    <SupCodeKladrComponent MetaData="MetaData" />
                    <MudSpacer />
                    <LinksKladrComponent PostIndex="@ObjectKLADR.INDEX" Owner="Parent" />
                </div>
            }
        </TitleContent>
        <ChildContent>
            @if (Expanded && MetaData?.SignOfRelevance == SignOfRelevanciesEnum.Actual)
            {
                <QueryNavKladrComponent CodeLikeFilter="@ObjectKLADR.CODE" Parent="Parent" />
            }
        </ChildContent>
    </MudExpansionPanel>
</MudExpansionPanels>