@using MudBlazor

@inherits BlazorBusyComponentBaseAuthModel

<div data-type-descr="@MetaType?.DescriptionInfo()"
     data-code="@Item.Value?.CODE" @key="DomID"
     style="display: grid; grid-template-columns: 1fr auto; align-items: center; width: 100%">
    <MudStack Row="true">
        <div class="row">
            <div class="col-auto">
                <span>@Item.Value!.NAME</span>
                <sub class="text-@GetGetCss() me-2">@Item.Value!.SOCR</sub>
                @if (IsDebug)
                {
                    @* <sup>
                        @Item.Value.CODE
                        @if (StatusElement != "0")
                        {
                            <abbr class="ms-2">@StatusElement</abbr>
                        }
                    </sup> *@
                }
            </div>
            @if (IsDebug)
            {
                @* <div class="col-auto">
                    <code>@MetaType?.DescriptionInfo()</code>
                </div> *@
            }
            @* 
            <div class="col-auto">
                <button type="button" class="btn btn-outline-info btn-sm">Отмена</button>
            </div> *@
        </div>
        @* else
        {
            <span class="font-monospace">@Item.Text</span>
        } *@
    </MudStack>
    <div style="justify-self: end;">
        <div class="row">
            <div class="col-auto">
                <div class="hstack">
                    <a href="https://www.pochta.ru/offices/@Item.Value?.INDEX" title="Почтовый индекс" target="_blank">@Item.Value?.INDEX</a>
                    <MudIconButton Class="ms-2" Icon="@Icons.Material.Filled.Map" OnClick="GoToMap"></MudIconButton>
                    @* <MudIconButton Icon="@Icons.Material.Filled.ArrowDropDown"></MudIconButton>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button title="Переименовать элемент" type="button" class="btn btn-outline-info btn-sm bi bi bi-pencil"></button>                        
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</div>