@using MudBlazor

@inherits BlazorBusyComponentBaseAuthModel

<div style="display: grid; grid-template-columns: 1fr auto; align-items: center; width: 100%">
    <MudStack Row="true">
        <div class="row">
            <div class="col-auto">
                <span>@Item.Value!.NAME @Item.Value!.SOCR</span>
            </div>
            @* <div class="col-auto">
                <button disabled="@(!IsEditedName)" type="button" class="btn btn-outline-info btn-sm">@ItemModel?.STATUS</button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-outline-info btn-sm">Отмена</button>
            </div> *@
        </div>
        @* else
        {
            <span class="font-monospace">@Item.Text</span>
        } *@
    </MudStack>
    <div style="justify-self: end;">
        <div class="row">
            <div class="col-auto">
                <div class="hstack">
                    <MudIconButton Icon="@Icons.Material.Filled.ArrowDropUp"></MudIconButton>
                    <MudIconButton Icon="@Icons.Material.Filled.ArrowDropDown"></MudIconButton>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button title="Переименовать элемент" type="button" class="btn btn-outline-info btn-sm bi bi bi-pencil"></button>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>