@using MudBlazor

@inherits BlazorBusyComponentBaseAuthModel

<div @key="DomID" style="display: grid; grid-template-columns: 1fr auto; align-items: center; width: 100%">
    <MudStack Row="true">
        <div class="row" title="@MetaType?.DescriptionInfo()">
            <div class="col-auto">
                <span>@Item.Value!.NAME</span> 
                <sub class="text-@GetCss">@Item.Value!.SOCR</sub>
                @* <sup>@Item.Value.CODE</sup> *@
            </div>
            @* <div class="col-auto">
                <code>@MetaType?.DescriptionInfo()</code>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-outline-info btn-sm">Отмена</button>
            </div> *@
        </div>
        @* else
        {
            <span class="font-monospace">@Item.Text</span>
        } *@
    </MudStack>
    <div style="justify-self: end;">
        <div class="row">
            <div class="col-auto">
                <div class="hstack">
                    <a href="https://www.pochta.ru/offices/@Item.Value?.INDEX" title="Почтовый индекс" target="_blank">@Item.Value?.INDEX</a>
                    @* <MudIconButton Icon="@Icons.Material.Filled.ArrowDropUp"></MudIconButton>
                    <MudIconButton Icon="@Icons.Material.Filled.ArrowDropDown"></MudIconButton>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button title="Переименовать элемент" type="button" class="btn btn-outline-info btn-sm bi bi bi-pencil"></button>                        
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</div>