@using System.Globalization
@using System.Reflection
@using BlankBlazorApp.Components.Layout
@using BlazorLib.Components.Shared.Layouts
@using SharedLib

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Parent.Name" data-bs-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />

    <link rel="stylesheet" href="@Assets["lib/bootstrap/css/bootstrap.min.css"]" />
    @* <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css?version=@GlobalStaticConstants.InitSalt" /> *@

    <link rel="stylesheet" href="@Assets["app.css"]" />
    @* <link rel="stylesheet" href="app.css?version=@GlobalStaticConstants.InitSalt" /> *@

    <link rel="stylesheet" href="@Assets["BlankBlazorApp.styles.css"]" />
    @* <link rel="stylesheet" href="BlankBlazorApp.styles.css" /> *@

    <ImportMap />

    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/lib/bootstrap-icons/font/bootstrap-icons.min.css?version=@GlobalStaticConstants.InitSalt">
    <link rel="stylesheet" href="/lib/jqueryui/jquery-ui.min.css?version=@GlobalStaticConstants.InitSalt" />
    <link rel="stylesheet" href="/lib/highlight.js/styles/default.min.css?version=@GlobalStaticConstants.InitSalt" />
    <link rel="stylesheet" href="/js/ckeditor5/ckeditor5.css?version=@GlobalStaticConstants.InitSalt" />
    @if (ServerConfig.Value.StylesInject is not null && ServerConfig.Value.StylesInject.Length != 0)
    {
        foreach (InjectionBaseModel styleSrc in ServerConfig.Value.StylesInject.Where(x => FilterLocalPathsForInject(x.LocalPathsForInject)))
        {
            <link rel="stylesheet" href="@styleSrc.Src" />
        }
    }
    <link rel="icon" type="image/png" href="favicon.png" />
    <script type="text/javascript">
        window.downloadFileFromStream = async (fileName, contentStreamReference) => {
            const arrayBuffer = await contentStreamReference.arrayBuffer();
            const blob = new Blob([arrayBuffer]);
            const url = URL.createObjectURL(blob);
            triggerFileDownload(fileName, url);
            URL.revokeObjectURL(url);
        };
        window.triggerFileDownload = (fileName, url) => {
            const anchorElement = document.createElement('a');
            anchorElement.href = url;
            anchorElement.download = fileName ?? '';
            anchorElement.click();
            anchorElement.remove();
        };
    </script>
    <HeadOutlet />
    @if (ServerConfig.Value.ScriptsInject is not null && ServerConfig.Value.ScriptsInject.Length != 0)
    {
        foreach (InjectionBaseModel scriptSrc in ServerConfig.Value.ScriptsInject.Where(x => FilterLocalPathsForInject(x.LocalPathsForInject)))
        {
            <script src="@scriptSrc.Src"></script>
        }
    }
    @if(_headerHtmlDomInject is not null)
    {
        @_headerHtmlDomInject
    }
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function()
        {
            DOMContentLoaded();
        });
    </script>
    <script src="/lib/jquery/jquery.min.js?version=@GlobalStaticConstants.InitSalt"></script>
    <script src="/lib/jqueryui/jquery-ui.min.js?version=@GlobalStaticConstants.InitSalt"></script>
    <script src="/js/ckeditor5/ckeditor.js?version=@GlobalStaticConstants.InitSalt"></script>
    @* <script src="/lib/ckeditor5/ckeditor.js?version=@GlobalStaticConstants.InitSalt"></script> *@
    <script src="/js/CKEditorInterop.js?version=@GlobalStaticConstants.InitSalt"></script>
    <script src="/lib/tinymce/tinymce.min.js"></script>
    <script src="/lib/highlight.js/highlight.min.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js?v=@(Assembly.GetAssembly(typeof(MudBlazor.AbstractLocalizationInterceptor))?.GetName().Version?.ToString())"></script>
    @* <script src="https://www.google.com/recaptcha/api.js" async defer></script> *@
    <script src="/js/scriptLoader.js?version=@GlobalStaticConstants.InitSalt"></script>
    <script src="/js/JsOfReCAPTCHA.js?version=@GlobalStaticConstants.InitSalt"></script>
    <script src="/js/site.js?version=@GlobalStaticConstants.InitSalt"></script>
    <script src="/js/JivoSite.js?version=@GlobalStaticConstants.InitSalt"></script>
    @if (_includeTelegramBotWeAppScript)
    {
        <script src="https://telegram.org/js/telegram-web-app.js"></script>
    }
    <script>
        window.onBlazorReady = () => {
            $(document).tooltip({
                track: true
            });
        };
        window.tooltipeHide = () => {
            $("div.ui-tooltip").hide();
        };
    </script>
    <div id="components-reconnect-modal">
        Возникла проблема со связью!
        (Текущая попытка пере-подключения:
        <span id="components-reconnect-current-attempt"></span> /
        <span id="components-reconnect-max-retries"></span>)
    </div>
</body>
</html>