@using BlazorKladrLib.Components.main
@using MudBlazor

@inherits KladrNavBaseNodeComponent

<div style="justify-self: end;">
    @if (!HideMapLink)
    {
        <MudIconButton Class="ms-2" Icon="@Icons.Material.Filled.Map" OnClick="GoToMap"></MudIconButton>
    }

    @if (!string.IsNullOrWhiteSpace(PostIndex))
    {
        <a href="https://www.pochta.ru/offices/@PostIndex" title="Почтовый индекс" target="_blank">@PostIndex</a>
    }

    @if (SelectedFieldsView?.Contains(nameof(RootKLADRModelDB.UNO)) == true && !string.IsNullOrEmpty(Payload.UNO))
    {
        <span title="Код территориального участка ИФНС" class="badge text-bg-info me-1">@($"{nameof(RootKLADRModelDB.UNO)}: {Payload.UNO}")</span>
    }
    @if (SelectedFieldsView?.Contains(nameof(RootKLADRModelDB.OCATD)) == true && !string.IsNullOrWhiteSpace(Payload.OCATD))
    {
        <span title="Код ОКАТО" class="badge text-bg-primary me-1">@($"{nameof(RootKLADRModelDB.OCATD)}: {Payload.OCATD}")</span>
    }
    @if (SelectedFieldsView?.Contains(nameof(RootKLADRModelDB.GNINMB)) == true)
    {
        <span title="Код ИФНС" class="badge text-bg-success me-1">@($"{nameof(RootKLADRModelDB.GNINMB)}: {Payload.GNINMB}")</span>
    }
</div>
@code{
    [Inject]
    IJSRuntime JSRepo { get; set; } = default!;


    /// <inheritdoc/>
    [Parameter]
    public bool HideMapLink { get; set; }

    /// <summary>
    /// Почтовый индекс
    /// </summary>
    [Parameter, EditorRequired]
    public string? PostIndex { get; set; }

    /// <inheritdoc/>
    [Parameter, EditorRequired]
    public required QueryNavKladrComponent Owner { get; set; }

    /// <inheritdoc/>
    [CascadingParameter, EditorRequired]
    public required IReadOnlyCollection<string>? SelectedFieldsView { get; set; }


    async Task GoToMap()
        => await JSRepo.InvokeVoidAsync("open", $"https://yandex.ru/maps?text={string.Join(", ", GetNamesScheme(Owner).Select(x => x.ToString()))}", "_blank");
}