@using MudBlazor
@inherits BlazorBusyComponentBaseAuthModel

<MudCard>
    
    <MudCardMedia Image="@_fileName" />
    <MudCardContent>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input @bind-value="fileObjectEdit.Name"
                   @bind-value:event="oninput"
                   type="text"
                   placeholder="@FileObject.FileName"
                   class="form-control"
                   id="exampleInputEmail1"
                   aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Если не указать, тогда оригинальное</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail2" class="form-label">Короткое описание (опционально)</label>
            <input @bind-value="fileObjectEdit.ShortDescription"
                   @bind-value:event="oninput"
                   type="text"
                   class="form-control"
                   id="exampleInputEmail2"
                   aria-describedby="emailHelp2">
            <div id="emailHelp2" class="form-text">Примечание к файлу (если требуется).</div>
        </div>
        @* <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Полное описание</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" @oninput="HandleOnChange">@fileObjectEdit.FullDescription</textarea>
        </div> *@
        <div class="mb-3 form-check" title="Добавить файл в публичную галерею объекта">
            <input @bind="fileObjectEdit.IsGallery" type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Галерея</label>
        </div>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Text"
                   Color="Color.Primary"
                   StartIcon="@Icons.Material.Filled.ArrowBackIos"></MudButton>
        <MudButton Variant="Variant.Text"
                   Color="Color.Primary"
                   EndIcon="@Icons.Material.Filled.ArrowForwardIos"></MudButton>
        <MudButton Variant="Variant.Text"
                   Color="Color.Info"
                   EndIcon="@Icons.Material.Filled.Save"
                   OnClick="SaveConfig"
                   Disabled="@(!IsEdited)"></MudButton>
        @if (IsEdited)
        {
            <MudButton Variant="Variant.Text"
                       Color="Color.Success"
                       EndIcon="@Icons.Material.Filled.Cancel"
                       OnClick="() => fileObjectEdit = GlobalTools.CreateDeepCopy(FileObjectConfig)!"></MudButton>
        }
    </MudCardActions>
</MudCard>