@using MudBlazor

@inherits BlazorRegistersComponent

<MudPaper Class="pa-4 mt-3">
    @if (CurrentUserSession?.IsAdmin == true)
    {
        <MudStack Spacing="2" Class="pb-2">
            <MudButton OnClick="OnExpandCollapseClick" Variant="Variant.Outlined">@(_expanded ? "Отмена" : "Создать")</MudButton>
            <MudCollapse Expanded="_expanded">
                <NomenclatureCreatingFormComponent ContextName="@ContextName" NomenclatureCreatingHandler="CreateNomenclatureAction" />
            </MudCollapse>
        </MudStack>
    }
    <MudTable Loading="IsBusyProgress" ServerData="ServerReload" @ref="tableRef" Dense Hover>
        <ToolBarContent>
            <MudText Typo="Typo.h6">Номенклатура (каталог)</MudText>
            <MudSpacer />
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Имя</MudTh>
            <MudTh>Ед.изм.</MudTh>
            <MudTh>Остаток</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Имя">
                <a class="@(context.IsDisabled ? "text-decoration-line-through" : "")" href="/nomenclature/card/@context.Id">@context.Name</a>
            </MudTd>
            <MudTd DataLabel="Ед.изм.">@context.BaseUnit.DescriptionInfo()</MudTd>
            <MudTd DataLabel="Остаток">
                @RegistersCache.Where(x => x.NomenclatureId == context.Id).Sum(x => x.Quantity)
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText>Данные отсутствуют</MudText>
        </NoRecordsContent>
        <LoadingContent>
            <MudText>Loading...</MudText>
        </LoadingContent>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
</MudPaper>

<MudButton Class="mt-3" OnClick="DownloadFullPrice" Variant="Variant.Filled" Color="Color.Default" FullWidth>Скачать прайс</MudButton>