@using MudBlazor
@inherits BlazorBusyComponentBaseAuthModel

<div class="card">
    <div class="card-body">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <label for="inputPhone" class="form-label">Телефон</label>
                        <input @bind-value="editOrg!.Phone" @bind-value:event="oninput" type="text" id="inputPhone" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail" class="form-label">Email</label>
                        <input @bind-value="editOrg.Email" @bind-value:event="oninput" type="text" id="inputEmail" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-4">
                <label for="inputName" class="form-label">Название</label>
                <input @bind-value="editOrg.Name" @bind-value:event="oninput" type="text" id="inputName" class="form-control" aria-describedby="nameHelpBlock">
                @if (!string.IsNullOrWhiteSpace(CurrentOrganization.NewName))
                {
                    <div id="nameHelpBlock" class="form-text text-warning">
                        Ожидается подтверждение: @(CurrentOrganization.NewName).
                    </div>
                }
            </div>
            <div class="col-md-4">
                <label for="inputINN" class="form-label">ИНН</label>
                <input @bind-value="editOrg.INN" @bind-value:event="oninput" type="text" id="inputINN" class="form-control" aria-describedby="innHelpBlock">
                @if (!string.IsNullOrWhiteSpace(CurrentOrganization.NewINN))
                {
                    <div id="innHelpBlock" class="form-text text-warning">
                        Ожидается подтверждение: @(CurrentOrganization.NewINN).
                    </div>
                }
            </div>
            <div class="col-md-4">
                <label for="inputKPP" class="form-label">КПП</label>
                <input @bind-value="editOrg.KPP" @bind-value:event="oninput" type="text" id="inputKPP" class="form-control" aria-describedby="kppHelpBlock">
                @if (!string.IsNullOrWhiteSpace(CurrentOrganization.NewKPP))
                {
                    <div id="kppHelpBlock" class="form-text text-warning">
                        Ожидается подтверждение: @(CurrentOrganization.NewKPP).
                    </div>
                }
            </div>
        </div>

        <div class="mb-2">
            <label for="inputLegalAddress" class="form-label">Юридический адрес</label>
            <input @bind-value="editOrg.LegalAddress" @bind-value:event="oninput" type="text" id="inputLegalAddress" class="form-control" aria-describedby="legalAddressHelpBlock">
            @if (!string.IsNullOrWhiteSpace(CurrentOrganization.NewLegalAddress))
            {
                <div id="legalAddressHelpBlock" class="form-text text-warning">
                    Ожидается подтверждение: @(CurrentOrganization.NewLegalAddress).
                </div>
            }
        </div>

        <div class="mb-2">
            <label for="inputOGRN" class="form-label">ОГРН</label>
            <input @bind-value="editOrg.OGRN" @bind-value:event="oninput" type="text" id="inputOGRN" class="form-control" aria-describedby="ogrnHelpBlock">
            @if (!string.IsNullOrWhiteSpace(CurrentOrganization.NewOGRN))
            {
                <div id="ogrnHelpBlock" class="form-text text-warning">
                    Ожидается подтверждение: @(CurrentOrganization.NewOGRN).
                </div>
            }
        </div>
        <div class="mb-2">
            <BanksListDetailsOrganizationComponent CurrentOrganization="CurrentOrganization" />
        </div>
        @if (CurrentUserSession!.IsAdmin)
        {
            <MudSwitch @bind-Value="editOrg.IsDisabled" Label="Отключение" Color="Color.Success" />
        }
        <div class="d-grid gap-2">
            <button title="Сохранить изменения" @onclick="SaveOrganization" disabled="@(CurrentOrganization.Equals(editOrg) || !GlobalTools.ValidateObject(editOrg).IsValid)" class="btn btn-@(CurrentOrganization.Equals(editOrg) || !GlobalTools.ValidateObject(editOrg).IsValid ? "outline-secondary" : "success")" type="button">Сохранить</button>
            @if (!CurrentOrganization.Equals(editOrg))
            {
                <button title="Отменить редактирование формы" @onclick="() => editOrg = GlobalTools.CreateDeepCopy(CurrentOrganization)" class="btn btn-primary" type="button">Отмена</button>
            }

            @if (editOrg.HasRequestToChange && CurrentOrganization.Equals(editOrg))
            {
                <button title="Отказ от изменений юридических реквизитов" @onclick="CancelEditRequestOrganization" class="btn btn-primary" type="button">Аннулировать запрос изменений</button>
            }

            @if (CurrentUserSession.IsAdmin && editOrg.HasRequestToChange)
            {
                <button title="" @onclick="ConfirmChangeOrganization" class="btn btn-primary" type="button">Подтвердить изменения</button>
            }
        </div>
    </div>
</div>