@inherits BlazorBusyComponentBaseModel
@using MudBlazor

<MudField Label="Filter:" Variant="Variant.Outlined" InnerPadding="false" Class="pa-2">
    <MudRadioGroup T="UsersAreasHelpdeskEnum?" Disabled="IsBusyProgress" @bind-Value="SelectedOption">
        <MudRadio T="UsersAreasHelpdeskEnum?" Value="@UsersAreasHelpdeskEnum.Executor">I executor</MudRadio>
        <MudRadio T="UsersAreasHelpdeskEnum?" Value="@UsersAreasHelpdeskEnum.Subscriber">I subscriber</MudRadio>
        <MudRadio T="UsersAreasHelpdeskEnum?" Value="@UsersAreasHelpdeskEnum.Main">All</MudRadio>
        <AuthorizeView Roles="@GlobalStaticConstantsRoles.Roles.Admin">
            <Authorized>
                <MudRadio T="UsersAreasHelpdeskEnum?" Value="null">root</MudRadio>
            </Authorized>
        </AuthorizeView>
    </MudRadioGroup>
</MudField>

<div class="card">
    <div class="card-body">
        <CascadingValue Value="SetTab">
            <TabSetComponent IsSilent AsPills>
                <TabComponent IsDisabled="IsBusyProgress" SystemName="@(nameof(HelpdeskJournalModesEnum.ActualOnly))" Title="Opened">
                    <HelpdeskJournalComponent UserArea="SelectedOption" JournalMode="HelpdeskJournalModesEnum.ActualOnly" />
                </TabComponent>
                <TabComponent IsDisabled="IsBusyProgress" SystemName="@(nameof(HelpdeskJournalModesEnum.ArchiveOnly))" Title="Closed">
                    <HelpdeskJournalComponent UserArea="SelectedOption" JournalMode="HelpdeskJournalModesEnum.ArchiveOnly" />
                </TabComponent>
                <TabComponent IsDisabled="IsBusyProgress" SystemName="@(nameof(HelpdeskJournalModesEnum.All))" Title="All">
                    <HelpdeskJournalComponent UserArea="SelectedOption" JournalMode="HelpdeskJournalModesEnum.All" />
                </TabComponent>
            </TabSetComponent>
        </CascadingValue>
    </div>
</div>