@using BlazorLib.Components.Kladr.control.input
@using BlazorLib.Components.Retail.Orders
@using BlazorLib.Components.Retail.OrdersLinks
@using MudBlazor
@using static SharedLib.GlobalStaticConstantsRoutes

@inherits BlazorBusyComponentBaseAuthModel

<div class="card">
    <div class="card-body">
        @if (IsBusyProgress || editDoc is null)
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate Class="my-3" />
        }
        else
        {
            @if (editDoc.Id > 0 && totalWeightOrdersDocumentsLinks != editDoc.WeightShipping)
            {
                <div class="alert alert-warning" role="alert">
                    Вес отправления не совпадает с суммой весов заказов!
                    <hr />
                    [разница: @(editDoc.WeightShipping - totalWeightOrdersDocumentsLinks)]
                </div>
            }
            <MudGrid>
                <MudItem xs="3">
                    <div class="mb-3">
                        <label for="exampleInputWeightShipping" class="form-label">Вес отправления (кг)</label>
                        <input type="number" class="form-control" id="exampleInputWeightShipping" @bind-value="editDoc.WeightShipping" @bind-value:event="oninput">
                    </div>
                </MudItem>
                <MudItem xs="3">
                    <div class="mb-3">
                        <label for="exampleInputShippingCost" class="form-label">Стоимость доставки</label>
                        <input type="number" class="form-control" id="exampleInputShippingCost" @bind-value="editDoc.ShippingCost" @bind-value:event="oninput">
                    </div>
                </MudItem>
                <MudItem xs="3">
                    <div class="mb-3">
                        <label for="exampleInputDeliveryCode" class="form-label">Трек-код</label>
                        <input type="number" class="form-control" id="exampleInputDeliveryCode" @bind-value="editDoc.DeliveryCode" @bind-value:event="oninput">
                    </div>
                </MudItem>
                <MudItem xs="3">
                    <div class="mb-3">
                        <label for="exampleInputName" class="form-label">Примечание</label>
                        <input type="text" class="form-control" id="exampleInputName" @bind-value="editDoc.Name" @bind-value:event="oninput">
                    </div>
                </MudItem>
                <MudItem xs="12" md=6 Class="mb-3">
                    <RubricInputComponent SelectRubricsHandle="WarehouseSelectAction"
                                          ModeSelectingRubrics=ModesSelectRubricsEnum.SelectAny
                                          RubricInitial="@editDoc.WarehouseId"
                                          Title="Склад отгрузки"
                                          ContextName="@Routes.WAREHOUSE_CONTROLLER_NAME"
                                          ShowDisabledRubrics />
                </MudItem>
                <MudItem xs="12" md=6 Class="mb-3">
                    <label for="exampleInputTypePayment" class="form-label">Тип/способ доставки</label>
                    <select class="form-select" id="exampleInputTypePayment" @bind="editDoc.DeliveryType">
                        @foreach (DeliveryTypesEnum _pt in Enum.GetValues(typeof(DeliveryTypesEnum)))
                        {
                            <option value="@_pt">@_pt.DescriptionInfo()</option>
                        }
                    </select>
                </MudItem>
            </MudGrid>

            <div class="form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault" @bind="editDoc.DeliveryPaymentUponReceipt">
                <label class="form-check-label" for="switchCheckDefault">Оплата при получении</label>
            </div>
            <div class="mb-3">
                @if (string.IsNullOrWhiteSpace(ClientId))
                {
                    <UserSelectInputComponent SelectHandleAction="SelectUserHandler"
                                              SelectedUserInit="@editDoc.RecipientIdentityUserId"
                                              IsReadOnly="IsBusyProgress"
                                              Label="Получатель" />
                }
                else
                {
                    <div>
                        <label for="formControlInputBuyer" class="form-label">Покупатель</label>
                        <input class="form-control"
                               type="text"
                               value="@recipientUser?.ToString()"
                               aria-label="readonly input example"
                               readonly
                               id="formControlInputBuyer"
                               aria-describedby="buyerHelp">
                        <div id="buyerHelp" class="form-text">Контекст заказчика.</div>
                    </div>

                }
            </div>
            <div class="card my-3">
                <div class="card-body">
                    @if (CanCopyAddressFromRecipient)
                    {
                        <div class="d-grid gap-2 mb-2">
                            <button @onclick=SetDeliveryAddressFromUserRecipient
                                    class="btn btn-primary btn-sm"
                                    type="button">
                                Установить адрес получателя
                            </button>
                        </div>
                    }
                    <KladrInputComponent @bind-KladrObject="DeliveryAddressSelectedKladrObject" />
                    <div class="mb-3">
                        <label for="detailsAddressControlTextarea" class="form-label">уточнение адреса (если требуется)</label>
                        <textarea disabled="@IsBusyProgress" class="form-control" id="detailsAddressControlTextarea" rows="3" @oninput="AddressUserCommentHandleOnChange">@editDoc.AddressUserComment</textarea>
                    </div>
                </div>
            </div>

            @if (DeliveryDocumentId > 0)
            {
                <MudTabs Elevation="2" Rounded ApplyEffectsToContainer PanelClass="pa-6">
                    <MudTabPanel Text="Номенклатура">
                        <DeliveryTableRowsRetailComponent Document="editDoc" @ref=tableRowsRef />
                    </MudTabPanel>
                    <MudTabPanel Text="Заказы">
                        <OrdersDeliveriesLinksTableComponent DeliveryId="DeliveryDocumentId" ReloadOrdersLinks="ReloadDeliveriesOrdersLincsAction" />
                    </MudTabPanel>
                    <MudTabPanel Text="Статусы">
                        <DeliveryStatusesTableComponent Document="editDoc" />
                    </MudTabPanel>
                    <MudTabPanel Text="Примечания">
                        <TinyMCE.Blazor.Editor @bind-Value="editDoc.Description"
                                               Disable="IsBusyProgress"
                                               ScriptSrc="@GlobalStaticConstants.TinyMCEditorScriptSrc"
                                               Conf="@editorConf" />
                    </MudTabPanel>
                </MudTabs>
                <p class="card-text mt-2">
                    <small class="text-body-secondary">@editDoc.CreatedAtUTC.GetCustomTime() @editDoc.LastUpdatedAtUTC?.GetCustomTime()</small>
                </p>
            }

            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                <button disabled="@CannotSave" class="btn btn-primary" type="button" @onclick=SaveDoc>
                    @(editDoc.Id <= 0 ? "Создать" : "Сохранить")
                </button>
                @if (!CannotSave)
                {
                    <button disabled="@CannotSave" class="btn btn-secondary" type="button" @onclick=ResetEdit>
                        Сброс
                    </button>
                }
            </div>
        }
    </div>
</div>