@using MudBlazor
@inherits BlazorBusyComponentUsersCachedModel

<MudTable ServerData="ServerReload" Dense="true" Hover="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Доставка (документы отгрузки)</MudText>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Тип</MudTh>
        <MudTh>Вес</MudTh>
        @if (string.IsNullOrWhiteSpace(ClientId))
        {
            <MudTh>Получатель</MudTh>
        }
        <MudTh>Стоимость доставки</MudTh>
        @if (!FilterOrderId.HasValue || FilterOrderId.Value < 1)
        {
            <MudTh>Заказ</MudTh>
        }
        <MudTh>Создан/Изменён</MudTh>
        <MudTh>Адрес</MudTh>
        <MudTh>Трэк/Код</MudTh>
        <MudTh>Статус</MudTh>
        <MudTh>Оплата</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">
            <span>@context.Name</span>
            @if (context.DeliveryPaymentUponReceipt)
            {
                <sup class="ms-2">[оплата при получении]</sup>
            }
        </MudTd>
        <MudTd DataLabel="Тип">@context.DeliveryType</MudTd>
        <MudTd DataLabel="Вес">@context.WeightShipping</MudTd>
        @if (string.IsNullOrWhiteSpace(ClientId))
        {
            <MudTd DataLabel="Получатель">
                @(UsersCache.FirstOrDefault(x => x.UserId == context.RecipientIdentityUserId)?.ToString() ?? context.RecipientIdentityUserId)
            </MudTd>
        }
        <MudTd DataLabel="Стоимость доставки">@context.ShippingCost</MudTd>
        @if (!FilterOrderId.HasValue || FilterOrderId.Value < 1)
        {
            <MudTd DataLabel="Заказ">@context.Order</MudTd>
        }

        <MudTd DataLabel="Создан/Изменён">
            @context.CreatedAtUTC/@context.LastUpdatedAtUTC
        </MudTd>
        <MudTd DataLabel="Адрес">@context.KladrTitle @context.AddressUserComment</MudTd>
        <MudTd DataLabel="Трэк/Код">@context.DeliveryCode</MudTd>

        <MudTd DataLabel="Статус">
            @if (context.DeliveryStatusesLog is null)
            {
                <span class="badge text-bg-danger">error</span>
            }
            else
            {
                <StatusesRowsAboutComponent DeliveryStatusesLog="@context.DeliveryStatusesLog" />
            }
        </MudTd>
        <MudTd DataLabel="Оплата">
            @context.Payments
            @if (context.Payments is null)
            {
                <span class="badge text-bg-danger">error</span>
            }
            else
            {
                <PaymentsRowsAboutComponent Payments="@context.Payments" />
            }
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>


