@using MudBlazor
@inherits BlazorBusyComponentUsersCachedModel

<MudTable ServerData="ServerReload" Dense="true" Hover="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Доставка (документы отгрузки)</MudText>
        <MudSpacer />
        <MudButton OnClick=CreateNewDeliveryOpenDialog
                   Variant="Variant.Outlined"
                   EndIcon="@Icons.Material.Filled.Add"
                   IconColor="Color.Secondary"
                   Size="Size.Large">Новая доставка</MudButton>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Тип</MudTh>
        <MudTh>Вес</MudTh>
        @if (string.IsNullOrWhiteSpace(ClientId))
        {
            <MudTh>Получатель</MudTh>
        }
        <MudTh>Стоимость доставки</MudTh>
        @if (!FilterOrderId.HasValue || FilterOrderId.Value < 1)
        {
            <MudTh>Заказ</MudTh>
        }
        <MudTh>Создан/Изменён</MudTh>
        <MudTh>Адрес</MudTh>
        <MudTh>Трэк/Код</MudTh>
        <MudTh>Статус</MudTh>
    </HeaderContent>
    <RowTemplate>
        @{
            DateTime cdt = context.CreatedAtUTC.GetCustomTime();
            DateTime? udt = context.LastUpdatedAtUTC?.GetCustomTime();
        }
        <MudTd DataLabel="Name">
            <span>@context.Name</span>
            @if (context.DeliveryPaymentUponReceipt)
            {
                <sup class="ms-2">[оплата при получении]</sup>
            }
        </MudTd>
        <MudTd DataLabel="Тип">@context.DeliveryType</MudTd>
        <MudTd DataLabel="Вес">@context.WeightShipping</MudTd>
        @if (string.IsNullOrWhiteSpace(ClientId))
        {
            <MudTd DataLabel="Получатель">
                @(UsersCache.FirstOrDefault(x => x.UserId == context.RecipientIdentityUserId)?.ToString() ?? context.RecipientIdentityUserId)
            </MudTd>
        }
        <MudTd DataLabel="Стоимость доставки">@context.ShippingCost</MudTd>
        @if (!FilterOrderId.HasValue || FilterOrderId.Value < 1)
        {
            <MudTd DataLabel="Заказ">@context.Order</MudTd>
        }

        <MudTd DataLabel="Создан/Изменён">
            <span>
                @cdt.ToString("d", GlobalStaticConstants.RU) <sup class="text-secondary">@cdt.ToString("t", GlobalStaticConstants.RU)</sup>
            </span>
            @if (udt.HasValue && udt != default)
            {
                <text>/</text>
                <span>
                    @udt.Value.ToString("d", GlobalStaticConstants.RU) <sup class="text-secondary">@udt.Value.ToString("t", GlobalStaticConstants.RU)</sup>
                </span>
            }
        </MudTd>
        <MudTd DataLabel="Адрес">@context.KladrTitle @context.AddressUserComment</MudTd>
        <MudTd DataLabel="Трэк/Код">@context.DeliveryCode</MudTd>

        <MudTd DataLabel="Статус">
            @if (context.DeliveryStatusesLog is null)
            {
                <span class="badge text-bg-danger">error</span>
            }
            else
            {
                <DeliveryStatusesRowsAboutComponent DeliveryStatusesLog="@context.DeliveryStatusesLog" />
            }
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
<MudDialog @bind-Visible="_visible" Options="_dialogOptions">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> Новая доставка (розница)
        </MudText>
    </TitleContent>
    <DialogContent>
        <CascadingValue Name="ClientId" Value="ClientId">
            <DeliveryDocumentComponent />
        </CascadingValue>
    </DialogContent>
</MudDialog>