@using MudBlazor
@inherits BlazorBusyComponentUsersCachedModel

<MudChipSet @bind-SelectedValues="SelectedTypes" SelectionMode="SelectionMode.MultiSelection" CheckMark Variant="Variant.Text" Color="Color.Info">
    @foreach (DeliveryTypesEnum dt in Enum.GetValues(typeof(DeliveryTypesEnum)))
    {
        <MudChip Value="@dt" Text="@dt.DescriptionInfo()" />
    }
</MudChipSet>
<MudTable ServerData="ServerReload"
          T="DeliveryDocumentRetailModelDB"
          OnRowClick="RowClickEvent"
          RowClass="@(RowClickEventHandler is null ? "" : "cursor-pointer")"
          Dense Hover @ref=tableRef>
    <ToolBarContent>
        <MudText Typo="Typo.h6">Доставка (документы отгрузки)</MudText>
        <MudSpacer />
        @if (RowClickEventHandler is null)
        {
            <MudTooltip Text="Создать новый документ доставки">
                <MudButton OnClick=CreateNewDeliveryOpenDialog
                           Class="me-2"
                           Variant="Variant.Outlined"
                           EndIcon="@Icons.Material.Filled.Add"
                           IconColor="Color.Secondary">Новая доставка</MudButton>
            </MudTooltip>
            @if (FilterOrderId.HasValue && FilterOrderId.Value > 0)
            {
                <MudTooltip Text="Добавить заказ в созданную ранее доставку">
                    <MudButton OnClick=IncludeExistDeliveryOpenDialog
                               Variant="Variant.Outlined"
                               EndIcon="@Icons.Material.Filled.DeviceHub"
                               IconColor="Color.Secondary">Включить в доставку</MudButton>
                </MudTooltip>
            }
        }
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Тип/Дата</MudTh>
        <MudTh>Вес</MudTh>
        @if (string.IsNullOrWhiteSpace(ClientId))
        {
            <MudTh>Получатель</MudTh>
        }
        <MudTh>Стоимость доставки</MudTh>
        <MudTh>Заказ(ы)</MudTh>
        <MudTh>Адрес</MudTh>
        <MudTh>Трэк/Код</MudTh>
        <MudTh>Статус</MudTh>
        <MudTh>Примечание</MudTh>
    </HeaderContent>
    <RowTemplate>
        @{
            DateTime cdt = context.CreatedAtUTC.GetCustomTime();
            DateTime? udt = context.LastUpdatedAtUTC?.GetCustomTime();
        }
        <MudTd DataLabel="Тип">
            <a href="/retail/delivery-document/@context.Id">
                <mark>@context.DeliveryType.DescriptionInfo()</mark>
                <text>[</text>
                <span>
                    @cdt.ToString("d", GlobalStaticConstants.RU) <sup class="text-secondary">@cdt.ToString("t", GlobalStaticConstants.RU)</sup>
                </span>
                @if (udt.HasValue && udt != default)
                {
                    <text>/</text>
                    <span>
                        @udt.Value.ToString("d", GlobalStaticConstants.RU) <sup class="text-secondary">@udt.Value.ToString("t", GlobalStaticConstants.RU)</sup>
                    </span>
                }
                <text>]</text>
            </a>
            @if (FilterOrderId.HasValue && FilterOrderId.Value > 0)
            {
                if (initDeleteOrderFromDelivery == context.Id)
                {
                    <span class="badge text-bg-danger cursor-pointer me-1" @onclick="async () => await DeleteDeliveryLink(context.Id)">подтвердить удаление</span>
                    <span class="badge text-bg-success cursor-pointer" @onclick="async () => initDeleteOrderFromDelivery = null">отмена</span>
                }
                else
                {
                    <span class="badge text-bg-secondary cursor-pointer" @onclick="async () => await DeleteDeliveryLink(context.Id)">удалить заказ из доставки</span>
                }
            }
        </MudTd>
        <MudTd DataLabel="Вес">@context.WeightShipping</MudTd>
        @if (string.IsNullOrWhiteSpace(ClientId))
        {
            <MudTd DataLabel="Получатель">
                @(UsersCache.FirstOrDefault(x => x.UserId == context.RecipientIdentityUserId)?.ToString() ?? context.RecipientIdentityUserId)
            </MudTd>
        }
        <MudTd DataLabel="Стоимость доставки">@context.ShippingCost</MudTd>
        <MudTd DataLabel="Заказ(ы)">
            @if (context.OrdersLinks is null)
            {
                <span class="badge text-bg-danger">данные не загружены</span>
            }
            else
            {
                <DeliveryOrdersLinksComponent Orders="context.OrdersLinks" />
            }
        </MudTd>
        <MudTd DataLabel="Адрес">@context.KladrTitle @context.AddressUserComment</MudTd>
        <MudTd DataLabel="Трэк/Код">@context.DeliveryCode</MudTd>
        <MudTd DataLabel="Статус">
            @if (context.DeliveryStatus.HasValue)
            {
                <span class="badge text-bg-info">@(context.DeliveryStatus?.DescriptionInfo() ?? "без движения")</span>
            }
        </MudTd>
        <MudTd DataLabel="Name">
            <span>@context.Name</span>
            @if (context.DeliveryPaymentUponReceipt)
            {
                <sup class="ms-2">[оплата при получении]</sup>
            }
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@if (FilterOrderId.HasValue && FilterOrderId.Value > 0)
{
    <MudDialog @bind-Visible="_visibleCreateNewDelivery" Options="_dialogOptions">
        <TitleContent>
            <MudText Typo="Typo.h6">
                <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" />Новая доставка (розница)
            </MudText>
        </TitleContent>
        <DialogContent>
            <CascadingValue Name="ClientId" Value="ClientId">
                <DeliveryDocumentComponent />
            </CascadingValue>
        </DialogContent>
    </MudDialog>

    <MudDialog @bind-Visible="_visibleIncludeExistDelivery" Options="_dialogOptions">
        <TitleContent>
            <MudText Typo="Typo.h6">
                <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" />Укажите доставку (розница)
            </MudText>
        </TitleContent>
        <DialogContent>
            <CascadingValue Name="ClientId" Value="ClientId">
                <DeliveriesDocumentsManageComponent RowClickEventHandler="SelectRowAction" FilterOrderId="FilterOrderId" />
            </CascadingValue>
        </DialogContent>
    </MudDialog>
}