@using BlazorLib.Components.Commerce
@using MudBlazor

@inherits OffersTableBaseComponent

<MudTable Dense Hover ReadOnly="ReadOnly"
          SortLabel="@(nameof(RowOfDeliveryRetailDocumentModelDB.Nomenclature.Name))"
          CanCancelEdit
          Items="Document.Rows"
          @ref=tableRef
          Loading=IsBusyProgress
          RowEditPreview="RowEditPreviewHandler"
          RowEditCommit="RowEditCommitHandler"
          CancelEditIcon="@Icons.Material.Filled.Cancel"
          CancelEditTooltip="Отменить изменение"
          CommitEditTooltip="Сохранить измененияDocument"
          RowEditCancel="RowEditCancelHandler"
          EditTrigger="@EditTrigger">
    <ToolBarContent>
        <MudText Typo="Typo.h6">
            Номенклатура отгрузки (розница) <sup style="cursor-pointer" class="text-success" title="копировать названия + количество" @onclick="CopyOffers">copy</sup>
        </MudText>
        <MudSpacer />
        @if (!ReadOnly && Document is not null)
        {
            <div class="ms-3">
                <AddRowOfferToDocumentComponent ForceAdding="ForceAdding"
                                                ShowPriceOffers
                                                ShowRegistersOffersQuantity
                                                @ref="AddingDomRef"
                                                WarehouseId="Document.WarehouseId"
                                                CurrentRows="Document.Rows!.Select(x => x.OfferId).ToList()"
                                                AddingOfferHandler="AddingOfferAction" />
            </div>
        }
    </ToolBarContent>
    <ColGroup>
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
        <col style="width:50px;" />
        @if (EditTrigger == TableEditTrigger.EditButton)
        {
            <col style="width:50px;" />
        }
    </ColGroup>
    <HeaderContent>
        <MudTh>Название</MudTh>
        <MudTh>Остаток</MudTh>
        <MudTh>Цена</MudTh>
        <MudTh>Количество</MudTh>
        <MudTh>Вес</MudTh>
        <MudTh>Сумма</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">
            <a href="/nomenclature/offer-card/@context!.Offer!.Id">
                @context.Offer.GetName()
            </a>
        </MudTd>
        @{
            IQueryable<OfferAvailabilityModelDB> _q = RegistersCache.Where(x => x.OfferId == context.OfferId && x.WarehouseId == Document?.WarehouseId).AsQueryable();
            decimal _sum = !_q.Any()
            ? 0
            : _q.Sum(x => x.Quantity);
            bool warningRow = _sum < context!.Quantity;
        }
        <MudTd DataLabel="Остаток">
            @_sum @(context.Offer?.OfferUnit.DescriptionInfo())
        </MudTd>
        <MudTd DataLabel="Цена">
            @($"{context!.Offer!.Price} р/{context.Offer!.OfferUnit.DescriptionInfo().ToLower()}")
        </MudTd>
        <MudTd title="@(warningRow ? "Остатки меньше требуемого" : "")" Class="@(warningRow ? "mud-theme-warning" : "")" DataLabel="Количество">
            @context!.Quantity
        </MudTd>
        <MudTd DataLabel="Вес">
            @context!.WeightOffer
        </MudTd>
        <MudTd DataLabel="Сумма">
            @(context!.Quantity * context.Offer!.Price)
        </MudTd>
        <MudTd><MudIconButton OnClick="() => DeleteRow(context.OfferId)" title="Удалить строку" Icon="@Icons.Material.Filled.Delete" aria-label="delete" Size="Size.Small" /></MudTd>
    </RowTemplate>
    <RowEditingTemplate>
        <MudTd DataLabel="Name">
            @context?.Offer?.GetName()
        </MudTd>
        <MudTd DataLabel="Остаток">
            @(this.RegistersCache.Where(x => x.OfferId == context.OfferId && x.WarehouseId == Document?.WarehouseId).Sum(x => x.Quantity))
        </MudTd>
        <MudTd DataLabel="Цена">
            @(context.Offer!.Price)
        </MudTd>
        <MudTd DataLabel="Количество">
            @{
                System.Collections.Immutable.ImmutableList<decimal>? _allowedValues = context.Offer?.QuantitiesValues;
            }
            @if (_allowedValues is null || _allowedValues.Count == 0 || ForceAdding)
            {
                @* <MudNumericField @bind-Value="context!.Quantity" Required Min="1" Max="GetMaxValue(context)" /> *@
                <input type="number" class="form-control" @bind="context!.Quantity" />
            }
            else
            {
                bool overLimit = false;
                <MudSelect T="decimal" Label="Количество" Required @bind-Value="context!.Quantity">
                    @foreach (decimal ql in _allowedValues)
                    {
                        overLimit = overLimit || ql > GetMaxValue(context);
                        <MudSelectItem Disabled="@overLimit" Value="@ql" />
                    }
                </MudSelect>
            }
        </MudTd>
        <MudTd DataLabel="Вес">
            <input type="number" class="form-control" @bind="context!.WeightOffer" />
        </MudTd>
        <MudTd colspan="2">
            @(context!.Quantity * context.Offer!.Price)
        </MudTd>
    </RowEditingTemplate>
    <FooterContent>
        <MudTh></MudTh>
        <MudTh></MudTh>
        <MudTh></MudTh>
        <MudTh colspan="2">
            <span class="badge text-bg-primary">
                Общий вес: @(Document?.Rows is null || Document.Rows.Count == 0 ? 0 : Document.Rows.Sum(x => x.WeightOffer))
            </span>
        </MudTh>
        <MudTh colspan="2">
            <span class="badge text-bg-info">
                Общая сумма: @(Document?.Rows is null || Document.Rows.Count == 0 ? 0 : Document.Rows.Sum(x => x.Amount))
            </span>
        </MudTh>
    </FooterContent>
    <NoRecordsContent>
        <MudText>Соответствующих записей не найдено</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@if (Document.Id > 0 && OffersForAddQuery.Any())
{
    <div class="alert alert-primary mt-2" role="alert">
        <h5 class="alert-heading">Добавить недостающие позиции из заказов?</h5>
        <hr />
        @foreach (KeyValuePair<OfferModelDB, (decimal Quantity, decimal Amount)> off in OffersForAddQuery)
        {
            <MudChip T="KeyValuePair<OfferModelDB, (decimal Quantity, decimal Amount)>"
                     Variant="Variant.Outlined"
                     OnClick="async () => await AddOfferToDeliveryDocument(off)"
                     Color="Color.Primary">@off.Key.GetName() - x @off.Value (на сумму: @off.Value.Amount)</MudChip>
        }
    </div>
}