@using BlazorLib.Components.Telegram
@using MudBlazor
@inherits BlazorBusyComponentBaseModel

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            @if (currentUser is not null)
            {
                @currentUser.UserName
                @currentUser.PhoneNumber
                @if (currentUser.PhoneNumber != currentUser.RequestChangePhone)
                {
                    <sup class="ms-2">запрос изменения телефона: @currentUser.RequestChangePhone</sup>
                }
            }
            else
            {
                <text>...</text>
            }
        </h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">@currentUser?.GivenName @currentUser?.Surname @currentUser?.Patronymic</h6>
        @if (IsBusyProgress)
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate Class="my-3" />
        }
        else if (currentUser is null)
        {
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p>Ошибка выполнения запроса.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Не удалось получить <cite title="объект не найден или нет доступа">данные</cite>
                </figcaption>
            </figure>
        }
        else
        {
            if (WalletsForUser is not null)
            {
                <div class="list-group">
                    @foreach (WalletRetailModelDB wallet in WalletsForUser)
                    {
                        <div class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">@wallet.Name</h5>
                                <small>@wallet.Balance</small>
                            </div>
                            <p class="mb-1">@wallet.Description</p>
                            <small>[@wallet.WalletType?.Name]</small>
                        </div>
                    }
                </div>
            }
            <MudExpansionPanels>
                @if (currentChatTelegram is not null)
                {
                    <MudExpansionPanel Text="Telegram">
                        <TelegramChatWrapComponent Chat="currentChatTelegram" />
                    </MudExpansionPanel>
                }
                @* @if (currentUser.Roles is not null && currentUser.Roles.Count != 0)
                {
                    <MudExpansionPanel Text="Роли" MaxHeight="500">
                        Panel Two Content
                        @foreach (string _role in currentUser.Roles)
                        {
                            <span class="badge text-bg-light me-1">@_role</span>
                        }
                    </MudExpansionPanel>
                }
                if (currentUser.Claims is not null && currentUser.Claims.Length != 0)
            {
                foreach (EntryAltModel _claim in currentUser.Claims)
                {
                    <span class="badge text-bg-info me-1">@_claim.Name</span>
                }
            } *@
            </MudExpansionPanels>
        }
    </div>
</div>