@using MudBlazor
@inherits BlazorBusyComponentBaseAuthModel

<MudTable ServerData="ServerReload" Dense Hover @ref="table" Loading="IsBusyProgress">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Клиенты (розница)</MudText>
        <MudSpacer />
        <MudTextField T="string" ValueChanged="@(s => OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>ФИО</MudTh>
        <MudTh>Username</MudTh>
        <MudTh>Contacts</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Nr"><a href="/retail/client-card/@context.UserId">@context.GivenName @context.Surname @context.Patronymic</a></MudTd>
        <MudTd DataLabel="Sign"><a href="/retail/client-card/@context.UserId">@context.UserName</a></MudTd>
        <MudTd DataLabel="Name">
            <span class="me-2">
                @context.PhoneNumber
                @if (context.RequestChangePhone != context.PhoneNumber)
                {
                    <strong class="ms-2">запрос на изменение телефона: @context.RequestChangePhone</strong>
                }
            </span>
            <span class="me-2">@context.KladrTitle @context.AddressUserComment</span>
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>