@using MudBlazor

@inherits HistoryViewBaseComponent

<MudTable ServerData="ServerReload"
          Dense Hover
          Loading="IsBusyProgress"
          @ref="tableRef"
          id="history-view-table">
    <ToolBarContent>
        @if (IsBusyProgress)
        {
            <sup class="spinner-grow spinner-grow-sm text-primary"></sup>
        }
        else
        {
            <i class="bi bi-arrow-clockwise"
               style="cursor:pointer"
               title="Обновить таблицу"
               @onclick="async () => { if (tableRef is not null) { await tableRef.ReloadServerData(); } }"></i>
        }
        <MudSpacer />
        <MudDateRangePicker PickerVariant="PickerVariant.Dialog"
                            @bind-DateRange="@DateRangePeriod"
                            PlaceholderStart="Start Date"
                            PlaceholderEnd="End Date"
                            Margin="Margin.Dense"
                            Label="Период"
                            Clearable Editable />
    </ToolBarContent>
    <HeaderContent>
        <MudTh>
            <MudTableSortLabel T="TraceReceiverRecord"
                               InitialDirection="SortDirection.Descending"
                               SortLabel="@nameof(TraceReceiverRecord.UTCTimestampInitReceive)">
                Дата
            </MudTableSortLabel>
        </MudTh>
        <MudTh>Событие</MudTh>
        <MudTh>Запрос</MudTh>
        <MudTh>Ответ</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Дата">
            @context.UTCTimestampInitReceive.GetCustomTime()
            <sup title="время на выполнение операции">@(context.UTCTimestampFinalReceive - context.UTCTimestampInitReceive)</sup>
        </MudTd>
        <MudTd DataLabel="Событие">
            <div class="vstack">
                <code>@context.ReceiverName</code>
                <span>
                    @((OwnerBase.UsersCache.FirstOrDefault(x => x.UserId == context.SenderActionUserId)?.ToString() ?? context.SenderActionUserId))
                </span>
            </div>
        </MudTd>
        <MudTd DataLabel="Запрос">
            <pre class="cell-payload">
            <code class="language-json">@context.RequestBody</code>
            </pre>
        </MudTd>
        <MudTd DataLabel="Ответ">
            <pre class="cell-payload">
            <code class="language-json">@context.ResponseBody</code>
            </pre>
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[] { 25, 50, 100 }" />
    </PagerContent>
</MudTable>