@inherits BlazorBusyComponentBaseModel
@using MudBlazor

<MudField Label="Filter:" Variant="Variant.Outlined" InnerPadding="false" Class="pa-2">
    <MudRadioGroup T="UsersAreasHelpDeskEnum?" Disabled="IsBusyProgress" @bind-Value="SelectedOption">
        <MudRadio T="UsersAreasHelpDeskEnum?" Value="@UsersAreasHelpDeskEnum.Executor">I executor</MudRadio>
        <MudRadio T="UsersAreasHelpDeskEnum?" Value="@UsersAreasHelpDeskEnum.Subscriber">I subscriber</MudRadio>
        <MudRadio T="UsersAreasHelpDeskEnum?" Value="@UsersAreasHelpDeskEnum.Main">All</MudRadio>
        <AuthorizeView Roles="@GlobalStaticConstantsRoles.Roles.Admin">
            <Authorized>
                <MudRadio T="UsersAreasHelpDeskEnum?" Value="null">root</MudRadio>
            </Authorized>
        </AuthorizeView>
    </MudRadioGroup>
</MudField>

<div class="card">
    <div class="card-body">
        <CascadingValue Value="SetTab">
            <TabSetComponent IsSilent AsPills>
                <TabComponent IsDisabled="IsBusyProgress" SystemName="@(nameof(HelpDeskJournalModesEnum.ActualOnly))" Title="Opened">
                    <HelpDeskJournalComponent UserArea="SelectedOption" JournalMode="HelpDeskJournalModesEnum.ActualOnly" />
                </TabComponent>
                <TabComponent IsDisabled="IsBusyProgress" SystemName="@(nameof(HelpDeskJournalModesEnum.ArchiveOnly))" Title="Closed">
                    <HelpDeskJournalComponent UserArea="SelectedOption" JournalMode="HelpDeskJournalModesEnum.ArchiveOnly" />
                </TabComponent>
                <TabComponent IsDisabled="IsBusyProgress" SystemName="@(nameof(HelpDeskJournalModesEnum.All))" Title="All">
                    <HelpDeskJournalComponent UserArea="SelectedOption" JournalMode="HelpDeskJournalModesEnum.All" />
                </TabComponent>
            </TabSetComponent>
        </CascadingValue>
    </div>
</div>