@using MudBlazor
@inherits BlazorBusyComponentBaseModel

<div class="hstack gap-3">
    <span class="font-monospace">@Node.Text</span>
    @if (IsBusyProgress)
    {
        <div class="spinner-border spinner-border-sm mx-1" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    }
    @if (TagsCollection.Response is not null && TagsCollection.Response.Count != 0)
    {
        
            @foreach (TagViewModel tv in TagsCollection.Response)
            {
                <AuthorizeView Context="col" Roles="@($"{GlobalStaticConstantsRoles.Roles.Admin}")">
                    <Authorized>
                        <MudChip T="string"
                                 Size="Size.Small"
                                 Value="@tv.TagName"
                                 OnClose="DeleteTagHandle">@tv.TagName</MudChip>
                    </Authorized>
                    <NotAuthorized>
                        <MudChip T="string"
                                 Size="Size.Small"
                                 Value="@tv.TagName">@tv.TagName</MudChip>
                    </NotAuthorized>
                </AuthorizeView>
            }
        
    }
    <AuthorizeView Context="col" Roles="@($"{GlobalStaticConstantsRoles.Roles.Admin}")">
        <Authorized>
            <MudSpacer />
            <div class="input-group input-group-sm">
                <span class="input-group-text" id="inputGroup-sizing-sm">new tag</span>
                <input @bind-value="NewTagName"
                       @bind-value:event="oninput"
                       type="text"
                       class="form-control"
                       aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm">
                <button class="btn btn-outline-secondary"
                        type="button"
                        disabled="@string.IsNullOrWhiteSpace(NewTagName)"
                        id="button-addon2"
                        @onclick="CreateNewTag">
                    add
                </button>
            </div>
        </Authorized>
    </AuthorizeView>
</div>