@inherits BlazorBusyComponentBaseModel

<MudText>
    @Title
    @if (IsBusyProgress)
    {
        <MudProgressCircular Color="Color.Primary" Size="Size.Small" Indeterminate Class="ms-1" />
    }
</MudText>

@foreach ((int parentId, List<UniversalBaseModel> nestedElements) _kvp in SelectSource)
{
    <select @onchange="(ce) => HandleSelectionChange(ce, _kvp)" class="form-select" disabled="@IsBusyProgress">
        <option class="text-secondary" value="0" selected disabled>Выбор элемента</option>
        @foreach (UniversalBaseModel rubricNode in _kvp.nestedElements)
        {
            if (IsSelected(_kvp, rubricNode))
            {
                <option class="text-primary-emphasis" disabled="@rubricNode.IsDisabled" value="@rubricNode.Id" selected>@rubricNode.Name</option>
            }
            else
            {
                <option class="text-primary-emphasis" disabled="@rubricNode.IsDisabled" value="@rubricNode.Id">@rubricNode.Name</option>
            }
        }
    </select>
}