@using MudBlazor
@inherits BlazorBusyComponentBaseModel

<label class="form-label">
    @Title
    @if (IsBusyProgress)
    {
        <MudProgressCircular Color="Color.Primary" Size="Size.Small" Indeterminate Class="ms-1" />
    }
    else if (IsEdited)
    {
        <sup style="cursor:pointer;" title="отменить изменения" class="ms-1 link-warning" @onclick="async () => await SetRubric(RubricInitial)">сброс</sup>
    }
</label>

@foreach ((int parentId, List<UniversalBaseModel> nestedElements) _kvp in SelectSource)
{
    UniversalBaseModel? _currentSelected = SelectedRubricId is null
        ? null
        : _kvp.nestedElements.FirstOrDefault(x => RubricHierarchy.Any(y => y.Id == x.Id));

    <select @onchange="(ce) => HandleSelectionChange(ce, _kvp)" class="form-select" disabled="@IsBusyProgress">
        @if (ShowNullElement(_kvp, _currentSelected))
        {
            <option class="text-secondary" value="0" selected="@SelectedNullElement(_kvp, _currentSelected)" disabled="@DisablesNullElement(_kvp, _currentSelected)">
                @TitleNullElement(_kvp, _currentSelected)
            </option>
        }
        @foreach (UniversalBaseModel rubricNode in _kvp.nestedElements)
        {
            <option class="text-primary-emphasis" disabled="@rubricNode.IsDisabled" value="@rubricNode.Id" selected="@(_currentSelected?.Id == rubricNode.Id)">@rubricNode.Name</option>
        }
    </select>
}