@inherits BlazorBusyComponentUsersCachedModel

@using BlazorLib.Components.Retail.OrdersLinks
@using BlazorLib.Components.Retail.Wallet
@using BlazorLib.Components.Telegram
@using BlazorLib.Components.TraceHistoryView
@using MudBlazor

<div class="card">
    <div class="card-header d-flex flex-row">
        <MudDatePicker Label="Дата перевода" Editable @bind-Date="DatePayment" Placeholder="Select Date" />
        <MudSpacer />
    </div>
    <div class="card-body">
        @if (editDoc is null || IsBusyProgress)
        {
            <MudSkeleton />
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="110px" />
        }
        else
        {
            <MudTextField @bind-Value="editDoc.Name" Label="Примечание" Variant="Variant.Text" Class="mb-3" Immediate></MudTextField>
            <MudGrid Class="mb-3">
                <MudItem xs="12" lg="6" Class="mb-2">
                    <WalletSelectInputComponent SelectWalletHandler="SelectWalletSenderAction"
                                                SelectUserHandler="SelectUserSenderAction"
                                                WalletInit="editDoc.FromWallet"
                                                Title="Отправитель"
                                                PresetClientId="@(InjectToOrder?.BuyerIdentityUserId)"
                                                @ref=senderWalletRef />
                    <div class="mt-3">
                        <label for="exampleFormControlInputFromWalletSum" class="form-label">Сумма списания</label>
                        <input @bind-value="editDoc.FromWalletSum"
                               @bind-value:event="oninput"
                               @onfocus=OnFocusFromWalletSum
                               disabled="@IsBusyProgress"
                               readonly="@ReadonlyInputFromWalletSum"
                               type="number"
                               class="form-control"
                               id="exampleFormControlInputFromWalletSum"
                               placeholder="@(editDoc.FromWalletId <= 0 ? "Укажите кошелёк" : "Сумма списания")">
                    </div>
                </MudItem>
                <MudItem xs="12" lg="6">
                    <WalletSelectInputComponent SelectWalletHandler="SelectWalletRecipientAction"
                                                SelectUserHandler="SelectUserRecipientAction"
                                                WalletInit="editDoc.ToWallet"
                                                Title="Получатель"
                                                PresetClientId="@(InjectToOrder?.BuyerIdentityUserId)"
                                                @ref=recipientWalletRef />
                    <div class="mt-3">
                        <label for="exampleFormControlInputToWalletSum" class="form-label">Сумма зачисления</label>
                        <input @bind-value="editDoc.ToWalletSum"
                               @bind-value:event="oninput"
                               @onfocus=OnFocusToWalletSum
                               disabled="@IsBusyProgress"
                               readonly="@ReadonlyInputToWalletSum"
                               type="number"
                               class="form-control"
                               id="exampleFormControlInputToWalletSum"
                               placeholder="@(editDoc.ToWalletId <= 0 ? "Укажите кошелёк" : "Сумма зачисления")">
                    </div>
                </MudItem>
            </MudGrid>
            @if (editDoc.FromWalletId > 0 && editDoc.FromWalletId == editDoc.ToWalletId)
            {
                <MudAlert Severity="Severity.Error">Счёт-отправитель не может быть счётом-получателем</MudAlert>
            }
            @if (editDoc.FromWalletSum != editDoc.ToWalletSum && editDoc.FromWalletSum != 0 && editDoc.ToWalletSum != 0)
            {
                <MudAlert Severity="Severity.Info">
                    Обмен (@(editDoc.FromWalletSum < editDoc.ToWalletSum ? "повышающий" : "понижающий")) по курсу: @(Math.Round(editDoc.ToWalletSum / editDoc.FromWalletSum, 4))
                </MudAlert>
            }
            @if (sumConversionsOrdersAmounts != editDoc.ToWalletSum)
            {
                <MudAlert Severity="Severity.Error" Class="mt-2">
                    Сумма сумм по заказам [@sumConversionsOrdersAmounts] отличается от уммы зачисления!
                </MudAlert>
            }
            <div class="d-grid gap-2 d-md-flex justify-content-md-end my-3">
                <button disabled="@CannotSave" class="btn btn-primary" type="button" @onclick=SaveDoc>
                    @(editDoc.Id <= 0 ? "Создать" : "Сохранить")
                </button>
                @if (!CannotSave)
                {
                    <button disabled="@CannotSave" class="btn btn-secondary" type="button" @onclick=ResetEdit>
                        Сброс
                    </button>
                }
            </div>

            @if (userSender is not null && userRecipient is not null && !string.IsNullOrWhiteSpace(userSender.UserId) && userSender.UserId == userRecipient.UserId)
            {
                <MudAlert Severity="Severity.Info" Class="mb-2">Конвертация/перевод между счетами одного клиента</MudAlert>
            }
        }
        @if (ConversionDocumentId > 0)
        {
            <MudTabs Elevation="2" Rounded ApplyEffectsToContainer PanelClass="pa-2">
                <MudTabPanel Text="Связи с заказами">
                    <OrdersConversionsLinksTableComponent ConversionId="ConversionDocumentId" ReloadOrdersLinks="ReloadOrdersLinksAction" />
                </MudTabPanel>
                <MudTabPanel Text="История" Icon="@Icons.Material.Filled.BugReport">
                    <HistoryConversionsWrapperComponent ConversionId="ConversionDocumentId" />
                </MudTabPanel>
            </MudTabs>
        }
        @if (currentChatTelegrams.Count != 0)
        {
            <MudExpansionPanel Text="Telegram" Class="mt-2">
                <MudTabs Elevation="2" Rounded ApplyEffectsToContainer PanelClass="pa-2">
                    @foreach (ChatTelegramStandardModel _chat in currentChatTelegrams)
                    {
                        <MudTabPanel Text="@_chat.ToString()">
                            <TelegramChatWrapComponent Chat="_chat" />
                        </MudTabPanel>
                    }
                </MudTabs>
            </MudExpansionPanel>
        }
    </div>
</div>