@using MudBlazor
@inherits BlazorBusyComponentUsersCachedModel

<MudTable ServerData="ServerReload" Dense Hover>
    <ToolBarContent>
        <MudText Typo="Typo.h6">Переводы (розница)</MudText>
        <MudSpacer />
        <MudButton OnClick=CreateNewConversionOpenDialog
                   Variant="Variant.Outlined"
                   EndIcon="@Icons.Material.Filled.AddCircle"
                   IconColor="Color.Secondary"
                   Size="Size.Large">Создать новый</MudButton>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Создан/Изменён</MudTh>
        <MudTh>Примечание</MudTh>
        <MudTh>Списание</MudTh>
        <MudTh>Зачисление</MudTh>
    </HeaderContent>
    <RowTemplate>
        @{
            DateTime cdt = context.CreatedAtUTC.GetCustomTime();
            DateTime? udt = context.LastUpdatedAtUTC?.GetCustomTime();
        }
        <MudTd DataLabel="Создан/Изменён">
            <a href="/retail/conversion-document/@context.Id">
                <span>
                    @cdt.ToString("d", GlobalStaticConstants.RU) <sup class="text-secondary">@cdt.ToString("t", GlobalStaticConstants.RU)</sup>
                </span>
                @if (udt.HasValue && udt != default)
                {
                    <text>/</text>
                    <span>
                        @udt.Value.ToString("d", GlobalStaticConstants.RU) <sup class="text-secondary">@udt.Value.ToString("t", GlobalStaticConstants.RU)</sup>
                    </span>
                }
            </a>
        </MudTd>
        <MudTd DataLabel="Примечание"><a href="/retail/conversion-document/@context.Id"></a>@context.Name</MudTd>
        <MudTd DataLabel="Списание">@context.ToWallet?.ToString() @context.ToWalletSum</MudTd>
        <MudTd DataLabel="Зачисление">@context.FromWallet @context.FromWalletSum</MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
<MudDialog @bind-Visible="_visible" Options="_dialogOptions">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> Новый перевод (розница)
        </MudText>
    </TitleContent>
    <DialogContent>
        <ConversionDocumentComponent ClientId="@ClientId" />
    </DialogContent>
</MudDialog>