@using MudBlazor
@inherits BlazorBusyComponentUsersCachedModel

<MudTable ServerData="ServerReload" Dense Hover>
    <ToolBarContent>
        <MudText Typo="Typo.h6">Переводы (розница)</MudText>
        <MudSpacer />
        <MudButton OnClick=CreateNewConversionOpenDialog
                   Variant="Variant.Outlined"
                   StartIcon="@Icons.Material.Filled.Add"
                   IconColor="Color.Secondary">Новый перевод/конвертация</MudButton>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Дата</MudTh>
        <MudTh>Примечание</MudTh>
        <MudTh>Списание</MudTh>
        <MudTh>Зачисление</MudTh>
    </HeaderContent>
    <RowTemplate>
        @{
            DateTime ddt = context.DateDocument.GetCustomTime();
        }
        <MudTd DataLabel="Дата">
            <a href="/retail/conversion-document/@context.Id">
                <span>
                    @ddt.ToString("d", GlobalStaticConstants.RU)
                </span>
            </a>
        </MudTd>
        <MudTd DataLabel="Примечание"><a href="/retail/conversion-document/@context.Id"></a>@context.Name</MudTd>
        <MudTd DataLabel="Списание">
            <span title="Текущий баланс" class="border border-warning-subtle me-2 pa-1">@context.FromWallet?.ToString()</span>
            - @context.FromWalletSum
        </MudTd>
        <MudTd DataLabel="Зачисление">
            <span title="Текущий баланс" class="border border-primary-subtle me-2 pa-1">@context.ToWallet?.ToString()</span>
            @context.ToWalletSum
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
<MudDialog @bind-Visible="_visible" Options="_dialogOptions">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> Новый перевод (розница)
        </MudText>
    </TitleContent>
    <DialogContent>
        <CascadingValue Name="ClientId" Value="ClientId">
            <ConversionDocumentComponent />
        </CascadingValue>
    </DialogContent>
</MudDialog>