@using MudBlazor

@inherits BlazorBusyComponentBaseAuthModel

@if (IsBusyProgress || DirectoryData is null)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate Class="my-3" data-cn="@this.GetType().Name" />
}
else
{
    <div class="card">
        <div class="card-body">
            <h6 class="card-title">
                @DirectoryData.FullPath
                @if (DirectoryData.DirectoryItems is not null && DirectoryData.DirectoryItems.Count != 0)
                {
                    <sup class="badge text-bg-primary ms-2">
                        x @DirectoryData.DirectoryItems.Count ( @(GlobalToolsStandard.SizeDataAsString(DirectoryData.DirectoryItems.Sum(x => x.FileSizeBytes))) )
                    </sup>
                }
                <i class="bi bi-copy ms-2" style="cursor:pointer" title="Скопировать путь в буфер обмена" @onclick="ClipboardCopyHandle"></i>
            </h6>
            @if (DirectoryData.DirectoryItems is null || DirectoryData.DirectoryItems.Count == 0)
            {
                <dl>
                    <dt>Size</dt>
                    <dd>@GlobalToolsStandard.SizeDataAsString(DirectoryData.FileSizeBytes)</dd>

                    <dt>IsDirectory</dt>
                    <dd>@DirectoryData.IsDirectory</dd>
                </dl>
            }
            else
            {
                <MudPaper Elevation="0">
                    <MudTreeView Hover @bind-SelectedValue="SelectedValue" SelectionMode="@SelectionMode.SingleSelection">
                        @foreach (DirectoryItemModel _fiElement in DirectoryData.DirectoryItems)
                        {
                            int startSegment = _fiElement.FullPath.IndexOf(DirectoryData.FullPath);
                            <MudTreeViewItem Value="@($"{(startSegment < 0 ? _fiElement.FullPath : $"...{_fiElement.FullPath.Substring(startSegment + DirectoryData.FullPath.Length)}")}{(_fiElement.IsDirectory ? "" : $" - {GlobalToolsStandard.SizeDataAsString(_fiElement.FileSizeBytes)}")}")"
                                             Icon="@(_fiElement.IsDirectory? Icons.Custom.Uncategorized.Folder : Icons.Material.Filled.InsertDriveFile)" />
                        }
                    </MudTreeView>
                </MudPaper>
            }
        </div>
    </div>
}