@using static SharedLib.GlobalStaticConstantsRoutes
@using BlazorLib.Components.Retail.Delivery
@using BlazorLib.Components.Retail.OrdersLinks
@using BlazorLib.Components.Retail.Payments
@using BlazorLib.Components.TraceHistoryView
@using MudBlazor

@inherits BlazorBusyComponentBaseAuthModel

@if (IsBusyProgress || editDocument is null)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate Class="my-3" />
}
else
{
    <div class="card">
        <div class="card-body">
            <MudGrid Class="mb-2">
                <MudItem xs="12" md="2">
                    <MudDatePicker Label="Дата заказа" Editable @bind-Date="DatePayment" Placeholder="Select Date" Variant="Variant.Outlined" />
                </MudItem>
                <MudItem xs="12" md="2">
                    <MudTextField Label="Неделя" @bind-Value="editDocument.NumWeekOfYear" Variant="Variant.Outlined" Immediate></MudTextField>
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudTextField @bind-Value="editDocument.ExternalDocumentId" Label="Номер (внешний)" Variant="Variant.Outlined" Immediate></MudTextField>
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudTextField @bind-Value="editDocument.Name" Label="Примечание" Variant="Variant.Outlined" Immediate></MudTextField>
                </MudItem>
            </MudGrid>
            <MudGrid Class="mb-3">
                <MudItem xs="12">
                    <RubricInputComponent SelectRubricsHandle="WarehouseSelectAction"
                                          ModeSelectingRubrics=ModesSelectRubricsEnum.SelectAny
                                          RubricInitial="@editDocument.WarehouseId"
                                          Title="Склад списания"
                                          ContextName="@Routes.WAREHOUSE_CONTROLLER_NAME"
                                          ShowDisabledRubrics />
                </MudItem>
            </MudGrid>

            @if (string.IsNullOrWhiteSpace(ClientId))
            {
                <UserSelectInputComponent SelectHandleAction="SelectUserHandler"
                                          SelectedUserInit="@editDocument.BuyerIdentityUserId"
                                          IsReadOnly="SelectUserHandlerIsProgress"
                                          Label="Заказчик" />
            }
            else
            {
                <div class="mb-3">
                    <label for="formControlInputBuyer" class="form-label">Покупатель</label>
                    <input class="form-control"
                           type="text"
                           value="@buyerUser?.ToString()"
                           aria-label="readonly input example"
                           readonly
                           id="formControlInputBuyer"
                           aria-describedby="buyerHelp">
                    <div id="buyerHelp" class="form-text">Контекст заказчика.</div>
                </div>
            }

            @if (editDocument.Rows is not null && editDocument.Conversions is not null && editDocument.Payments is not null)
            {
                decimal rowsSum = editDocument.Rows.Count == 0 ? 0 : editDocument.Rows.Sum(x => x.Amount);
                decimal paymentsSum = editDocument.Payments.Count == 0 ? 0 : editDocument.Payments.Sum(x => x.AmountPayment);
                decimal conversionsSum = editDocument.Conversions.Count == 0 ? 0 : editDocument.Conversions.Sum(x => x.AmountPayment);
                if (rowsSum != (paymentsSum + conversionsSum))
                {
                    <MudAlert Severity="Severity.Error" Class="mb-2">
                        Сумма заказа [@rowsSum] отличается от суммы финансовых операций [@(paymentsSum + conversionsSum)]
                    </MudAlert>
                }
            }

            <MudTabs Elevation="2" Rounded ApplyEffectsToContainer PanelClass="pa-6">
                <MudTabPanel Text="Номенклатура">
                    @if (editDocument is null)
                    {
                        <div class="text-center">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    }
                    else
                    {
                        <OrderTableRowsComponent Document="editDocument" @ref=tableRowsRef />
                    }
                </MudTabPanel>
                <MudTabPanel Text="Статусы" Disabled="@(OrderId < 1)">
                    <OrderStatusesTableComponent Document="editDocument" />
                </MudTabPanel>
                <MudTabPanel Text="Отгрузка/Доставка" Disabled="@(OrderId < 1)">
                    <OrdersDeliveriesLinksTableComponent OrderParent="editDocument" />
                </MudTabPanel>
                <MudTabPanel Text="Платежи" Disabled="@(OrderId < 1)">
                    <OrdersPaymentsLinksTableComponent OrderParent="editDocument" />
                </MudTabPanel>
                <MudTabPanel Text="Переводы" Disabled="@(OrderId < 1)">
                    <OrdersConversionsLinksTableComponent OrderParent="editDocument" />
                </MudTabPanel>
                <MudTabPanel Text="Заметки" Disabled="@(OrderId < 1)">
                    <TinyMCE.Blazor.Editor @bind-Value="editDocument.Description" ScriptSrc="@GlobalStaticConstants.TinyMCEditorScriptSrc" Conf="@editorConf" Disable="@(OrderId < 1)" />
                </MudTabPanel>
                <MudTabPanel Text="Файлы" Disabled="@(OrderId < 1)">
                    <FilesContextViewComponent ApplicationsNames="@([Routes.RETAIL_CONTROLLER_NAME])"
                                               PropertyName="@Routes.ATTACHMENT_CONTROLLER_NAME"
                                               PrefixPropertyName="@Routes.DOCUMENT_CONTROLLER_NAME"
                                               OwnerPrimaryKey="OrderId"
                                               Title="Вложения"
                                               ManageMode />
                </MudTabPanel>
                @if (OrderId > 0)
                {
                    <AuthorizeView Context="col" Roles="@($"{GlobalStaticConstantsRoles.Roles.Admin}")">
                        <Authorized>
                            <MudTabPanel Text="История" Icon="@Icons.Material.Filled.BugReport">
                                <HistoryOrdersWrapperComponent OrderId="OrderId" />
                            </MudTabPanel>
                        </Authorized>
                    </AuthorizeView>
                }
            </MudTabs>

            <p class="card-text">
                @if (authorUser is not null)
                {
                    <small title="Автор документа" class="text-body-secondary">Автор: @authorUser.ToString()</small>
                    <small title="Дата создания документа" class="text-body-secondary">Создан: @editDocument.CreatedAtUTC.GetCustomTime()</small>
                    @if (editDocument.LastUpdatedAtUTC is not null && editDocument.LastUpdatedAtUTC != default)
                    {
                        <small title="Дата последнего изменения/обновления" class="text-body-secondary ms-2">Изменён: @editDocument.LastUpdatedAtUTC.Value.GetCustomTime()</small>
                    }
                }
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button @onclick=SaveDocument class="btn btn-primary me-md-2" type="button" disabled="@CannotSave">Save</button>
            </div>
        </div>
    </div>
}