@using BlazorLib.Components.Commerce
@using MudBlazor

@inherits OffersTableBaseComponent

<MudTable Dense Hover ReadOnly="ReadOnly"
          SortLabel="@(nameof(RowOfOrderDocumentModelDB.Nomenclature.Name))"
          CanCancelEdit
          Loading="IsBusyProgress"
          Items="@Document?.Rows"
          RowEditPreview="RowEditPreviewHandler"
          RowEditCommit="RowEditCommitHandler"
          CancelEditIcon="@Icons.Material.Filled.Cancel"
          CancelEditTooltip="Отменить изменение"
          CommitEditTooltip="Сохранить изменения"
          RowEditCancel="RowEditCancelHandler"
          EditTrigger="@EditTrigger">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Номенклатура заказа (розница)</MudText>
        <MudSpacer />
        @if (!ReadOnly && Document is not null)
        {
            <div class="ms-3">
                <AddRowToOrderDocumentComponent ForceAdding="@(ForceAdding || _warehouseReserveForRetailOrder)"
                                                ShowPriceOffers
                                                ShowRegistersOffersQuantity
                                                @ref="AddingDomRef"
                                                WarehouseId="Document.WarehouseId"
                                                AllOffers="allOffers"
                                                CurrentRows="Document.Rows!.Select(x => x.OfferId).ToList()"
                                                AddingOfferHandler="AddingOfferAction" />
            </div>
        }
    </ToolBarContent>
    <ColGroup>
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
        <col style="width:50px;" />
        @if (EditTrigger == TableEditTrigger.EditButton)
        {
            <col style="width:50px;" />
        }
    </ColGroup>
    <HeaderContent>
        <MudTh>Название</MudTh>
        <MudTh>Остаток</MudTh>
        <MudTh>Цена</MudTh>
        <MudTh>Количество</MudTh>
        <MudTh>Вес</MudTh>
        <MudTh>Сумма</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">
            <a href="/nomenclature/offer-card/@context!.Offer!.Id">
                @context.Offer.GetName()
            </a>
        </MudTd>
        @{
            IQueryable<OfferAvailabilityModelDB> _q = RegistersCache.Where(x => x.OfferId == context.OfferId && x.WarehouseId == Document?.WarehouseId).AsQueryable();
            decimal _sum = !_q.Any()
            ? 0
            : _q.Sum(x => x.Quantity);
            bool warningRow = _sum < context!.Quantity;
        }
        <MudTd DataLabel="Остаток">
            @_sum @(context.Offer?.OfferUnit.DescriptionInfo())
        </MudTd>
        <MudTd DataLabel="Цена">
            @($"{context!.Offer!.Price} р/{context.Offer!.OfferUnit.DescriptionInfo().ToLower()}")
        </MudTd>
        <MudTd title="@(warningRow ? "Остатки меньше требуемого" : "")" Class="@(warningRow ? "mud-theme-warning" : "")" DataLabel="Количество">
            @context!.Quantity
        </MudTd>
        <MudTd DataLabel="Вес">
            @context!.WeightOffer
        </MudTd>
        <MudTd DataLabel="Сумма">
            @context!.Amount
        </MudTd>
        <MudTd>
            <MudIconButton OnClick="() => DeleteRow(context.OfferId)" title="Удалить строку" Icon="@Icons.Material.Filled.Delete" aria-label="delete" Size="Size.Small" />
            <AuthorizeView Roles="@($"{GlobalStaticConstantsRoles.Roles.Admin}")">
                <Authorizing>
                    @if (_problemDeleteRow == context.Id)
                    {
                        <MudIconButton OnClick="() => DeleteRow(context.OfferId, true)" Icon="@Icons.Material.Filled.Dangerous" Color="Color.Secondary" Class="ms-2" title="Удалить принудительно" />
                    }
                </Authorizing>
            </AuthorizeView>
        </MudTd>
    </RowTemplate>
    <RowEditingTemplate>
        <MudTd DataLabel="Name">
            @context?.Offer?.GetName()
        </MudTd>
        <MudTd DataLabel="Остаток">
            @(this.RegistersCache.Where(x => x.OfferId == context.OfferId && x.WarehouseId == Document?.WarehouseId).Sum(x => x.Quantity))
        </MudTd>
        <MudTd DataLabel="Цена">
            @(context.Offer!.Price)
        </MudTd>
        <MudTd DataLabel="Количество">
            @{
                var _alowedValues = context.Offer?.QuantitiesValues;
            }
            @if (_alowedValues is null || _alowedValues.Count == 0 || ForceAdding)
            {
                <input type="number" class="form-control" @bind-value="context.Quantity" @bind-value:event="oninput" />
            }
            else
            {
                bool overLimit = false;
                <MudSelect T="decimal" Label="Количество" Required @bind-Value="context!.Quantity">
                    @foreach (decimal ql in _alowedValues)
                    {
                        overLimit = overLimit || ql > GetMaxValue(context);
                        <MudSelectItem Disabled="@overLimit" Value="@ql" />
                    }
                </MudSelect>
            }
        </MudTd>
        <MudTd DataLabel="Вес">
            @(context!.Quantity * context.Offer!.Weight)
        </MudTd>
        <MudTd colspan="2">
            @(context!.Quantity * context.Offer!.Price)
        </MudTd>
    </RowEditingTemplate>
    <NoRecordsContent>
        <MudText>Соответствующих записей не найдено</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <FooterContent>
        <MudTh></MudTh>
        <MudTh></MudTh>
        <MudTh></MudTh>
        <MudTh colspan="2">
            <span class="badge text-bg-primary">
                Общий вес: @(Document?.Rows is null || Document.Rows.Count == 0 ? 0 : Document.Rows.Sum(x => x.WeightOffer))
            </span>
        </MudTh>
        <MudTh colspan="2">
            <span class="badge text-bg-info">
                Общая сумма: @(Document?.Rows is null || Document.Rows.Count == 0 ? 0 : Document.Rows.Sum(x => x.Amount))
            </span>
        </MudTh>
    </FooterContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>