@using BlazorLib.Components.Retail.Delivery
@using BlazorLib.Components.Retail.Payments
@using MudBlazor
@using static SharedLib.GlobalStaticConstantsRoutes

@inherits BlazorBusyComponentBaseAuthModel

@if (IsBusyProgress)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate Class="my-3" />
}
else if (editDocument is null)
{
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>Ошибка.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Не удалось загрузить данные <cite title="не найден в БД или нет прав доступа">документа</cite>
        </figcaption>
    </figure>
}
else
{
    <div class="card">
        <div class="card-body">
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="inputExternalDocumentId" class="form-label">Номер (внешний)</label>
                    <input type="text"
                           class="form-control"
                           id="inputExternalDocumentId"
                           @bind-value="editDocument.ExternalDocumentId"
                           @bind-value:event="oninput">
                </div>
                <div class="col-md-6">
                    <label for="inputName4" class="form-label">Примечание</label>
                    <input type="text"
                           class="form-control"
                           id="inputName4"
                           @bind-value="editDocument.Name"
                           @bind-value:event="oninput">
                </div>
                <RubricInputComponent SelectRubricsHandle="WarehouseSelectAction"
                                      ModeSelectingRubrics=ModesSelectRubricsEnum.SelectAny
                                      RubricInitial="@editDocument.WarehouseId"
                                      Title="Склад списания"
                                      ContextName="@Routes.WAREHOUSE_CONTROLLER_NAME"
                                      ShowDisabledRubrics />
                @if (string.IsNullOrWhiteSpace(ClientId))
                {
                    <UserSelectInputComponent SelectHandleAction="SelectUserHandler"
                                              SelectedUserInit="@editDocument.BuyerIdentityUserId"
                                              IsReadOnly="SelectUserHandlerIsProgress" />
                }
                else
                {
                    <div class="mb-3">
                        <label for="formControlInputBuyer" class="form-label">Покупатель</label>
                        <input class="form-control"
                               type="text"
                               value="@buyerUser?.ToString()"
                               aria-label="readonly input example"
                               readonly
                               id="formControlInputBuyer"
                               aria-describedby="buyerHelp">
                        <div id="buyerHelp" class="form-text">Контекст заказчика.</div>
                    </div>

                }
                <MudSelect ReadOnly="@IsBusyProgress" @bind-Value="editDocument.StatusDocument" T="StatusesDocumentsEnum" Label="Статус" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                    @foreach (StatusesDocumentsEnum step in Enum.GetValues<StatusesDocumentsEnum>())
                    {
                        <MudSelectItem Class="@(step == editDocument.StatusDocument ? "text-primary fw-bold" : "")" T="StatusesDocumentsEnum" Value="@step">
                            @step.DescriptionInfo()
                        </MudSelectItem>
                    }
                </MudSelect>
                <MudTabs Elevation="2" Rounded ApplyEffectsToContainer PanelClass="pa-6">
                    <MudTabPanel Text="Заказ">
                        @if (editDocument is null)
                        {
                            <div class="text-center">
                                <div class="spinner-border" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        }
                        else
                        {
                            <OrderTableRowsComponent Document="editDocument" @ref=tableRowsRef />
                        }
                    </MudTabPanel>
                    <MudTabPanel Text="Оплата" Disabled="@(OrderId < 1)">
                        <PaymentsTableComponent OrderId="OrderId" />
                    </MudTabPanel>
                    <MudTabPanel Text="Отгрузка/Доставка" Disabled="@(OrderId < 1)">
                        <DeliveriesDocumentsManageComponent FilterOrderId="OrderId" />
                    </MudTabPanel>
                    <MudTabPanel Text="Заметки" Disabled="@(OrderId < 1)">
                        <TinyMCE.Blazor.Editor @bind-Value="editDocument.Description" ScriptSrc="@GlobalStaticConstants.TinyMCEditorScriptSrc" Conf="@editorConf" Disable="@(OrderId < 1)" />
                    </MudTabPanel>
                    <MudTabPanel Text="Файлы" Disabled="@(OrderId < 1)">
                        <FilesContextViewComponent ApplicationsNames="@([Routes.RETAIL_CONTROLLER_NAME])"
                                                   PropertyName="@Routes.ATTACHMENT_CONTROLLER_NAME"
                                                   PrefixPropertyName="@Routes.USER_CONTROLLER_NAME"
                                                   OwnerPrimaryKey="OrderId"
                                                   Title="Вложения"
                                                   ManageMode />
                    </MudTabPanel>
                </MudTabs>
            </div>

            <p class="card-text">
                @if (authorUser is not null)
                {
                    <small title="Автор документа" class="text-body-secondary">Автор: @authorUser.ToString()</small>
                    <small title="Дата создания документа" class="text-body-secondary">Дата создания: @editDocument.CreatedAtUTC.GetCustomTime()</small>
                    @if (editDocument.LastUpdatedAtUTC is not null && editDocument.LastUpdatedAtUTC != default)
                    {
                        <small title="Автор документа" class="text-body-secondary">Автор: @editDocument.LastUpdatedAtUTC.Value.GetCustomTime()</small>
                    }
                }
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button @onclick=SaveDocument class="btn btn-primary me-md-2" type="button" disabled="@CannotSave">Save</button>
            </div>
        </div>
    </div>
}