@using MudBlazor
@inherits BlazorBusyComponentBaseModel


<MudStack AlignItems="AlignItems.Center" Row>
    <MudChipSet @bind-SelectedValues="SelectedStatuses"
                SelectionMode="SelectionMode.MultiSelection"
                CheckMark
                Variant="Variant.Text"
                Class="mb-2"
                Color="Color.Info">
        @foreach (StatusesDocumentsEnum sd in Enum.GetValues<StatusesDocumentsEnum>())
        {
            <MudChip Value="@sd" Text="@sd.DescriptionInfo()" />
        }
    </MudChipSet>
    <MudSpacer />
    <MudDateRangePicker PickerVariant="@PickerVariant.Inline" @bind-DateRange="@DateRangeProp" Margin="Margin.Dense" Clearable />
</MudStack>
<MudTable ServerData="ServerReload"
          T="RetailDocumentModelDB"
          OnRowClick="RowClickEvent"
          RowClass="@(RowClickEventHandler is null ? "" : "cursor-pointer")"
          Dense Hover
          @ref="tableRef">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Заказы (розница)</MudText>
        <MudSpacer />
        <MudTextField T="string"
                      ValueChanged="@(s => OnSearch(s))"
                      Placeholder="Search"
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      IconSize="Size.Medium"
                      Class="me-2"></MudTextField>
        @if (RowClickEventHandler is null)
        {
            <MudButton Variant="Variant.Outlined"
                       StartIcon="@Icons.Material.Filled.Add"
                       Color="Color.Primary"
                       OnClick="CreateNewOrderOpenDialog">Новый заказ</MudButton>
        }
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Номер</MudTh>
        <MudTh>Статус</MudTh>
        <MudTh>Создан/Изменён</MudTh>
        @if (string.IsNullOrWhiteSpace(ClientId))
        {
            <MudTh>Заказчик</MudTh>
        }
        <MudTh>Склад</MudTh>
        <MudTh>Номенклатура</MudTh>
        <MudTh>Отгрузка</MudTh>
        <MudTh>Информация</MudTh>
    </HeaderContent>
    <RowTemplate>
        @{
            DateTime cdt = context.CreatedAtUTC.GetCustomTime();
            DateTime? udt = context.LastUpdatedAtUTC?.GetCustomTime();
        }
        <MudTd DataLabel="Номер">
            @if (RowClickEventHandler is null)
            {
                <a href="/retail/order-document/@context.Id">@context.ExternalDocumentId</a>
            }
            else
            {
                <span>@context.ExternalDocumentId</span>
            }
        </MudTd>
        <MudTd DataLabel="Статус">
            @if (RowClickEventHandler is null)
            {
                <a href="/retail/order-document/@context.Id">@context.StatusDocument.DescriptionInfo()</a>
            }
            else
            {
                <span>@context.StatusDocument.DescriptionInfo()</span>
            }
        </MudTd>
        <MudTd DataLabel="Создан/Изменён">
            <span>
                @cdt.ToString("d", GlobalStaticConstants.RU) <sup class="text-secondary">@cdt.ToString("t", GlobalStaticConstants.RU)</sup>
            </span>
            @if (udt.HasValue && udt != default)
            {
                <text>/</text>
                <span>
                    @udt.Value.ToString("d", GlobalStaticConstants.RU) <sup class="text-secondary">@udt.Value.ToString("t", GlobalStaticConstants.RU)</sup>
                </span>
            }
        </MudTd>
        @if (string.IsNullOrWhiteSpace(ClientId))
        {
            <MudTd DataLabel="Заказчик"><MudLink Class="text-success-emphasis" title="Переход в карточку клиента" Href="@($"/retail/client-card/{context.BuyerIdentityUserId}")">@(UsersCache.FirstOrDefault(x => x.UserId == context.BuyerIdentityUserId)?.ToString() ?? $"#{context.BuyerIdentityUserId}")</MudLink></MudTd>
        }
        <MudTd DataLabel="Склад">@(RubricsCache.FirstOrDefault(x => x.Id == context.WarehouseId)?.Name ?? $"#{context.WarehouseId}")</MudTd>
        <MudTd DataLabel="Номенклатура">
            <OrderRowsAboutComponent Rows="@context.Rows" />
        </MudTd>
        <MudTd DataLabel="Отгрузка">
            <OrderDeliveryAboutComponent DeliveriesDocuments="@context.Deliveries" />
        </MudTd>
        <MudTd DataLabel="Информация">@context.Name @context.Description</MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>Соответствующих записей не найдено</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
@if (RowClickEventHandler is null)
{
    <MudDialog @bind-Visible="_visibleCreateNewOrder" Options="_dialogOptions">
        <TitleContent>
            <MudText Typo="Typo.h6">
                <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> Новый заказ (розница)
            </MudText>
        </TitleContent>
        <DialogContent>
            <CascadingValue Value="ClientId" Name="ClientId">
                <OrderDocumentCardComponent />
            </CascadingValue>
        </DialogContent>
    </MudDialog>
}