@using MudBlazor
@inherits BlazorBusyComponentBaseModel


<MudStack AlignItems="AlignItems.Center" Row>
    @if (PresetStatusesDocuments is null || PresetStatusesDocuments.Count == 0)
    {
        <MudChipSet @bind-SelectedValues="SelectedStatuses"
                    SelectionMode="SelectionMode.MultiSelection"
                    CheckMark
                    Variant="Variant.Text"
                    Class="mb-2"
                    Color="Color.Info">
            @foreach (StatusesDocumentsEnum sd in Enum.GetValues<StatusesDocumentsEnum>())
            {
                <MudChip Value="@sd" Text="@sd.DescriptionInfo()" />
            }
        </MudChipSet>
        <MudChip T="string" Icon="@(includeUnset? @Icons.Material.Filled.Check : "")" Selected=includeUnset OnClick="OnChipClicked" Color="Color.Default">Не обработанные</MudChip>
    }
    else
    {
        <div class="card">
            <div class="card-body">
                @foreach (StatusesDocumentsEnum? sd in PresetStatusesDocuments)
                {
                    <span class="badge text-bg-secondary me-1">@(sd?.DescriptionInfo() ?? "не обработан")</span>
                }
            </div>
        </div>
    }
    <MudSpacer />
    <MudDateRangePicker PickerVariant="@PickerVariant.Inline" @bind-DateRange="@DateRangeProp" Margin="Margin.Dense" Clearable />
</MudStack>
<MudTable ServerData="ServerReload"
          T="DocumentRetailModelDB"
          OnRowClick="RowClickEvent"
          RowClass="@(RowClickEventHandler is null ? "" : "cursor-pointer")"
          Dense Hover
          SortLabel="@(nameof(DocumentRetailModelDB.DateDocument))"
          @ref="tableRef">
    <ToolBarContent>
        <MudText Typo="Typo.h6">
            Заказы (розница)
        </MudText>
        <div class="form-check form-switch form-check-inline ms-2">
            <MudTooltip Text="Отображение документов с расхождением доставки с заказами по сумме весов">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault" @bind=EqualSumFilter>
                <label class="form-check-label" for="switchCheckDefault">
                    расхождение весов
                </label>
            </MudTooltip>
        </div>
        <MudSpacer />
        <MudTextField T="string"
                      ValueChanged="@(s => OnSearch(s))"
                      Placeholder="Search"
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      IconSize="Size.Medium"
                      Class="me-2"></MudTextField>
        @if (RowClickEventHandler is null)
        {
            <MudButton Variant="Variant.Outlined"
                       StartIcon="@Icons.Material.Filled.Add"
                       Color="Color.Primary"
                       OnClick="CreateNewOrderOpenDialog">Новый заказ</MudButton>
        }
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Номер</MudTh>
        <MudTh>Статус</MudTh>
        <MudTableSortLabel InitialDirection="SortDirection.Descending" SortLabel="@(nameof(DocumentRetailModelDB.DateDocument))" T="DocumentRetailModelDB">Дата</MudTableSortLabel>
        <MudTh>Неделя</MudTh>
        @if (string.IsNullOrWhiteSpace(ClientId))
        {
            <MudTh>Заказчик</MudTh>
        }
        <MudTh>Финансы</MudTh>
        <MudTh>Номенклатура</MudTh>
        <MudTh>Отгрузка</MudTh>
        <MudTh>Информация</MudTh>
    </HeaderContent>
    <RowTemplate>
        @{
            DateTime ddt = context.DateDocument.GetCustomTime();
        }
        <MudTd DataLabel="Номер">
            @if (RowClickEventHandler is null)
            {
                <MudLink Href="@($"/retail/order-document/{context.Id}")">
                    @context.ExternalDocumentId
                </MudLink>
            }
            else
            {
                <span>@context.ExternalDocumentId</span>
            }
        </MudTd>
        <MudTd DataLabel="Статус">
            @if (RowClickEventHandler is null)
            {
                <MudLink Href="@($"/retail/order-document/{context.Id}")">
                    @context.StatusDocument?.DescriptionInfo()
                </MudLink>
            }
            else
            {
                <span>@context.StatusDocument?.DescriptionInfo()</span>
            }
        </MudTd>
        <MudTd DataLabel="Дата">
            @if (RowClickEventHandler is null)
            {
                <MudLink Href="@($"/retail/order-document/{context.Id}")">
                    @ddt.ToString("d", GlobalStaticConstants.RU)
                </MudLink>
            }
            else
            {
                <span>@ddt.ToString("d", GlobalStaticConstants.RU)</span>
            }
        </MudTd>
        <MudTd DataLabel="Неделя">
            @context.NumWeekOfYear
        </MudTd>
        @if (string.IsNullOrWhiteSpace(ClientId))
        {
            <MudTd DataLabel="Заказчик">
                @if (RowClickEventHandler is null)
                {
                    <MudLink Color="Color.Success" title="Переход в карточку клиента" Href="@($"/retail/client-card/{context.BuyerIdentityUserId}")">
                        @(UsersCache.FirstOrDefault(x => x.UserId == context.BuyerIdentityUserId)?.ToString() ?? $"#{context.BuyerIdentityUserId}")
                    </MudLink>
                }
                else
                {
                    <span>@(UsersCache.FirstOrDefault(x => x.UserId == context.BuyerIdentityUserId)?.ToString() ?? $"#{context.BuyerIdentityUserId}")</span>
                }
            </MudTd>
        }
        <MudTd DataLabel="Финансы">
            @if (context.Conversions is not null && context.Conversions.Count != 0)
            {
                <OrderConversionsAboutComponent ConversionsDocuments="@context.Conversions" />
            }
            @if (context.Payments is not null && context.Payments.Count != 0)
            {
                <OrderPaymentsAboutComponent PaymentsDocuments="@([..PaymentsLinksCache.Where(x => context.Payments.Any(y => y.Id == x.Id))])" />
            }
        </MudTd>
        <MudTd DataLabel="Номенклатура">
            <OrderRowsAboutComponent Rows="@context.Rows" />
        </MudTd>
        <MudTd DataLabel="Отгрузка">
            @if (context.Deliveries is not null && context.Deliveries.Count != 0)
            {
                <OrderDeliveriesAboutComponent DeliveriesDocuments="@([..DeliveriesLinksCache.Where(x => context.Deliveries.Any(y => y.Id == x.Id))])" />
            }
        </MudTd>
        <MudTd DataLabel="Информация">@context.Name @context.Description</MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>Соответствующих записей не найдено</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
@if (RowClickEventHandler is null)
{
    <MudDialog @bind-Visible="_visibleCreateNewOrder" Options="_dialogOptions">
        <TitleContent>
            <MudText Typo="Typo.h6">
                <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> Новый заказ (розница)
            </MudText>
        </TitleContent>
        <DialogContent>
            <CascadingValue Value="ClientId" Name="ClientId">
                <OrderDocumentCardComponent />
            </CascadingValue>
        </DialogContent>
    </MudDialog>
}