@using MudBlazor
@inherits BlazorBusyComponentBaseModel
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<span @onclick="ShowToggle" style="cursor:pointer;">Чат</span>
@if (ChatDialogOpen)
{
    <div class="offcanvas offcanvas-end show"
         data-bs-scroll="true"
         data-bs-backdrop="false"
         tabindex="-1"
         id="offcanvasScrolling"
         aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header" style="padding-bottom: 1px;">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Чат</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" @onclick="ShowToggle"></button>
        </div>
        <div class="offcanvas-body" style="padding-top: unset;">
            <div class="ma-2">
                <label for="exampleFormControlTextarea1" class="form-label">Отправка сообщения</label>
                <div class="input-group">
                    <textarea readonly="@IsBusyProgress"
                              @ref="myTextArea"
                              @onkeydown="OnKeyPresHandler"
                              @bind:event="oninput"
                              @bind="_textSendMessage"
                              class="form-control"
                              rows="1"
                              aria-label="With textarea"
                              id="exampleFormControlTextarea1"></textarea>
                    <button @onclick="SendMessage"
                            disabled="@(string.IsNullOrWhiteSpace(_textSendMessage) || IsBusyProgress)"
                            class="btn btn-outline-@(string.IsNullOrWhiteSpace(_textSendMessage) ? "secondary" : "success") bi bi-send"
                            type="button"
                            id="button-addon2"></button>
                </div>
            </div>
            <hr />
            @{
                List<IGrouping<string, MessageWebChatModel>> orderedGroups = messages
                .OrderByDescending(m => m.Time)
                .GroupBy(m => m.Name)
                .ToList();

                for (int i = 0; i < orderedGroups.Count; i++)
                {
                    IGrouping<string, MessageWebChatModel> group = orderedGroups[i];
                    ChatBubblePosition position = i == 0 ? ChatBubblePosition.Start : ChatBubblePosition.End;

                    <MudChat ChatPosition="@position">
                        <MudAvatar>@group.First().Initials</MudAvatar>
                        <MudChatHeader Name="@group.Key" Time="@group.First().Time.ToString()" />
                        @foreach (MessageWebChatModel message in group.OrderByDescending(m => m.Time))
                        {
                            <MudChatBubble OnClick="@((args) => ClickMessage(args, message))"
                                           OnContextClick="@((args) => RightClickMessage(args, message))">
                                @message.Text
                                <MudPopover Open="@(Hovering && message.Equals(_hoverMessage))" Class="hoverarea"
                                            AnchorOrigin="Origin.CenterRight"
                                            TransformOrigin="Origin.BottomRight">
                                </MudPopover>
                            </MudChatBubble>
                            <MudChatFooter>

                            </MudChatFooter>
                        }
                    </MudChat>
                }
            }

            <MudMenu PositionAtCursor @ref="_contextMenu" id="_contextMenu">
                <MudMenuItem Icon="@Icons.Material.Filled.Block" OnClick="@BanUser">
                    Ban @_selectedMessage?.Name
                </MudMenuItem>
                <MudMenuItem Icon="@Icons.Material.Filled.Info" OnClick="@ShowHiddenInfo">
                    View Details for @_selectedMessage?.Name
                </MudMenuItem>
            </MudMenu>
        </div>
    </div>
}