@using Microsoft.AspNetCore.Components.Web.Virtualization
@using MudBlazor

@inherits BlazorBusyComponentUsersCachedModel

<span @onclick="ShowToggle" class="nav-link position-relative" style="cursor:pointer;">
    Чат
    @if (missingMessages > 0)
    {
        <span id="missingMessagesBadge" title="У вас есть не прочтённые сообщения" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            @(missingMessages > 99 ? "99+" : missingMessages.ToString())
            <span class="visually-hidden">unread messages</span>
        </span>
    }
</span>
@if (ChatDialogOpen && ticketSessionEdit is not null && ticketSession is not null)
{
    <div class="offcanvas offcanvas-end show"
         data-bs-scroll="true"
         data-bs-backdrop="false"
         tabindex="-1"
         id="offcanvasScrolling"
         aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header" style="padding-bottom: 1px;">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Чат</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" @onclick="ShowToggle"></button>
        </div>
        <div class="offcanvas-body" style="padding-top: unset;">
            <div class="ma-2">
                @if (IsBusyProgress)
                {
                    <MudProgressLinear Color="Color.Primary" Indeterminate />
                }
                @if (string.IsNullOrWhiteSpace(ticketSession.InitiatorHumanName) && string.IsNullOrWhiteSpace(ticketSession.InitiatorIdentityId))
                {
                    <div class="alert alert-warning" role="alert">
                        <label for="exampleFormControlTextarea1" class="form-label">Как к Вам обращаться?</label>
                        <div class="input-group">
                            <input type="text"
                                   readonly="@IsBusyProgress"
                                   @onkeydown="OnKeyPresHandler"
                                   @bind:event="oninput"
                                   @bind="ticketSessionEdit.InitiatorHumanName"
                                   class="form-control"
                                   id="exampleFormControlTextarea1"></input>
                            <button @onclick="SevaDialog"
                                    disabled="@string.IsNullOrWhiteSpace(ticketSessionEdit.InitiatorHumanName)"
                                    class="btn btn-outline-@(string.IsNullOrWhiteSpace(_textSendMessage) ? "secondary" : "success") bi bi-check-circle"
                                    type="button"></button>
                        </div>
                    </div>
                }
                else
                {
                    <label for="exampleFormControlTextarea1" class="form-label">Отправка сообщения (поддержка)</label>
                    <div class="input-group">
                        <textarea readonly="@IsBusyProgress"
                                  @onkeydown="OnKeyPresHandler"
                                  @bind:event="oninput"
                                  @bind="_textSendMessage"
                                  class="form-control"
                                  id="exampleFormControlTextarea1"
                                  rows="1"></textarea>
                        <button @onclick="SendMessage"
                                disabled="@CannotSendMessage"
                                class="btn btn-outline-@(string.IsNullOrWhiteSpace(_textSendMessage) ? "secondary" : "success") bi bi-send"
                                type="button"></button>
                    </div>
                    <div class="form-text">
                        @ticketSession.InitiatorHumanName
                        @(string.IsNullOrWhiteSpace(ticketSession.InitiatorContacts) ? "" : $" ({ticketSession.InitiatorContacts})")
                    </div>
                }
            </div>
            <hr />
            @if (string.IsNullOrWhiteSpace(ticketSession.InitiatorHumanName) && string.IsNullOrWhiteSpace(ticketSession.InitiatorIdentityId))
            {
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <p>Представьтесь</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Укажите ваше имя
                    </figcaption>
                </figure>
            }
            else
            {
                <Virtualize Context="message"
                            OverscanCount="@(virtualCacheSize / 2)"
                            ItemsProvider="LoadMessages"
                            @ref="virtualizeComponent">
                    <ItemContent>
                        @{
                            ChatBubblePosition position = message.InitiatorMessageSender
                            ? ChatBubblePosition.Start
                            : ChatBubblePosition.End;
                            UserInfoModel? senderUser = UsersCache.FirstOrDefault(x => x.UserId == message.SenderUserIdentityId);

                        }
                        <MudChat ChatPosition="@position">
                            <MudAvatar>@(position == ChatBubblePosition.Start ? "Вы" : "US")</MudAvatar>
                            <MudChatHeader Name="@(position == ChatBubblePosition.Start ? "Вы" : senderUser?.UserName ?? message.SenderUserIdentityId)"
                                           Time="@message.CreatedAtUTC.GetCustomTime().ToString()" />
                            <MudChatBubble OnClick="@((args) => ClickMessage(args, message))"
                                           OnContextClick="@((args) => RightClickMessage(args, message))">
                                @message.Text
                            </MudChatBubble>
                            @if (message.AttachesFiles is not null && message.AttachesFiles.Count != 0)
                            {
                                <MudChatFooter>
                                    Файлы:
                                    @foreach (AttachesMessageWebChatModelDB _fa in message.AttachesFiles)
                                    {
                                        <a href="@_fa.GetURI()" class="ms-2 link-primary">
                                            @_fa.FileAttachName ( @GlobalToolsStandard.SizeDataAsString(_fa.FileLength) )
                                        </a>
                                    }
                                </MudChatFooter>
                            }
                        </MudChat>
                    </ItemContent>
                    <Placeholder>
                        <p>
                            <MudProgressLinear Color="Color.Primary" Indeterminate Class="my-7" />
                        </p>
                    </Placeholder>
                    <EmptyContent>
                        <figure class="text-center">
                            <blockquote class="blockquote">
                                <p>Сообщений нет</p>
                            </blockquote>
                            @* <figcaption class="blockquote-footer">
                                Someone famous in <cite title="Source Title">Source Title</cite>
                            </figcaption> *@
                        </figure>
                    </EmptyContent>
                </Virtualize>
            }
            <MudMenu PositionAtCursor @ref="_contextMenu" id="_contextMenu">
                <MudMenuItem Icon="@Icons.Material.Filled.Block" OnClick="@BanUser">
                    Ban
                </MudMenuItem>
                <MudMenuItem Icon="@Icons.Material.Filled.Info" OnClick="@ShowHiddenInfo">
                    View Details for
                </MudMenuItem>
            </MudMenu>
        </div>
        @if (string.IsNullOrWhiteSpace(ticketSession.InitiatorContacts) && string.IsNullOrWhiteSpace(ticketSession.InitiatorIdentityId))
        {
            <div class="pa-2">
                <hr />
                <label for="exampleFormControlTextarea1" class="form-label">Контакты</label>
                <div class="input-group">
                    <textarea readonly="@IsBusyProgress"
                              @onkeydown="OnKeyPresHandler"
                              @bind:event="oninput"
                              @bind="ticketSessionEdit.InitiatorContacts"
                              class="form-control"
                              id="exampleFormControlTextarea1"
                              rows="1"></textarea>
                    <button @onclick="SevaDialog"
                            disabled="@string.IsNullOrWhiteSpace(ticketSessionEdit.InitiatorContacts)"
                            class="btn btn-outline-@(string.IsNullOrWhiteSpace(_textSendMessage) ? "secondary" : "success") bi bi-check-square"
                            type="button"></button>
                </div>
                <div class="form-text">Email или телефон для обратной связи</div>
            </div>
        }
        @lock (UsersSessions)
        {
            if (UsersSessions.Count != 0)
            {
                <p class="pa-2">
                    Операторы:
                    @foreach (PongClientsWebChatEventModel _userClient in UsersSessions.Where(x => !string.IsNullOrWhiteSpace(x.CurrentUserSession?.UserName)).DistinctBy(x => x.CurrentUserSession!.UserName))
                    {
                        <span class="badge text-bg-light">@_userClient.CurrentUserSession!.UserName</span>
                    }
                </p>
            }
        }
    </div>
}
<audio id="audioPlayerChatWrapperComponent">
    <source src="@(ChatDialogOpen ? "/sounds/oh-oh-icq-sound.mp3" : "/sounds/airdrop.mp3")" type="audio/mpeg" />
    Your browser does not support the audio tag.
</audio>