@using BlazorLib.Components.ParametersShared
@using MudBlazor

@inherits BlazorBusyComponentUsersCachedModel

@if (IsBusyProgress)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate />
}

@if (CurrentRoom is not null)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title align-start d-flex">
                Чат:
                <code>
                    @if (!string.IsNullOrWhiteSpace(CurrentRoom.InitiatorIdentityId))
                    {
                        <text>@(UsersCache.FirstOrDefault(x => x.UserId == CurrentRoom.InitiatorIdentityId)?.ToString() ?? CurrentRoom.InitiatorIdentityId)</text>
                    }
                    else
                    {
                        <text>@CurrentRoom.InitiatorHumanName</text>
                        <sup class="ms-2">@CurrentRoom.InitiatorHumanName</sup>
                    }
                </code>
                <MudSpacer />
                <span>
                    <button class="btn btn-outline-primary btn-sm" type="button">Button</button>
                    <button class="btn btn-outline-primary btn-sm" type="button">Button</button>
                </span>
            </h5>
            @if (CurrentRoom.UsersJoins is not null && CurrentRoom.UsersJoins.Count != 0)
            {
                <h6 class="card-subtitle mb-2 text-body-secondary">
                    Сотрудники:
                    @foreach (UserJoinDialogWebChatModelDB userJ in CurrentRoom.UsersJoins)
                    {
                        <span class="badge text-bg-primary">@(UsersCache.FirstOrDefault(x => x.UserId == userJ.UserIdentityId)?.ToString() ?? userJ.UserIdentityId)</span>
                    }
                </h6>
            }
            <hr />
            <div class="mb-3">
                <label for="exampleInputHumanName1" class="form-label">HumanName</label>
                <input type="text"
                       class="form-control"
                       id="exampleInputHumanName1"
                       aria-describedby="humanNameHelp"
                       @bind-value="CurrentRoom.InitiatorHumanName"
                       @bind-value:event="oninput">
                <div id="humanNameHelp" class="form-text">Имя для обращения.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputContacts1" class="form-label">Contacts</label>
                <input type="text"
                       class="form-control"
                       id="exampleInputContacts1"
                       aria-describedby="contactsHelp"
                       @bind-value="CurrentRoom.InitiatorContacts"
                       @bind-value:event="oninput">
                <div id="contactsHelp" class="form-text">Контакты для связи (Email).</div>
            </div>
            <UserSelectInputComponent SelectHandleAction="SelectUserHandler"
                                      SelectedUserInit="@CurrentRoom.InitiatorIdentityId"
                                      IsReadOnly="IsBusyProgress"
                                      Label="Заказчик" />

            <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
                <MudTabPanel Text="Переписка">
                    <MessagesForWebChatComponent DialogWebChat="CurrentRoom" />
                </MudTabPanel>
                <MudTabPanel Text="Заметки">
                    <CKEditorParameterStorageComponent Label="Комментарий"
                                                       KeyStorage="@GlobalStaticCloudStorageMetadata.WebChatCommentary(DialogId)" />
                </MudTabPanel>
            </MudTabs>

        </div>
    </div>
    <small class="text-body-secondary">
        created: @CurrentRoom.CreatedAtUTC.GetCustomTime() |
        deadline: @CurrentRoom.DeadlineUTC.GetCustomTime() |
        online: @CurrentRoom.LastOnlineAtUTC.GetCustomTime()
    </small>
}