@using MudBlazor

@inherits BlazorBusyComponentUsersCachedModel

@if (IsBusyProgress)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate />
}

@if (CurrentRoom is not null)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Чат:
                <code>
                    @if (!string.IsNullOrWhiteSpace(CurrentRoom.InitiatorIdentityId))
                    {
                        <text>@(UsersCache.FirstOrDefault(x => x.UserId == CurrentRoom.InitiatorIdentityId)?.ToString() ?? CurrentRoom.InitiatorIdentityId)</text>
                    }
                    else
                    {
                        <text>@CurrentRoom.InitiatorHumanName</text>
                        <sup class="ms-2">@CurrentRoom.InitiatorHumanName</sup>
                    }
                </code>
            </h5>
            @if (CurrentRoom.UsersJoins is not null && CurrentRoom.UsersJoins.Count != 0)
            {
                <h6 class="card-subtitle mb-2 text-body-secondary">
                    Сотрудники:
                    @foreach (UserJoinDialogWebChatModelDB userJ in CurrentRoom.UsersJoins)
                    {
                        <span class="badge text-bg-primary">@(UsersCache.FirstOrDefault(x => x.UserId == userJ.UserIdentityId)?.ToString() ?? userJ.UserIdentityId)</span>
                    }
                </h6>
            }
            <hr />
            <MessagesForWebChatComponent DialogId="DialogId" />
        </div>
    </div>
    <small class="text-body-secondary">
        created: @CurrentRoom.CreatedAtUTC.GetCustomTime() |
        deadline: @CurrentRoom.DeadlineUTC.GetCustomTime() |
        online: @CurrentRoom.LastOnlineAtUTC.GetCustomTime()
    </small>
}