@using BlazorLib.Components.ParametersShared
@using BlazorLib.Components.Retail.Conversions
@using BlazorLib.Components.Retail.Delivery
@using BlazorLib.Components.Retail.Orders
@using BlazorLib.Components.Retail.Payments
@using MudBlazor

@inherits BlazorBusyComponentUsersCachedModel

@if (IsBusyProgress)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate />
}

@if (CurrentRoom is not null && roomEdit is not null)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title align-start d-flex">
                Чат:
                <code>
                    @if (!string.IsNullOrWhiteSpace(roomEdit.InitiatorIdentityId))
                    {
                        <text>@(UsersCache.FirstOrDefault(x => x.UserId == roomEdit.InitiatorIdentityId)?.ToString() ?? roomEdit.InitiatorIdentityId)</text>
                    }
                    else
                    {
                        <text>@roomEdit.InitiatorHumanName</text>
                        <sup class="ms-2">@roomEdit.InitiatorHumanName</sup>
                    }
                </code>
                <MudSpacer />
                <span class="btn-group" role="group" aria-label="Basic example">
                    @if (RoomIsEdit)
                    {
                        <button class="btn btn-outline-primary btn-sm"
                                type="button"
                                title="Перезагрузить данные с сервера"
                                @onclick="ReloadRoom">
                            Отмена
                        </button>
                    }
                    <button class="btn btn-outline-@(RoomIsEdit ? "success" : "secondary") btn-sm"
                            type="button"
                            disabled="@RoomNotEdit"
                            title="Сохранить изменения чата"
                            @onclick="SaveRoom">
                        Сохранить
                    </button>
                </span>
            </h5>
            @if (roomEdit.UsersJoins is not null && roomEdit.UsersJoins.Count != 0)
            {
                <h6 class="card-subtitle mb-2 text-body-secondary">
                    Сотрудники:
                    @foreach (UserJoinDialogWebChatModelDB userJ in roomEdit.UsersJoins)
                    {
                        <span class="badge text-bg-primary">@(UsersCache.FirstOrDefault(x => x.UserId == userJ.UserIdentityId)?.ToString() ?? userJ.UserIdentityId)</span>
                    }
                </h6>
            }
            <hr />
            <div class="mb-3">
                <label for="exampleInputHumanName1" class="form-label">HumanName</label>
                <input type="text"
                       class="form-control"
                       id="exampleInputHumanName1"
                       aria-describedby="humanNameHelp"
                       @bind-value="roomEdit.InitiatorHumanName"
                       @bind-value:event="oninput">
                <div id="humanNameHelp" class="form-text">Имя для обращения.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputContacts1" class="form-label">Contacts</label>
                <input type="text"
                       class="form-control"
                       id="exampleInputContacts1"
                       aria-describedby="contactsHelp"
                       @bind-value="roomEdit.InitiatorContacts"
                       @bind-value:event="oninput">
                <div id="contactsHelp" class="form-text">Контакты для связи (Email).</div>
            </div>
            <UserSelectInputComponent SelectHandleAction="SelectUserHandler"
                                      SelectedUserInit="@roomEdit.InitiatorIdentityId"
                                      IsReadOnly="IsBusyProgress"
                                      @ref="userSelectorRef"
                                      Label="Заказчик" />

            <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
                <MudTabPanel Text="Переписка">
                    <MessagesForWebChatComponent DialogWebChat="roomEdit" />
                </MudTabPanel>
                <MudTabPanel Text="Заметки">
                    <CKEditorParameterStorageComponent Label="Комментарий"
                                                       KeyStorage="@GlobalStaticCloudStorageMetadata.WebChatCommentary(DialogId)" />
                </MudTabPanel>
                @if (!string.IsNullOrWhiteSpace(roomEdit.InitiatorIdentityId))
                {
                    <CascadingValue Value="roomEdit.InitiatorIdentityId" Name="ClientId">
                        <MudTabPanel Text="Заказы">
                            <RetailOrdersListComponent />
                        </MudTabPanel>
                        <MudTabPanel Text="Доставка">
                            <DeliveriesDocumentsManageComponent />
                        </MudTabPanel>
                        <MudTabPanel Text="Платежи">
                            <PaymentsManageComponent />
                        </MudTabPanel>
                        <MudTabPanel Text="Переводы">
                            <ConversionsTableManageComponent />
                        </MudTabPanel>
                    </CascadingValue>
                }
            </MudTabs>
        </div>
    </div>
    <small class="text-body-secondary">
        created: @roomEdit.CreatedAtUTC.GetCustomTime() |
        deadline: @roomEdit.DeadlineUTC.GetCustomTime() |
        online: @roomEdit.LastOnlineAtUTC.GetCustomTime()
    </small>
}