@using BlazorLib.Components.ParametersShared
@using BlazorLib.Components.Retail.Conversions
@using BlazorLib.Components.Retail.Delivery
@using BlazorLib.Components.Retail.Orders
@using BlazorLib.Components.Retail.Payments
@using MudBlazor

@inherits BlazorBusyComponentUsersCachedModel

@if (IsBusyProgress)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate />
}

@if (currentDialog is not null && dialogEdit is not null)
{
    IQueryable<UserJoinDialogWebChatModelDB>? q = dialogEdit.UsersJoins?.Where(x => x.OutDateUTC == null || x.OutDateUTC == default).AsQueryable();
    <div class="card">
        <div class="card-body">
            <h5 class="card-title align-start d-flex">
                Чат:
                <code>
                    @if (!string.IsNullOrWhiteSpace(dialogEdit.InitiatorIdentityId))
                    {
                        <text>@(UsersCache.FirstOrDefault(x => x.UserId == dialogEdit.InitiatorIdentityId)?.ToString() ?? dialogEdit.InitiatorIdentityId)</text>
                    }
                    else
                    {
                        <sup class="ms-2">@dialogEdit.InitiatorHumanName</sup>
                    }
                </code>
                @if (!IsBusyProgress)
                {
                    <sup class="ms-2">
                        <ChatStatusComponent DialogId="DialogId"
                                             @ref="chatStatusRef"
                                             OnLoadHandler="OnLoadStatusAction" />
                    </sup>
                }
            </h5>
            <MudSpacer />
            <h6 class="card-subtitle mb-2 text-body-sDialogdary">
                @if (q is not null && q.Any())
                {
                    <text>Сотрудники:</text>
                    @foreach (UserJoinDialogWebChatModelDB userJ in q)
                    {
                        <span class="badge text-bg-primary me-2">
                            @(UsersCache.FirstOrDefault(x => x.UserId == userJ.UserIdentityId)?.ToString() ?? userJ.UserIdentityId)
                        </span>
                    }
                }
            </h6>
            <hr />
            <MudGrid Class="mb-3">
                <MudItem xs=12 md=6>
                    <label for="exampleInputHumanName1" class="form-label">HumanName</label>
                    <input type="text"
                           class="form-control"
                           id="exampleInputHumanName1"
                           aria-describedby="humanNameHelp"
                           @bind-value="dialogEdit.InitiatorHumanName"
                           @bind-value:event="oninput">
                    <div id="humanNameHelp" class="form-text">Имя для обращения.</div>
                </MudItem>
                <MudItem xs=12 md=6>
                    <label for="exampleInputContacts1" class="form-label">Contacts</label>
                    <input type="text"
                           class="form-control"
                           id="exampleInputContacts1"
                           aria-describedby="contactsHelp"
                           @bind-value="dialogEdit.InitiatorContacts"
                           @bind-value:event="oninput">
                    <div id="contactsHelp" class="form-text">Контакты для связи (Email).</div>
                </MudItem>
            </MudGrid>

            <UserSelectInputComponent SelectHandleAction="SelectUserHandler"
                                      SelectedUserInit="@dialogEdit.InitiatorIdentityId"
                                      IsReadOnly="IsBusyProgress"
                                      @ref="userSelectorRef"
                                      Label="Заказчик" />

            <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
                @if (q?.Any() != true)
                {
                    <button type="button"
                            class="btn btn-outline-info bi bi-key-fill"
                            @onclick="async () => await JoinToChat(true)"
                            title="Взять в работу">
                        Взять в работу
                    </button>
                }
                @if (CurrentUserSession is not null && q?.Any(x => x.UserIdentityId == CurrentUserSession.UserId) != true)
                {
                    <button type="button"
                            class="btn btn-outline-info bi bi-box-arrow-up-right"
                            @onclick="async () => await JoinToChat(false)"
                            title="Вступить в чат">
                        Присоединиться к чату
                    </button>
                }
                <button type="button"
                        class="btn btn-outline-info bi bi-arrow-clockwise"
                        @onclick="StateChatRequest"
                        title="Проверить состояние области чата">
                    Получить статус
                </button>
                @if (chatStatusRef?.StateWebChat is not null && !chatStatusRef.StateWebChat.StateDialog)
                {
                    <button type="button"
                            class="btn btn-outline-info bi bi-chat-text"
                            @onclick="SetStateChatRequest"
                            title="Открыть диалог чата клиенту">
                        Открыть окно чата
                    </button>
                }
                @if (DialogIsEdit)
                {
                    <button class="btn btn-outline-primary bi bi-escape"
                            type="button"
                            title="Перезагрузить данные с сервера"
                            @onclick="ReloadDialog">
                        Отмена
                    </button>
                }
                <button class="btn btn-outline-@(DialogIsEdit ? "success" : "secondary") bi bi-floppy-fill"
                        type="button"
                        disabled="@RoomNotEdit"
                        title="Сохранить изменения чата"
                        @onclick="SaveRoom">
                    Записать
                </button>
            </div>

            <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
                <MudTabPanel Text="Переписка">
                    <MessagesForWebChatComponent DialogWebChat="dialogEdit" @ref="messagesRef" />
                </MudTabPanel>
                <MudTabPanel Text="Заметки">
                    <CKEditorParameterStorageComponent Label="Комментарий"
                                                       KeyStorage="@GlobalStaticCloudStorageMetadata.WebChatCommentary(DialogId)" />
                </MudTabPanel>
                @if (!string.IsNullOrWhiteSpace(dialogEdit.InitiatorIdentityId))
                {
                    <CascadingValue Value="dialogEdit.InitiatorIdentityId" Name="ClientId">
                        <MudTabPanel Text="Заказы">
                            <RetailOrdersListComponent />
                        </MudTabPanel>
                        <MudTabPanel Text="Доставка">
                            <DeliveriesDocumentsManageComponent />
                        </MudTabPanel>
                        <MudTabPanel Text="Платежи">
                            <PaymentsManageComponent />
                        </MudTabPanel>
                        <MudTabPanel Text="Переводы">
                            <ConversionsTableManageComponent />
                        </MudTabPanel>
                    </CascadingValue>
                }
            </MudTabs>
        </div>
    </div>
    <small class="text-body-secondary">
        created: @dialogEdit.CreatedAtUTC.GetCustomTime() |
        deadline: @dialogEdit.DeadlineUTC.GetCustomTime() |
        online: @dialogEdit.LastOnlineAtUTC.GetCustomTime()
    </small>
}