@using MudBlazor

@inherits BlazorBusyComponentUsersCachedModel

@if (IsBusyProgress)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate />
}
<div class="my-3">
    <label for="exampleFormControlTextarea1" class="form-label">Отправка сообщения (web-chat)</label>
    <div class="input-group">
        <textarea readonly="@IsBusyProgress"
                  @bind:event="oninput"
                  @bind="_textSendMessage"
                  class="form-control"
                  aria-label="With textarea"
                  id="exampleFormControlTextarea1"></textarea>
        <button @onclick="SendMessage"
                disabled="@CanNotSendMessage"
                class="btn btn-outline-@(string.IsNullOrWhiteSpace(_textSendMessage) ? "secondary" : "success") bi bi-send"
                type="button"></button>
    </div>
</div>

<div class="input-group mb-3">
    <InputFile @key=@(_inputFileId) class="form-control" OnChange="SelectFilesChange" />
</div>

@if (loadedFiles.Count != 0)
{
    <ol class="list-group list-group-numbered mb-2">
        @foreach (IBrowserFile file_element in loadedFiles)
        {
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">@file_element.Name</div>
                    @GlobalToolsStandard.SizeDataAsString(file_element.Size)
                </div>
                <span class="badge text-bg-primary rounded-pill">@file_element.LastModified</span>
            </li>
        }
    </ol>
    <div class="d-grid gap-2 mb-3">
        <button @onclick="() => { loadedFiles.Clear(); _inputFileId = Guid.NewGuid().ToString(); }"
                class="btn btn-outline-primary"
                type="button">
            Отмена
        </button>
    </div>
}
<MudTable ServerData="ServerReload" Dense Hover @ref="tableRef">
    <ToolBarContent>
        <MudText Typo="Typo.h6">
            Переписка
            @if (IsBusyProgress)
            {
                <sup class="spinner-grow spinner-grow-sm ms-2" role="status">
                    <span class="visually-hidden">Loading...</span>
                </sup>
            }
            else
            {
                <sup class="bi bi-arrow-clockwise ms-2"
                     style="cursor:pointer;"
                     title="Обновить таблицу"
                     @onclick="async () => { if (tableRef is not null) await tableRef.ReloadServerData(); }"></sup>
            }
        </MudText>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>#</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="#">
            @if (context.SenderUserIdentityId == GlobalStaticConstantsRoles.Roles.System)
            {
                <figure class="text-center">
                    <blockquote class="blockquote">
                        @context.Text
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        уведомление <cite title="система оповещения">system</cite>
                    </figcaption>
                </figure>
            }
            else
            {
                ChatBubblePosition position = context.IsInsideMessage ? ChatBubblePosition.End : ChatBubblePosition.Start;
                <MudChat ChatPosition="@position">
                    <MudAvatar>@(position == ChatBubblePosition.Start ? "00" : "US")</MudAvatar>
                    <MudChatHeader Name="@(position == ChatBubblePosition.Start ? "00" : (UsersCache.FirstOrDefault(x => x.UserId == context.SenderUserIdentityId)?.ToString() ?? context.SenderUserIdentityId))" Time="@context.CreatedAtUTC.GetCustomTime().ToString()" />
                    <MudChatBubble OnClick="@((args) => ClickMessage(args, context))"
                                   OnContextClick="@((args) => RightClickMessage(args, context))">
                        @context.Text
                    </MudChatBubble>
                    @if (context.AttachesFiles is not null)
                    {
                        <MudChatFooter>

                        </MudChatFooter>
                    }
                </MudChat>
            }
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>Сообщений нет</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
<MudMenu PositionAtCursor @ref="_contextMenu" id="_contextMenu">
    <MudMenuItem Icon="@Icons.Material.Filled.Block" OnClick="@BanUser">
        Ban
    </MudMenuItem>
    <MudMenuItem Icon="@Icons.Material.Filled.Info" OnClick="@ShowHiddenInfo">
        View Details for
    </MudMenuItem>
</MudMenu>