@using MudBlazor
@using static BlazorLib.Extensions

<MudTable Items="Elements" Dense Hover Bordered Striped Filter="new Func<MessageViewModel, bool>(FilterFunc1)">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Snack`s</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh></MudTh>
        <MudTh>Type</MudTh>
        <MudTh>Text</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="d/t">
            @if (context.Points.Count == 1)
            {
                <span>@context.Points.First().GetHumanDateTime()</span>
            }
            else
            {
                <span>@context.Points.First().GetHumanDateTime() @($"x{context.Points.Count}")</span>
            }
        </MudTd>
        <MudTd DataLabel="Type">@context.Message.TypeMessage</MudTd>
        <MudTd DataLabel="Text">@context.Message.Text</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
