@inherits BlazorBusyComponentBaseModel

@using MudBlazor

<MudDateRangePicker PickerVariant="@PickerVariant.Inline"
                    @bind-DateRange="@DateRangeProp"
                    Margin="Margin.Dense"
                    Disabled=@(Owner is not null)
                    Clearable=@(Owner is null) />

@if (IsBusyProgress || ReportData is null)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate Class="my-3" data-cn="@this.GetType().Name" />
}
else
{
    <MudCard>
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">
                    Всего заказов выполнено [@ReportData.DoneOrdersCount шт.] на сумму [@ReportData.DoneOrdersSumAmount.ToString("C")]
                    <span class="ms-2">(@(Math.Round((ReportData.DoneOrdersSumAmount / 120), 2)))</span>
                </MudText>
            </CardHeaderContent>
            <CardHeaderActions>
                <MudIconButton Icon="@Icons.Material.Filled.Cached" Color="Color.Default" OnClick="ReloadServerData" />
            </CardHeaderActions>
        </MudCardHeader>
        <MudCardContent>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Оплачено "На сайте"</th>
                        <td>
                            x @ReportData.PaidOnSitePaymentsCount шт. @ReportData.PaidOnSitePaymentsSumAmount.ToString("C")
                            <span class="ms-2">(@(Math.Round((ReportData.PaidOnSitePaymentsSumAmount / 120), 2)))</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Другое</th>
                        <td>
                            x (@ReportData.PaidNoSitePaymentsCount + ReportData.ConversionsCount) шт. @(ReportData.PaidNoSitePaymentsSumAmount + ReportData.PaidNoSitePaymentsSumAmount).ToString("C")
                            <span class="ms-2">(@(Math.Round((ReportData.PaidNoSitePaymentsSumAmount / 120), 2)))</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">&nbsp;&nbsp;&nbsp;&nbsp;Платежи</th>
                        <td>
                            x @ReportData.PaidNoSitePaymentsCount шт. @ReportData.PaidNoSitePaymentsSumAmount.ToString("C")
                            <span class="ms-2">(@(Math.Round((ReportData.PaidNoSitePaymentsSumAmount / 120), 2)))</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">&nbsp;&nbsp;&nbsp;&nbsp;Перевод/конвертация (поступило)</th>
                        <td>
                            x @ReportData.ConversionsCount @ReportData.ConversionsSumAmount.ToString("C")
                            <span class="ms-2">(@(Math.Round((ReportData.ConversionsSumAmount / 120), 2)))</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><div class="d-flex flex-row-reverse">Итого:</div></th>
                        <td>
                            @(Math.Round(ReportData.PaidOnSitePaymentsSumAmount + ReportData.PaidNoSitePaymentsSumAmount + ReportData.ConversionsSumAmount, 2).ToString("C"))
                            <span>(@(Math.Round((ReportData.PaidOnSitePaymentsSumAmount + ReportData.PaidNoSitePaymentsSumAmount + ReportData.ConversionsSumAmount) / 120, 2)))</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr />
            @if (_bonusAmount > 0)
            {
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Офисные за онлайн контракты</th>
                            <td>
                                @((decimal)(_bonusAmount * (decimal)0.1) * (ReportData.PaidOnSitePaymentsSumAmount * (decimal)0.1) / 120)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Офисные при оплате на складе (+переводы/конвертации)</th>
                            <td>
                                @((decimal)(_bonusAmount * (decimal)0.1) * ((ReportData.PaidNoSitePaymentsSumAmount + ReportData.ConversionsSumAmount) * (decimal)0.1) / 120)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><div class="d-flex flex-row-reverse">Итого:</div></th>
                            <td>
                                @(((decimal)(_bonusAmount * (decimal)0.1) * (ReportData.PaidOnSitePaymentsSumAmount * (decimal)0.1) / 120) + ((decimal)(_bonusAmount * (decimal)0.1) * ((ReportData.PaidNoSitePaymentsSumAmount + ReportData.ConversionsSumAmount) * (decimal)0.1) / 120))
                            </td>
                        </tr>
                    </tbody>
                </table>
            }

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Value</th>
                        <th scope="col">Note</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Перевод в компанию на расчетный счет</th>
                        <td>
                            <input type="number"
                                   class="form-control"
                                   @bind-value:event="oninput"
                                   @bind-value="TransferToCompanyBankAccount">
                        </td>
                        <td>
                            <input type="text"
                                   class="form-control"
                                   @bind-value:event="oninput"
                                   @bind-value="TransferToCompanyBankAccountFootNote">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Перевод в компанию бонусов</th>
                        <td>
                            <input type="number"
                                   class="form-control"
                                   @bind-value:event="oninput"
                                   @bind-value="TransferBonusesCompany">
                        </td>
                        <td>
                            <input type="text"
                                   class="form-control"
                                   @bind-value:event="oninput"
                                   @bind-value="TransferBonusesCompanyFootNote">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Оплата наличными</th>
                        <td>
                            <input type="number"
                                   class="form-control"
                                   @bind-value:event="oninput"
                                   @bind-value="CashPayment">
                        </td>
                        <td>
                            <input type="text"
                                   class="form-control"
                                   @bind-value:event="oninput"
                                   @bind-value="CashPaymentFootNote">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Долг</th>
                        <td>
                            <input type="number"
                                   class="form-control"
                                   @bind-value:event="oninput"
                                   @bind-value="Debt">
                        </td>
                        <td>
                            <input type="text"
                                   class="form-control"
                                   @bind-value:event="oninput"
                                   @bind-value="DebtFootNote">
                        </td>
                    </tr>
                </tbody>
            </table>
        </MudCardContent>
        @* <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Primary">Read more</MudButton>
        </MudCardActions> *@
    </MudCard>
}