@inherits BlazorBusyComponentBaseModel

@using MudBlazor

<MudDateRangePicker PickerVariant="@PickerVariant.Inline"
                    @bind-DateRange="@DateRangeProp"
                    Margin="Margin.Dense"
                    Disabled=@(Owner is not null)
                    Clearable=@(Owner is null) />

@if (IsBusyProgress || ReportData is null)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate Class="my-3" data-cn="@this.GetType().Name" />
}
else
{
    <MudCard>
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">
                    Всего заказов выполнено [@ReportData.DoneOrdersCount шт.] на сумму [@ReportData.DoneOrdersSumAmount.ToString("C")]
                    <span class="ms-2">(@(Math.Round((ReportData.DoneOrdersSumAmount / 120), 2)))</span>
                </MudText>
            </CardHeaderContent>
            <CardHeaderActions>
                <MudIconButton Icon="@Icons.Material.Filled.Cached" Color="Color.Default" OnClick="ReloadServerData" />
            </CardHeaderActions>
        </MudCardHeader>
        <MudCardContent>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Оплачено "На сайте"</th>
                        <td>
                            @ReportData.PaidOnSitePaymentsSumAmount.ToString("C")
                            <span class="ms-2">(@(Math.Round((ReportData.PaidOnSitePaymentsSumAmount / 120), 2)))</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Другие платежи</th>
                        <td>
                            @ReportData.PaidNoSitePaymentsSumAmount.ToString("C")
                            <span class="ms-2">(@(Math.Round((ReportData.PaidNoSitePaymentsSumAmount / 120), 2)))</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Перевод/конвертация (поступило)</th>
                        <td>
                            @ReportData.ConversionsSumAmount.ToString("C")
                            <span class="ms-2">(@(Math.Round((ReportData.ConversionsSumAmount / 120), 2)))</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><div class="d-flex flex-row-reverse">Итого:</div></th>
                        <td>
                            @(Math.Round(ReportData.PaidOnSitePaymentsSumAmount + ReportData.PaidNoSitePaymentsSumAmount + ReportData.ConversionsSumAmount, 2).ToString("C"))
                            <span>(@(Math.Round((ReportData.PaidOnSitePaymentsSumAmount + ReportData.PaidNoSitePaymentsSumAmount + ReportData.ConversionsSumAmount) / 120, 2)))</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr />
            <div class="mb-4">
                <label class="form-label">Офисные</label>
                <input type="number"
                       class="form-control"
                       @bind-value="BonusAmount"
                       @bind-value:event="oninput">
            </div>

            <div class="input-group mb-2" title="перевод в компанию на расчетный счет">
                <span class="input-group-text">перевод в компанию на расчетный счет</span>
                <input type="number"
                       class="form-control"
                       @bind-value:event="oninput"
                       @bind-value="TransferToCompanyBankAccount">
                <input type="text"
                       class="form-control"
                       @bind-value:event="oninput"
                       @bind-value="TransferToCompanyBankAccountFootNote">
            </div>

            <div class="input-group mb-2" title="перевод в компанию бонусов">
                <span class="input-group-text">перевод в компанию бонусов</span>
                <input type="number"
                       class="form-control"
                       @bind-value:event="oninput"
                       @bind-value="TransferBonusesCompany">
                <input type="text"
                       class="form-control"
                       @bind-value:event="oninput"
                       @bind-value="TransferBonusesCompanyFootNote">
            </div>

            <div class="input-group mb-2" title="оплата наличными">
                <span class="input-group-text">оплата наличными</span>
                <input type="number"
                       class="form-control"
                       @bind-value:event="oninput"
                       @bind-value="CashPayment">
                <input type="text"
                       class="form-control"
                       @bind-value:event="oninput"
                       @bind-value="CashPaymentFootNote">
            </div>

            <div class="input-group mb-2" title="долг">
                <span class="input-group-text">долг</span>
                <input type="number"
                       class="form-control"
                       @bind-value:event="oninput"
                       @bind-value="Debt">
                <input type="text"
                       class="form-control"
                       @bind-value:event="oninput"
                       @bind-value="DebtFootNote">
            </div>

            @if (_bonusAmount > 0)
            {
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">офисные за онлайн контракты</th>
                            <td>
                                @((decimal)(BonusAmount * (decimal)0.1) * (ReportData.PaidOnSitePaymentsSumAmount * (decimal)0.1) / 120)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">офисные при оплате на складе (+переводы/конвертации)</th>
                            <td>
                                @((decimal)(BonusAmount * (decimal)0.1) * ((ReportData.PaidNoSitePaymentsSumAmount + ReportData.ConversionsSumAmount) * (decimal)0.1) / 120)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><div class="d-flex flex-row-reverse">Итого:</div></th>
                            <td>
                                @(((decimal)(BonusAmount * (decimal)0.1) * (ReportData.PaidOnSitePaymentsSumAmount * (decimal)0.1) / 120) + ((decimal)(BonusAmount * (decimal)0.1) * ((ReportData.PaidNoSitePaymentsSumAmount + ReportData.ConversionsSumAmount) * (decimal)0.1) / 120))
                            </td>
                        </tr>
                    </tbody>
                </table>
            }
        </MudCardContent>
        @* <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Primary">Read more</MudButton>
        </MudCardActions> *@
    </MudCard>
}