@inherits BlazorBusyComponentBaseModel

@using MudBlazor

<MudStack AlignItems="AlignItems.Center" Row>
    <MudChipSet @bind-SelectedValues="SelectedStatuses"
                SelectionMode="SelectionMode.MultiSelection"
                CheckMark
                Variant="Variant.Text"
                Class="mb-2"
                Color="Color.Info">
        @foreach (StatusesDocumentsEnum sd in Enum.GetValues<StatusesDocumentsEnum>())
        {
            <MudChip Value="@sd" Text="@sd.DescriptionInfo()" />
        }
    </MudChipSet>
    <MudChip T="string" Icon="@(includeUnset? @Icons.Material.Filled.Check : "")" Selected=includeUnset OnClick="OnChipClicked" Color="Color.Default">Не обработанные</MudChip>
    <MudSpacer />
    <MudDateRangePicker PickerVariant="@PickerVariant.Inline"
                        @bind-DateRange="@DateRangeProp"
                        Margin="Margin.Dense"
                        Disabled=@(Owner is not null)
                        Clearable=@(Owner is null) />
</MudStack>
<MudTable ServerData="ServerReload"
          Dense Hover Striped
          @ref=tableRef>
    <ToolBarContent>
        <MudText Typo="Typo.h6">Товарный отчёт (обороты)</MudText>
        <div class="form-check form-switch form-check-inline ms-2">
            <MudTooltip Text="Отображение документов с расхождением доставки с заказами по сумме весов">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault" @bind=AllowSumsConflict>
                <label class="form-check-label" for="switchCheckDefault">
                    разрешить расхождение весов
                </label>
            </MudTooltip>
        </div>
        <MudSpacer />
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Offer</MudTh>
        <MudTh>Кол-во</MudTh>
        <MudTh>
            <MudTableSortLabel T="OffersRetailReportRowModel" SortLabel="@(nameof(OffersRetailReportRowModel.Sum))">Сумма</MudTableSortLabel>
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Offer">
            <MudLink Href="@($"/nomenclature/offer-card/{context.Offer.Id}")">
                @context.Offer.GetName()
            </MudLink>
        </MudTd>
        <MudTd DataLabel="Кол-во">@context.Count</MudTd>
        <MudTd DataLabel="Сумма">@context.Sum</MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>