@inherits BlazorBusyComponentBaseModel

@using MudBlazor

<MudStack AlignItems="AlignItems.Center" Row Class="mb-1">
    <div class="card">
        <div class="card-body p-1">
            <MudChipSet @bind-SelectedValues="SelectedPaymentsTypes"
                        SelectionMode="SelectionMode.MultiSelection"
                        CheckMark
                        Class="me-2"
                        Variant="Variant.Text"
                        Color="Color.Info">
                @foreach (PaymentsRetailTypesEnum pt in Enum.GetValues(typeof(PaymentsRetailTypesEnum)))
                {
                    <MudChip Value="@pt" Text="@pt.DescriptionInfo()" />
                }
            </MudChipSet>
            <MudChip T="string" Icon="@(includeUnset? @Icons.Material.Filled.Check : "")" Selected=includeUnset OnClick="OnChipClicked" Color="Color.Default">Переводы</MudChip>
        </div>
    </div>
    <MudSpacer />
    <MudDateRangePicker Disabled=@(Owner is not null)
                        Clearable=@(Owner is null)
                        PickerVariant="@PickerVariant.Inline"
                        @bind-DateRange="@DateRangeProp"
                        Margin="Margin.Dense" />
</MudStack>
<MudTable ServerData="ServerReload" Dense Hover @ref=_tableRef Loading=IsBusyProgress>
    <ToolBarContent>
        <MudText Typo="Typo.h6">Финансовый отчёт (обороты)</MudText>
        <MudSpacer />
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Кошелёк</MudTh>
        <MudTh>Пользователь</MudTh>
        <MudTh>
            <MudTableSortLabel T="WalletRetailReportRowModel" SortLabel="@(nameof(WalletRetailReportRowModel.Amount))">Сумма</MudTableSortLabel>
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Кошелёк">@context.Wallet.ToString()</MudTd>
        <MudTd DataLabel="Пользователь">@context.User.ToString()</MudTd>
        <MudTd DataLabel="Сумма">@context.Amount</MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>