@using BlazorLib.Components.Kladr.control.find
@inherits BlazorBusyComponentBaseModel

<MudDialog>
    <TitleContent>
        @MudDialog.Title
    </TitleContent>
    <DialogContent>
        <MudAutocomplete @bind-Value="SelectedRegionName"
                         Disabled="IsBusyProgress"
                         Dense
                         HelperTextOnFocus
                         SearchFunc="SearchRegion"
                         Label="Регион"
                         Placeholder="Регион"
                         HelperText="Регион" />

        @if (SelectionProgressSteps.Count != 0)
        {
            <ul class="list-group list-group-flush mb-2">
                @foreach (RootKLADRModelDB kladrRow in SelectionProgressSteps)
                {
                    <li class="list-group-item">@kladrRow.ToString()</li>
                }
            </ul>
        }

        @if (CurrentRegion is not null)
        {
            <div class="input-group mb-3">
                <input @bind="FindName" type="text" class="form-control" placeholder="Поиск по названию" disabled="@IsBusyProgress">
                <button class="btn btn-outline-secondary" type="button" disabled="@IsBusyProgress">Найти</button>
            </div>
            @if (string.IsNullOrWhiteSpace(FindName) && SelectionProgressSteps.Count == 0)
            {
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <p>Введите строку поиска.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        С учётом <cite title="регистр символа будет учтён для точного совпадения">регистра</cite>
                    </figcaption>
                </figure>
            }
            else if (!hideTable)
            {
                <MudTable ServerData="ServerReload" Dense="true" Hover="true" Loading="IsBusyProgress">
                    <ToolBarContent>
                        <span class="font-monospace">@(IsBusyProgress ? "Запрос обрабатывается" : (partData is null || partData.Count == 0 ? "ни чего не найдено" : "Выберете из перечня, пожалуйста"))</span>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh></MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd><KladrFindTableRowComponent KladrRow="context" HighlightedText="@FindName" SelectionHandler="SelectRowAction" SkipBreadcrumbs="@(SelectionProgressSteps.Count + 1)" /></MudTd>
                    </RowTemplate>
                    <NoRecordsContent>
                        <figure class="text-center">
                            <blockquote class="blockquote">
                                <p>Измените строку поиска.</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                По вашему запросу <cite title="регистр символа будет учтён для точного совпадения">ни чего не найдено</cite>
                            </figcaption>
                        </figure>
                    </NoRecordsContent>
                    <LoadingContent>
                        <MudText>Поиск...</MudText>
                    </LoadingContent>
                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                </MudTable>
            }
        }
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Отмена</MudButton>
    </DialogActions>
</MudDialog>