@using MudBlazor

@inherits KladrNavBaseNodeComponent

<div class="hstack gap-3">
    <MudIcon Icon="@Icons.Material.Filled.AccountTree" Style="@($"color:{Colors.LightGreen.Lighten1};")" Title="Дом" />
    <SupCodeKladrComponent MetaData="MetaData" />
    <sub class="ms-1">@ObjectKLADR.SOCR :</sub>
    @foreach (string _n in Names)
    {
        <a target="_blank" href="https://yandex.ru/maps?text=@($"{FullNameData}, {ObjectKLADR.SOCR} {_n}")" class="link-info">@_n</a>
    }
    <MudSpacer />
    <LinksKladrComponent PostIndex="@ObjectKLADR.INDEX" Owner="Parent" HideMapLink />
</div>