@using BlazorKladrLib.Components.control.input
@inherits FieldComponentRootModel

@switch (Field.TypeField)
{
    case TypesFieldsFormsEnum.Text or TypesFieldsFormsEnum.Password:
        if (!string.IsNullOrEmpty(Parameter))
        {
            switch (Descriptor)
            {
                case nameof(PropsTypesMDFieldsEnum.TextMask):
                    string? getMd = Field.GetMetadataValue(MetadataExtensionsFormFieldsEnum.Parameter, "")?.ToString();
                    <MudTextField ReadOnly="@(SessionOfDocumentData is null)"
                                  Required="@Field.Required"
                                  Placeholder="@Parameter"
                                  Class="mb-3"
                                  Mask="@(string.IsNullOrWhiteSpace(getMd) ? null : new PatternMask(getMd))"
                                  Label="@Field.Name"
                                  HelperText="@Field.Hint"
                                  @bind-Value="StringFieldValue"
                                  Variant="@Variant.Text"
                                  Clearable />
                    break;
                case nameof(PropsTypesMDFieldsEnum.Template):
                    <label for="@DomID" class="form-label">
                        @if (string.IsNullOrWhiteSpace(Field.Name))
                        {
                            @((MarkupString)"&nbsp;")
                        }
                        else
                        {
                            <text>@Field.Name</text>
                        }
                        @if (Field.Required)
                        {
                            <sup class="text-danger">*</sup>
                        }
                    </label>
                    EntryAltDescriptionStandardModel? _current_agent = Entries.FirstOrDefault(x => $"{x.Name} #{x.Id}".Equals(Parameter, StringComparison.OrdinalIgnoreCase));
                    if (_current_agent is null)
                    {
                        <input type="text"
                               readonly
                               class="form-control-plaintext"
                               id="@DomID"
                               value="@Parameter"
                               aria-describedby="@($"{DomID}Help")" />
                    }
                    else
                    {
                        DeclarationAbstraction? _declaration = DeclarationAbstraction.GetHandlerService(_current_agent.Id);
                        @if (_declaration is null)
                        {
                            <input type="text"
                                   readonly
                                   class="form-control-plaintext"
                                   id="@DomID"
                                   value="@Parameter"
                                   aria-describedby="@($"{DomID}Help")" />
                        }
                        else
                        {
                            <input type="text"
                                   readonly="@(SessionOfDocumentData is null)"
                                   class="form-control"
                                   id="@DomID"
                                   @bind="@StringFieldValue"
                                   aria-describedby="@($"{DomID}Help")" />
                        }
                    }
                    <div id="@($"{DomID}Help")" class="form-text">
                        @if (string.IsNullOrWhiteSpace(Field.Hint))
                        {
                            @((MarkupString)"&nbsp;")
                        }
                        else
                        {
                            <text>@Field.Hint</text>
                        }
                    </div>

                    break;
                case null:
                    <span>не указано</span>
                    break;
                default:
                    <span>error D0D8973F-3A0F-4214-B0FD-EB395CBBEC72: descriptor = [@Descriptor]; parameter = [@Parameter];</span>
                    break;
            }
        }
        else
        {
            bool _disabled = (Descriptor?.Equals(nameof(PropsTypesMDFieldsEnum.Template)) == true && (string.IsNullOrWhiteSpace(Parameter) || DeclarationAbstraction.GetHandlerService(Parameter) is null));
            string css_class = $"form-control{(_disabled ? "-plaintext" : "")}";

            <label for="@($"{DomID}")" class="form-label">
                @if (string.IsNullOrWhiteSpace(Field.Name))
                {
                    @((MarkupString)"&nbsp;")
                }
                else
                {
                    <text>
                        @Field.Name
                    </text>
                }
                @if (Field.Required)
                {
                    <sup class="text-danger">*</sup>
                }
            </label>

            @if (Field.TypeField == TypesFieldsFormsEnum.Text && (bool?)Field.GetMetadataValue(MetadataExtensionsFormFieldsEnum.IsMultiline, false) == true)
            {
                <textarea @bind-value="StringFieldValue"
                          @bind-value:event="oninput"
                          readonly="@(SessionOfDocumentData is null)"
                          disabled="@_disabled"
                          class="@css_class"
                          id="@DomID"
                          name="@DomID"
                          rows="5"
                          placeholder="@Field.GetMetadataValue(MetadataExtensionsFormFieldsEnum.Placeholder, "")"
                          aria-describedby="@($"{DomID}Help")"></textarea>
            }
            else
            {
                <input @bind-value="StringFieldValue"
                       @bind-value:event="oninput"
                       readonly="@(SessionOfDocumentData is null)"
                       disabled="@_disabled"
                       placeholder="@Field.GetMetadataValue(MetadataExtensionsFormFieldsEnum.Placeholder, "")"
                       type="@Field.TypeField.ToString()"
                       class="@css_class"
                       name="@DomID"
                       id="@DomID"
                       aria-describedby="@($"{DomID}Help")" />
            }

            <div id="@($"{DomID}Help")" class="form-text" hidden="@string.IsNullOrEmpty(Field.Hint)">
                @if (string.IsNullOrEmpty(Field.Hint))
                {
                    @((MarkupString)"&nbsp;")
                }
                else
                {
                    <text>@Field.Hint</text>
                }
            </div>
        }
        break;
    case TypesFieldsFormsEnum.Int:
        <MudNumericField ReadOnly="@(SessionOfDocumentData is null)"
                         Required="@Field.Required"
                         @bind-Value="IntFieldValue"
                         Placeholder="@(Field.GetMetadataValue(MetadataExtensionsFormFieldsEnum.Placeholder, "")?.ToString())"
                         Class="mb-3"
                         Label="@Field.Name"
                         HelperText="@Field.Hint"
                         Variant="Variant.Text"
                         Min="0"
                         HideSpinButtons />
        break;
    case TypesFieldsFormsEnum.Double:
        <MudNumericField ReadOnly="@(SessionOfDocumentData is null)"
                         Required="@Field.Required"
                         @bind-Value="DoubleFieldValue"
                         Placeholder="@(Field.GetMetadataValue(MetadataExtensionsFormFieldsEnum.Placeholder, "")?.ToString())"
                         Class="mb-3"
                         Label="@Field.Name"
                         HelperText="@Field.Hint"
                         Variant="Variant.Filled"
                         Min="0.0"
                         HideSpinButtons />
        break;
    case TypesFieldsFormsEnum.Bool:
        <MudCheckBox ReadOnly="@(SessionOfDocumentData is null)"
                     Required="@Field.Required"
                     Class="mb-3" @bind-Value="@BoolFieldValue"
                     Label="@Field.Name"></MudCheckBox>
        break;
    case TypesFieldsFormsEnum.DateTime:
        <MudTextField ReadOnly="@(SessionOfDocumentData is null)"
                      Required="@Field.Required"
                      @bind-Value="DateTimeFieldValue"
                      Placeholder="@(Field.GetMetadataValue(MetadataExtensionsFormFieldsEnum.Placeholder, "")?.ToString())"
                      T="DateTime?"
                      Format="s"
                      Label="@Field.Name"
                      HelperText="@Field.Hint"
                      InputType="InputType.DateTimeLocal" />
        break;
    case TypesFieldsFormsEnum.Date:
        <MudTextField ReadOnly="@(SessionOfDocumentData is null)"
                      Required="@Field.Required"
                      @bind-Value="DateTimeFieldValue"
                      Placeholder="@(Field.GetMetadataValue(MetadataExtensionsFormFieldsEnum.Placeholder, "")?.ToString())"
                      T="DateTime?"
                      Format="yyyy-MM-dd"
                      Label="@Field.Name"
                      HelperText="@Field.Hint"
                      InputType="InputType.Date" />
        break;
    case TypesFieldsFormsEnum.Time:
        <MudTextField ReadOnly="@(SessionOfDocumentData is null)"
                      Required="@Field.Required"
                      @bind-Value="StringFieldValue"
                      Placeholder="@(Field.GetMetadataValue(MetadataExtensionsFormFieldsEnum.Placeholder, "")?.ToString())"
                      T="string"
                      Label="@Field.Name"
                      HelperText="@Field.Hint"
                      InputType="InputType.Time" />
        break;
    case TypesFieldsFormsEnum.ProgramCalculationDouble:
        <label for="@($"{DomID}")" class="form-label">
            @if (string.IsNullOrWhiteSpace(Field.Name))
            {
                @((MarkupString)"&nbsp;")
            }
            else
            {
                <text>
                    @Field.Name
                </text>
            }
            @if (Field.Required)
            {
                <sup class="text-danger">*</sup>
            }
        </label>
        <input value="@CalculateFieldValue"
               type="text"
               readonly
               class="form-control-plaintext"
               title="@AboutCalculationFieldValue"
               name="@DomID"
               id="@DomID"
               aria-describedby="@($"{DomID}Help")" />
        <div id="@($"{DomID}Help")" class="form-text" hidden="@string.IsNullOrEmpty(Field.Hint)">
            @if (string.IsNullOrEmpty(Field.Hint))
            {
                @((MarkupString)"&nbsp;")
            }
            else
            {
                <text>@Field.Hint</text>
            }
        </div>
        break;
    case TypesFieldsFormsEnum.Generator:
        <GeneratorClientViewComponent ReadOnly="@(SessionOfDocumentData is null)"
                                      GroupByRowNum="GroupByRowNum"
                                      Form="Form"
                                      DocumentPage="DocumentPage"
                                      Field="Field"
                                      SessionOfDocumentData="SessionOfDocumentData"
                                      CurrentUser="CurrentUser"
                                      PageJoinForm="PageJoinForm" />
        break;
    case TypesFieldsFormsEnum.AddressKladrRussia:
        <KladrInputComponent @bind-KladrObject="KladrObject" ReadOnly="@(SessionOfDocumentData is null)" />
        break;
    default:
        <div class="alert alert-warning mb-2" role="alert">
            `@Field.TypeField/@Field.TypeField.DescriptionInfo()`. ошибка 6EE0B6BC-44E6-436A-BEE2-AF89B4C72303
        </div>
        break;
}
@code {
    /// <inheritdoc/>
    [Parameter, EditorRequired]
    public FieldFormConstructorModelDB Field { get; set; } = default!;


    VirtualColumnCalculationAbstraction? _calculation_service;
    CommandAsEntryModel? _md;
    /// <inheritdoc/>
    public string AboutCalculationFieldValue
    {
        get
        {
            CommandEntryModel? md = CalculationsAsEntries?.FirstOrDefault(EqualCommand);
            return $"{md?.Name ?? "ошибка 99A9A8C3-4748-45BD-B4C9-A34BA6C13ECF"}: {Field.GetMetadataValue(MetadataExtensionsFormFieldsEnum.Descriptor)}";
        }
    }

    bool EqualCommand(CommandEntryModel comm)
    {
        object? ext = Field.GetMetadataValue(MetadataExtensionsFormFieldsEnum.Descriptor);
        return comm.Id == ext?.ToString();
    }

    string? CalculateFieldValue
    {
        get
        {
            if (!InUse)
                return "<калькуляция>";
            else if (string.IsNullOrWhiteSpace(Field.MetadataValueType) || !CellsValuesOfCurrentRow.Any() || QueryFieldsOfNumericTypes is null)
                return null;

            _md ??= DeclarationAbstraction.ParseCommandsAsEntries(Field.MetadataValueType);

            if (_md?.Options.Any() != true)
                return null;

            _calculation_service ??= (DeclarationAbstraction.GetHandlerService(_md.CommandName) as VirtualColumnCalculationAbstraction);
            if (_calculation_service is null || SessionOfDocumentData is null || PageJoinForm is null)
                return null;

            Dictionary<string, double> columns = [];
            foreach (string _ff in FieldsNames)
                if (double.TryParse(CellsValuesOfCurrentRow.FirstOrDefault(x => x.Name.Equals(_ff))?.Value, out double _d))
                    columns.Add(_ff, _d);

            if (columns.Count == 0)
                return null;

            return _calculation_service.Calculate(columns, _md.Options).ToString();
        }
    }
    static IEnumerable<CommandEntryModel> Entries = [];

    /// <summary>
    /// Вид параметра
    /// </summary>
    string? Descriptor => Field.GetMetadataValue(MetadataExtensionsFormFieldsEnum.Descriptor)?.ToString();

    /// <summary>
    /// Параметр
    /// </summary>
    string? Parameter => Field.GetMetadataValue(MetadataExtensionsFormFieldsEnum.Parameter)?.ToString();

    IQueryable<FieldFormConstructorModelDB>? QueryFieldsOfNumericTypes => PageJoinForm?.Form?.QueryFieldsOfNumericTypes(Field.Name);
    IEnumerable<string> FieldsNames => QueryFieldsOfNumericTypes?.Select(x => x.Name) ?? Enumerable.Empty<string>();
    IEnumerable<ValueDataForSessionOfDocumentModelDB> CellsValuesOfCurrentRow => SessionOfDocumentData?.RowsData(PageJoinForm!.Id)?.FirstOrDefault(x => x.Key == GroupByRowNum) ?? Enumerable.Empty<ValueDataForSessionOfDocumentModelDB>();

    string? _stringFieldValue;
    /// <inheritdoc/>
    public string? StringFieldValue
    {
        get => _stringFieldValue;
        set
        {
            _stringFieldValue = value;
            InvokeAsync(async () =>
            {
                await SetBusyAsync();
                await SetValue(_stringFieldValue, Field.Name);
                await SetBusyAsync(false);
            });
        }
    }

    bool? _boolFieldValue;
    /// <inheritdoc/>
    public bool? BoolFieldValue
    {
        get => _boolFieldValue;
        set
        {
            _boolFieldValue = value;
            InvokeAsync(async () =>
            {
                await SetBusyAsync();
                await SetValue(_boolFieldValue.ToString(), Field.Name);
                await SetBusyAsync(false);
            });
        }
    }

    DateTime? _dateTimeFieldValue;
    /// <inheritdoc/>
    public DateTime? DateTimeFieldValue
    {
        get => _dateTimeFieldValue;
        set
        {
            _dateTimeFieldValue = value;
            InvokeAsync(async () =>
            {
                await SetBusyAsync();
                await SetValue(_dateTimeFieldValue.ToString(), Field.Name);
                await SetBusyAsync(false);
            });
        }
    }

    double? _doubleFieldValue;
    /// <inheritdoc/>
    public double? DoubleFieldValue
    {
        get => _doubleFieldValue;
        set
        {
            _doubleFieldValue = value;
            InvokeAsync(async () =>
            {
                await SetBusyAsync();
                await SetValue(_doubleFieldValue.ToString(), Field.Name);
                await SetBusyAsync(false);
            });
        }
    }

    int? _intFieldValue;
    /// <inheritdoc/>
    public int? IntFieldValue
    {
        get => _intFieldValue;
        set
        {
            _intFieldValue = value;
            InvokeAsync(async () =>
            {
                await SetBusyAsync();
                await SetValue(_intFieldValue.ToString(), Field.Name);
                await SetBusyAsync(false);
            });
        }
    }
    //StringFieldValue
    EntryAltStandardModel? KladrObject
    {
        get => EntryAltStandardModel.Build("0", StringFieldValue ?? "");
        set
        {
            StringFieldValue = value?.Name;
        }
    }

    /// <inheritdoc/>
    public override string DomID => $"form-{Form.Id}_{Field.GetType().FullName}-{DocumentPage?.Id}-{Field.Id}";

    /// <inheritdoc/>
    public string? FieldValue => SessionOfDocumentData?.DataSessionValues?.FirstOrDefault(x => x.JoinFormToTabId == PageJoinForm?.Id && x.Name.Equals(Field.Name, StringComparison.OrdinalIgnoreCase) && x.RowNum == GroupByRowNum)?.Value;

    /// <inheritdoc/>
    protected override void OnInitialized()
    {
        if (!Entries.Any())
            Entries = ExtensionsBlazorLib.CommandsAsEntries<TextFieldValueAgent>();

        switch (Field.TypeField)
        {
            case TypesFieldsFormsEnum.Text or TypesFieldsFormsEnum.Password or TypesFieldsFormsEnum.Time or TypesFieldsFormsEnum.Generator or TypesFieldsFormsEnum.AddressKladrRussia:
                CommandEntryModel? _current_agent = Entries.FirstOrDefault(x => $"{x.Name} #{x.Id}".Equals(Parameter));
                if (_current_agent is not null)
                {
                    TextFieldValueAgent? _declaration = DeclarationAbstraction.GetHandlerService(_current_agent.Id) as TextFieldValueAgent;
                    if (_declaration is not null && FieldValue is null && SessionOfDocumentData is not null && DocumentPage is not null && PageJoinForm is not null)
                        StringFieldValue = _declaration.DefaultValueIfNull(Field, SessionOfDocumentData, PageJoinForm.Id);
                    else
                        _stringFieldValue = FieldValue;
                }
                else
                    _stringFieldValue = FieldValue;
                break;
            case TypesFieldsFormsEnum.Int:
                if (int.TryParse(FieldValue, out int _out_int))
                    _intFieldValue = _out_int;
                break;
            case TypesFieldsFormsEnum.Double:
                if (double.TryParse(FieldValue, out double _out_double))
                    _doubleFieldValue = _out_double;
                break;
            case TypesFieldsFormsEnum.Bool:
                if (bool.TryParse(FieldValue, out bool _out_bool))
                    _boolFieldValue = _out_bool;
                break;
            case TypesFieldsFormsEnum.DateTime or TypesFieldsFormsEnum.Date:
                if (DateTime.TryParse(FieldValue, out DateTime _out_dt))
                    _dateTimeFieldValue = _out_dt;
                break;
            case TypesFieldsFormsEnum.ProgramCalculationDouble:
                CalculationsAsEntries = ExtensionsBlazorLib.CommandsAsEntries<VirtualColumnCalculationAbstraction>();
                _stringFieldValue = "<calculator>";
                break;
            default:
                throw new Exception($"Тип данных поля [{Field.TypeField}] не обработан. ошибка {{A715B8B4-80B0-4B18-ACAE-CD88E4307B35}}");
        }
        FieldsReferring?.Add(this);
    }
}