@using MudBlazor
@inherits BlazorBusyComponentBaseModel

<div class="card">
    <div class="card-body">
        @if (!string.IsNullOrWhiteSpace(Title))
        {
            <h5 class="card-title">@Title</h5>
        }
        @if (IsBusyProgress)
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate Class="my-3" />
        }
        else
        {
            @if (string.IsNullOrWhiteSpace(PresetClientId))
            {
                <UserSelectInputComponent SelectHandleAction="SelectUserAction"
                                          SelectedUserInit="@(currentUser?.UserId)" />
            }
            else
            {
                <div class="mb-3">
                    <label for="formControlInputBuyer" class="form-label">Пользователь</label>
                    <input class="form-control"
                           type="text"
                           value="@currentUser?.ToString()"
                           aria-label="readonly input example"
                           readonly
                           id="formControlInputBuyer"
                           aria-describedby="buyerHelp">
                    <div id="buyerHelp" class="form-text">Контекст заказчика.</div>
                </div>
            }

            @if (string.IsNullOrWhiteSpace(currentUser?.UserId))
            {
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <p>Укажите пользователя.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Для выбора кошелька - укажите пользователя
                    </figcaption>
                </figure>
            }
            else
            {
                <MudSelect T="WalletRetailModelDB"
                           @bind-Value="CurrentWallet"
                           Label="Кошелёк"
                           Placeholder="Please Select"
                           AdornmentIcon="@Icons.Material.Filled.Wallet"
                           AdornmentColor="Color.Primary">
                    <MudSelectItem T="WalletRetailModelDB" Value="@(null as WalletRetailModelDB)"></MudSelectItem>
                    @foreach (WalletRetailModelDB wallet in walletsForSelect.Where(x => PaymentRetailTypeFilter is null || x.WalletType.DisabledPaymentsTypes?.Any(x => x.PaymentType != PaymentRetailTypeFilter) != true))
                    {
                        <MudSelectItem Class="@(wallet.WalletType?.IsSystem == true ? "text-warning" : "")" Value="@wallet">@wallet.Name `@wallet.WalletType?.Name` [@wallet.Balance]</MudSelectItem>
                    }
                </MudSelect>
            }
        }
    </div>
</div>