@using MudBlazor
@inherits BlazorBusyComponentBaseModel

@if (IsBusyProgress)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate Class="my-3" />
}

<div class="list-group-item list-group-item-action" aria-current="true">
    @if (_walletCopy is null)
    {
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">
                <span class="@(WalletTypeElement.IsDisabled ? "text-decoration-line-through" : "")">@WalletTypeElement.Name</span>
                <sup class="ms-4 text-@(WalletTypeElement.IsDisabled ? "danger" : "success")">
                    @(WalletTypeElement.IsDisabled ? "выключено" : "активно")
                </sup>
                @if (WalletTypeElement.IsSystem)
                {
                    <sup class="ms-4 text-warning-emphasis">
                        системный
                    </sup>
                }
            </h5>
            <small>@WalletTypeElement.SumBalances</small>
        </div>
        <p class="mb-1 @(WalletTypeElement.IsDisabled ? "text-decoration-line-through" : "")">@WalletTypeElement.Description</p>

        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-body-secondary">Отключённые типы оплаты (для платежей)</h6>
                @foreach (PaymentsRetailTypesEnum prt in Enum.GetValues<PaymentsRetailTypesEnum>())
                {
                    bool _ic = WalletTypeElement.DisabledPaymentsTypes!.Any(x => x.PaymentType == prt) == true;
                    <div class="form-check form-check-inline">
                        <input type="checkbox"
                               class="form-check-input"
                               id="@($"inlineCheckbox_{WalletTypeElement.Id}_{prt}")"
                               checked="@_ic"
                               @onchange="(e) => ChangeState(prt, WalletTypeElement)" />

                        <label class="form-check-label" for="@($"inlineCheckbox_{WalletTypeElement.Id}_{prt}")">@prt.DescriptionInfo()</label>
                    </div>
                }
            </div>
        </div>
        <small>
            Создан: @WalletTypeElement.CreatedAtUTC.GetCustomTime()
            @if (WalletTypeElement.LastUpdatedAtUTC.HasValue && WalletTypeElement.LastUpdatedAtUTC != default)
            {
                <strong class="ms-3">updated: @WalletTypeElement.LastUpdatedAtUTC.Value.GetCustomTime()</strong>
            }
        </small>
    }
    else
    {
        <div class="card mt-3">
            <div class="card-body">
                <div class="mb-3">
                    <label for="exampleFormControlInput-@_walletCopy.Id" class="form-label">Название</label>
                    <input @bind-value="_walletCopy.Name"
                           @bind-value:event="oninput"
                           disabled="@IsBusyProgress"
                           type="text"
                           class="form-control"
                           id="exampleFormControlInput-@_walletCopy.Id"
                           placeholder="Name">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea-@_walletCopy.Id" class="form-label">Описание</label>
                    <textarea @bind-value="_walletCopy.Description"
                              @bind-value:event="oninput"
                              disabled="@IsBusyProgress"
                              class="form-control"
                              id="exampleFormControlTextarea-@_walletCopy.Id"
                              rows="3"></textarea>
                </div>
                <div class="form-check form-switch form-check-inline me-2">
                    <input @bind="_walletCopy.IsDisabled"
                           class="form-check-input"
                           disabled="@IsBusyProgress"
                           type="checkbox"
                           role="switch"
                           id="switchCheckDefaultIsDisabled-@_walletCopy.Id">
                    <label class="form-check-label" for="switchCheckDefaultIsDisabled-@_walletCopy.Id">@(_walletCopy.IsDisabled ? "Выключено (включить?)" : "Включено (выключить?)")</label>
                </div>
                <div class="form-check form-check-inline me-2">
                    <input @bind="_walletCopy.IsSystem"
                           class="form-check-input"
                           type="checkbox"
                           id="checkDefaultIsSystem-@_walletCopy.Id">
                    <label class="form-check-label" for="checkDefaultIsSystem-@_walletCopy.Id">
                        Системный
                    </label>
                </div>
                <div class="form-check form-check-inline me-2">
                    <input @bind="_walletCopy.IgnoreBalanceChanges"
                           class="form-check-input"
                           type="checkbox"
                           id="checkDefaultIgnoreBalanceChanges-@_walletCopy.Id">
                    <label class="form-check-label" for="checkDefaultIgnoreBalanceChanges-@_walletCopy.Id">
                        Игнорировать движения
                    </label>
                </div>
            </div>
        </div>
    }

    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
        @if (_walletCopy is null)
        {
            <button class="btn btn-primary" type="button" @onclick="InitEdit" disabled="@IsBusyProgress">Edit</button>
        }
        else
        {
            <button class="btn btn-outline-primary" type="button" @onclick="CancelEdit" disabled="@IsBusyProgress">Cancel</button>
            <button class="btn btn-outline-success" type="button" @onclick="Save" disabled="@(!IsEdited || IsBusyProgress)">Save</button>
            @if (IsEdited)
            {
                <button class="btn btn-outline-info" type="button" @onclick="InitEdit" disabled="@IsBusyProgress">Reset</button>
            }
        }
    </div>
</div>