@using BlazorLib.Components.Retail.OrdersLinks
@using BlazorLib.Components.Retail.Wallet
@using BlazorLib.Components.Telegram
@using BlazorLib.Components.TraceHistoryView
@using MudBlazor

@inherits BlazorBusyComponentBaseAuthModel

<div class="card">
    <div class="card-body">
        @if (IsBusyProgress || editDoc is null)
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate Class="my-3" data-cn="@this.GetType().Name" />
        }
        else
        {
            <MudTabs Elevation="2" Rounded ApplyEffectsToContainer PanelClass="pa-2">
                <MudTabPanel Text="Реквизиты">
                    <MudGrid>
                        <MudItem xs="12" md="6" Class="mb-3">
                            <label for="exampleInputTypePayment" class="form-label">Тип/способ оплаты</label>
                            <select class="form-select" id="exampleInputTypePayment" @bind="editDoc.TypePaymentId">
                                @foreach (UniversalBaseModel _pt in AllPaymentsTypes)
                                {
                                    <option value="@_pt.Id">@_pt.Name</option>
                                }
                            </select>
                        </MudItem>
                        <MudItem xs="12" md="6" Class="mb-3">
                            <label for="exampleInputStatusPayment" class="form-label">Статус платежа</label>
                            <select class="form-select" id="exampleInputStatusPayment" @bind="editDoc.StatusPayment">
                                @foreach (PaymentsRetailStatusesEnum _sp in Enum.GetValues(typeof(PaymentsRetailStatusesEnum)))
                                {
                                    <option value="@_sp">@_sp.DescriptionInfo()</option>
                                }
                            </select>
                        </MudItem>
                        <MudItem xs="6" md="2">
                            <div class="mb-3">
                                <label for="exampleInputAmount" class="form-label">Amount</label>
                                <input type="number" class="form-control" id="exampleInputAmount" @bind-value="editDoc.Amount" @bind-value:event="oninput">
                            </div>
                        </MudItem>
                        <MudItem xs="6" md="2">
                            <div class="mb-3">
                                <label for="exampleInputDatePayment" class="form-label">Дата</label>
                                <input @bind-value="@DatePayment" @bind-value:event="oninput" type="date" id="exampleInputDatePayment" class="form-control">
                            </div>
                        </MudItem>

                        <MudItem xs="12" md="4">
                            <div class="mb-3">
                                <label for="exampleInputName" class="form-label">Примечание</label>
                                <input type="text" class="form-control" id="exampleInputName" @bind-value="editDoc.Name" @bind-value:event="oninput">
                            </div>
                        </MudItem>
                        <MudItem xs="12" md="4">
                            <div class="mb-3">
                                <label for="exampleInputPaymentSource" class="form-label">PaymentSource</label>
                                <input type="text" class="form-control" id="exampleInputPaymentSource" @bind-value="editDoc.PaymentSource" @bind-value:event="oninput">
                            </div>
                        </MudItem>
                    </MudGrid>
                    <div class="mb-3">
                        <WalletSelectInputComponent SelectWalletHandler="SelectWalletRecipientAction"
                                                    SelectUserHandler="SelectUserRecipientAction"
                                                    WalletInit="editDoc.Wallet"
                                                    PresetClientId="@(InjectToOrder?.BuyerIdentityUserId)"
                                                    PaymentRetailTypeFilter="editDoc.TypePaymentId"
                                                    @ref=recipientWalletRef
                                                    Title="Плательщик"
                                                    HideSystemWallets />
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                        <button disabled="@CannotSave" class="btn btn-primary" type="button" @onclick=SaveDoc>
                            @(editDoc.Id <= 0 ? "Создать" : "Сохранить")
                        </button>
                        @if (!CannotSave)
                        {
                            <button disabled="@CannotSave" class="btn btn-secondary" type="button" @onclick=ResetEdit>
                                Сброс
                            </button>
                        }
                    </div>
                </MudTabPanel>
                <MudTabPanel Text="Заказы" Disabled="@(PaymentId < 1)">
                    <OrdersPaymentsLinksTableComponent PaymentId="PaymentId" />
                </MudTabPanel>
                @if (PaymentId > 0)
                {
                    <MudTabPanel Text="История" Icon="@Icons.Material.Filled.BugReport">
                        <HistoryPaymentsWrapperComponent PaymentId="PaymentId" />
                    </MudTabPanel>
                }
                @if (currentChatTelegram is not null)
                {
                    <MudTabPanel Text="Telegram">
                        <TelegramChatWrapComponent Chat="currentChatTelegram" />
                    </MudTabPanel>
                }
            </MudTabs>

            @if (PaymentId > 0)
            {
                <p class="card-text">
                    <small class="text-body-secondary">@editDoc.CreatedAtUTC.GetCustomTime() @editDoc.LastUpdatedAtUTC?.GetCustomTime()</small>
                </p>
            }
        }
    </div>
</div>