@using MudBlazor

@inherits BlazorBusyComponentUsersCachedModel

<MudStack AlignItems="AlignItems.Center" Row Class="mb-1">
    <div class="card">
        <div class="card-body p-1">
            <MudChipSet @bind-SelectedValues="SelectedPaymentsTypes"
                        SelectionMode="SelectionMode.MultiSelection"
                        CheckMark
                        Class="me-2"
                        Variant="Variant.Text"
                        Color="Color.Info">
                @foreach (PaymentsRetailTypesEnum pt in Enum.GetValues(typeof(PaymentsRetailTypesEnum)))
                {
                    <MudChip Value="@pt" Text="@pt.DescriptionInfo()" />
                }
            </MudChipSet>
        </div>
    </div>
    <div class="card mb-1">
        <div class="card-body p-1">
            <MudChipSet @bind-SelectedValues="SelectedPaymentsStatuses"
                        SelectionMode="SelectionMode.MultiSelection"
                        CheckMark
                        Variant="Variant.Text"
                        Color="Color.Surface">
                @foreach (PaymentsRetailStatusesEnum ps in Enum.GetValues(typeof(PaymentsRetailStatusesEnum)))
                {
                    <MudChip Value="@ps" Text="@ps.DescriptionInfo()" />
                }
            </MudChipSet>
        </div>
    </div>
    <MudSpacer />
    <MudDateRangePicker PickerVariant="@PickerVariant.Inline" @bind-DateRange="@DateRangeProp" Margin="Margin.Dense" Clearable />
</MudStack>
<MudTable ServerData="ServerReload"
          T="PaymentRetailDocumentModelDB"
          OnRowClick="RowClickEvent"
          Dense Hover
          Loading="IsBusyProgress"
          RowClass="@(RowClickEventHandler is null ? "" : "cursor-pointer")"
          @ref=_tableRef>
    <ToolBarContent>
        <MudText Typo="Typo.h6">Платежи (розница)</MudText>
        <MudSpacer />
        @if (RowClickEventHandler is null)
        {
            <MudButton Variant="Variant.Outlined"
                       IconColor="Color.Secondary"
                       OnClick=CreateNewOrderOpenDialog
                       EndIcon="@Icons.Material.Filled.Add">Создать платёж</MudButton>
        }
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Тип</MudTh>
        <MudTh>Статус</MudTh>
        <MudTh>Дата</MudTh>
        @if (string.IsNullOrWhiteSpace(ClientId))
        {
            <MudTh>Плательщик</MudTh>
        }
        <MudTh>Кошелёк</MudTh>
        <MudTh>Сумма</MudTh>
        <MudTh>Direct</MudTh>
        <MudTh>Описание</MudTh>
    </HeaderContent>
    <RowTemplate>
        @{
            DateTime pdt = context.DatePayment;
        }
        <MudTd DataLabel="Name"><a href="/retail/payment-document/@context.Id">@context.Name</a></MudTd>
        <MudTd DataLabel="Тип"><a href="/retail/payment-document/@context.Id">@context.TypePayment.DescriptionInfo()</a></MudTd>
        <MudTd DataLabel="Статус"><a href="/retail/payment-document/@context.Id">@context.StatusPayment.DescriptionInfo()</a></MudTd>
        <MudTd DataLabel="Дата">
            <a href="/retail/payment-document/@context.Id">@pdt.ToString("d", GlobalStaticConstants.RU)</a>
        </MudTd>
        @if (string.IsNullOrWhiteSpace(ClientId))
        {
            <MudTd DataLabel="Плательщик">@(UsersCache.FirstOrDefault(x => x.UserId == context.Wallet!.UserIdentityId)?.ToString() ?? context.Wallet!.UserIdentityId)</MudTd>
        }
        <MudTd DataLabel="Кошелёк">[@context.Wallet!.WalletType!.Name] '@context.Wallet.Name'</MudTd>
        <MudTd DataLabel="Сумма">@context.Amount</MudTd>
        <MudTd DataLabel="Direct">@context.PaymentSource</MudTd>
        <MudTd DataLabel="Описание">@context.Description</MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>Соответствующих записей не найдено</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
<MudDialog @bind-Visible="_visible" Options="_dialogOptions">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> Новый платёж (розница)
        </MudText>
    </TitleContent>
    <DialogContent>
        <CascadingValue Value="ClientId" Name="ClientId">
            <PaymentDocumentComponent />
        </CascadingValue>
    </DialogContent>
</MudDialog>