@using MudBlazor

@inherits HistoryViewBaseComponent

<MudTable ServerData="ServerReload" Dense Hover Loading="IsBusyProgress" @ref="tableRef">
    <ToolBarContent>
        <MudSpacer />
        <MudDateRangePicker PickerVariant="PickerVariant.Dialog"
                            @bind-DateRange="@DateRangePeriod"
                            PlaceholderStart="Start Date"
                            PlaceholderEnd="End Date"
                            Margin="Margin.Dense"
                            Label="Период"
                            Clearable
                            Editable />
    </ToolBarContent>
    <HeaderContent>
        <MudTh>DateTime</MudTh>
        <MudTh>Receiver</MudTh>
        <MudTh>Request</MudTh>
        <MudTh>Response</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="DateTime">
            @context.UTCTimestampInitReceive
            <sup title="время на выполнение операции">@(context.UTCTimestampFinalReceive - context.UTCTimestampInitReceive)</sup>
        </MudTd>
        <MudTd DataLabel="Receiver">
            <div class="vstack">
                <code>@context.ReceiverName</code>
                <span>@((OwnerBase.UsersCache.FirstOrDefault(x => x.UserId == context.SenderActionUserId)?.ToString() ?? context.SenderActionUserId))</span>
            </div>
        </MudTd>
        <MudTd DataLabel="Request">
            <pre style="max-height: 250px;"><code class="language-json">@context.RequestBody</code></pre>
        </MudTd>
        <MudTd DataLabel="Response">
            <pre style="max-height: 250px;"><code class="language-json">@context.ResponseBody</code></pre>
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>