@using MudBlazor
@inherits BlazorBusyComponentBaseModel

<MudTable ServerData="ServerReload" Dense Hover @ref=tableRef>
    <ToolBarContent>
        <MudText Typo="Typo.h6">
            Chats <sup @onclick=ReloadTableData title="click for reload/update" class="bi bi-arrow-clockwise text-primary-emphasis" style="cursor:pointer;"></sup>
        </MudText>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Username</MudTh>
        <MudTh>Type</MudTh>
        <MudTh>Users</MudTh>
        <MudTh>Updated</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">
            <a href="/telegram-chat/@context.Id">
                @context.FirstName @context.LastName
            </a>
            @if (!string.IsNullOrWhiteSpace(context.Title))
            {
                <sup class="ms-2">@context.Title</sup>
            }
        </MudTd>
        <MudTd DataLabel="Username"><a href="/telegram-chat/@context.Id">@context.Username</a></MudTd>
        <MudTd DataLabel="Type"><a href="/telegram-chat/@context.Id">@context.Type</a></MudTd>
        <MudTd DataLabel="Users">
            @if (context.UsersJoins is not null)
            {
                foreach (JoinUserChatViewModel ju in context.UsersJoins)
                {
                    <UserBadgeComponent JoinUserChat=ju />
                }
            }
        </MudTd>
        <MudTd DataLabel="Updated"><a href="/telegram-chat/@context.Id">@context.LastUpdateUtc</a></MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>