@inherits BlazorBusyComponentBaseModel

<MudTable ServerData="ServerReload" Dense Hover @ref=tableRef>
    <ToolBarContent>
        <MudText Typo="Typo.h6">
            Chats
            <sup @onclick=ReloadTableData title="click for reload/update" class="bi bi-arrow-clockwise text-primary-emphasis" style="cursor:pointer;"></sup>
        </MudText>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Title</MudTh>
        <MudTh>FirstName</MudTh>
        <MudTh>LastName</MudTh>
        <MudTh>Username</MudTh>
        <MudTh>Type</MudTh>
        <MudTh>Updated</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Title"><a href="/telegram-chat/@context.Id">@context.Title</a></MudTd>
        <MudTd DataLabel="FirstName"><a href="/telegram-chat/@context.Id">@context.FirstName</a></MudTd>
        <MudTd DataLabel="LastName"><a href="/telegram-chat/@context.Id">@context.LastName</a></MudTd>
        <MudTd DataLabel="Username"><a href="/telegram-chat/@context.Id">@context.Username</a></MudTd>
        <MudTd DataLabel="Type"><a href="/telegram-chat/@context.Id">@context.Type</a></MudTd>
        <MudTd DataLabel="Updated"><a href="/telegram-chat/@context.Id">@context.LastUpdateUtc</a></MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>