@inherits BlazorBusyComponentBaseModel

<span title="Click for open manage permissions" @onclick=OpenDialog class="badge text-bg-@(BadgeColor ?? "secondary") me-1" style="cursor:pointer;">
    @JoinUserChat.User!.GetName()
    @if (Selected.Count != 0)
    {
        <sup class="ms-2">
            @($"[{string.Join(", ", Selected.Select(x => x.ToString()))}]")
        </sup>
    }
</span>

<MudDialog @bind-Visible="_visible" Options="_dialogOptions">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.AdminPanelSettings" Class="mr-3" /> Edit permission for user
        </MudText>
    </TitleContent>
    <DialogContent>
        <p>@JoinUserChat.User.GetName()</p>
        <hr />
        <MudChipSet @bind-SelectedValues="Selected" CheckMark
                    T="TelegramUsersRolesEnum"
                    Color="Color.Info"
                    SelectionMode="SelectionMode.MultiSelection">
            @foreach (TelegramUsersRolesEnum tur in Enum.GetValues(typeof(TelegramUsersRolesEnum)))
            {
                <MudChip Value="@tur" />
            }
        </MudChipSet>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Submit" Class="px-10">Close</MudButton>
    </DialogActions>
</MudDialog>