@inherits BlazorBusyComponentBaseModel
@using MudBlazor

<nav class="bg-body-tertiary mb-2">
    <div class="container-fluid">
        <span class="navbar-brand" href="#">Фильтр: </span>
        <MudRadioGroup T="UsersAreasHelpDeskEnum?" Disabled="IsBusyProgress" @bind-Value="SelectedOption">
            <MudRadio T="UsersAreasHelpDeskEnum?" Value="@UsersAreasHelpDeskEnum.Executor">Я исполнитель</MudRadio>
            <MudRadio T="UsersAreasHelpDeskEnum?" Value="@UsersAreasHelpDeskEnum.Subscriber">Я подписчик</MudRadio>
            <MudRadio T="UsersAreasHelpDeskEnum?" Value="@UsersAreasHelpDeskEnum.Main">Все</MudRadio>
            <AuthorizeView Roles="@GlobalStaticConstantsRoles.Roles.Admin">
                <Authorized>
                    <MudRadio T="UsersAreasHelpDeskEnum?" Value="null">root</MudRadio>
                </Authorized>
            </AuthorizeView>
        </MudRadioGroup>
    </div>
</nav>

<div class="card">
    <div class="card-body">
        <CascadingValue Value="SetTab">
            <TabSetComponent IsSilent="true" AsPills="true">
                <TabComponent IsDisabled="IsBusyProgress" SystemName="@(nameof(HelpDeskJournalModesEnum.ActualOnly))" Title="Открытые">
                    <HelpDeskJournalComponent UserArea="SelectedOption" JournalMode="HelpDeskJournalModesEnum.ActualOnly" />
                </TabComponent>
                <TabComponent IsDisabled="IsBusyProgress" SystemName="@(nameof(HelpDeskJournalModesEnum.ArchiveOnly))" Title="Завершённые">
                    <HelpDeskJournalComponent UserArea="SelectedOption" JournalMode="HelpDeskJournalModesEnum.ArchiveOnly" />
                </TabComponent>
                <TabComponent IsDisabled="IsBusyProgress" SystemName="@(nameof(HelpDeskJournalModesEnum.All))" Title="Все">
                    <HelpDeskJournalComponent UserArea="SelectedOption" JournalMode="HelpDeskJournalModesEnum.All" />
                </TabComponent>
            </TabSetComponent>
        </CascadingValue>
    </div>
</div>

@code {
    HelpDeskJournalComponent _tab = default!;

    UsersAreasHelpDeskEnum? _selectedOption = UsersAreasHelpDeskEnum.Executor;
    public UsersAreasHelpDeskEnum? SelectedOption
    {
        get => _selectedOption;
        set
        {
            _selectedOption = value;
            _tab.SetArea(value);
            InvokeAsync(UpdateState);
        }
    }

    async Task UpdateState()
    {
        await SetBusyAsync();
        await _tab.TableRef.ReloadServerData();
        IsBusyProgress = false;
        _tab.StateHasChangedCall();
        StateHasChanged();
    }

    void SetTab(HelpDeskJournalComponent page)
    {
        _tab = page;
    }
}